
@{
    ViewData["Title"] = "Ambiente - Such";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1 class="title">Ambiente - Folha de Horas</h1>

<link rel="import" href="/elements/submenu/subMenuItemView.html">

<ul class="list-unstyled">
    <x-submenu link="@Url.Action("FolhaDeHoras", "Ambiente")" image="folhadehoras.png" title="Folhas de Horas"></x-submenu>
    <x-submenu link="@Url.Action("FolhaDeHoras_Validacao", "Ambiente")" image="folhadehoras.png" title="Validação"></x-submenu>
    <x-submenu link="@Url.Action("FolhaDeHoras_IntegracaoAjudaCusto", "Ambiente")" image="folhadehoras.png" title="Integração Aj Custo RH"></x-submenu>
    <x-submenu link="@Url.Action("FolhaDeHoras_IntegracaoKMS", "Ambiente")" image="folhadehoras.png" title="Integração KMs RH"></x-submenu>
    <x-submenu link="@Url.Action("FolhaDeHoras_Historico", "Ambiente")" image="folhadehoras.png" title="Histórico"></x-submenu>
</ul>


