
@{
    ViewData["Title"] = "Detalhes de Proposta " + ViewBag.Historic + ViewBag.ContractNo;
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<link rel="import" href="~/elements/contracts/proposal_details.html">

@*@if (ViewBag.ContractNo == "")
    {
        <h1 class="title">Criar Proposta</h1>
    }
    else
    {
        <h1 class="title">Proposta @ViewBag.ContractNo</h1>
    }*@


<x-proposalsdetails
                    _archived="@ViewBag.Archived"
                    _contractno="@ViewBag.ContractNo"
                    _versionno="@ViewBag.VersionNo"
                    _reportserverurl='@ViewBag.reportServerURL'
                    _areaid="@ViewBag.ID"
                    _permissions='@Html.Raw(Json.Serialize(ViewBag.UPermissions))'
></x-proposalsdetails>