
@{
    ViewData["Title"] = "Diário de Cafetarias";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<link rel="import" href="/lib/vaadin-grid/vaadin-grid.html" />
<link rel="import" href="/lib/vaadin-grid/vaadin-grid-sorter.html" />
<link rel="import" href="/lib/vaadin-grid/vaadin-grid-sort-behavior.html" />
<link rel="import" href="/lib/vaadin-grid/vaadin-grid-filter.html" />
<link rel="import" href="/lib/vaadin-grid/vaadin-grid-filter-behavior.html" />
<link rel="import" href="/lib/iron-form/iron-form.html" />
<link rel="import" href="/lib/paper-button/paper-button.html" />
<link rel="import" href="~/lib/vaadin-valo-theme/vaadin-text-field.html">
<link rel="import" href="~/lib/vaadin-text-field/vaadin-text-field.html">
<link rel="import" href="/lib/paper-toast-master/paper-toast.html" />
<link rel="import" href="/lib/vaadin-valo-theme/vaadin-combo-box.html" />
<link rel="import" href="/lib/vaadin-combo-box/vaadin-combo-box.html" />
<link rel="import" href="/lib/vaadin-combo-box/vaadin-combo-box-behavior.html" />
<!--ACORDEÃO-->
<link rel="import" href="/lib/paper-collapse-item/paper-collapse-group.html">
<link rel="import" href="/lib/paper-collapse-item/paper-collapse-item.html">
<link rel="import" href="~/lib/paper-tabs-master/paper-tabs.html" />
<!--Datepicker com correção de bug que impede visualização nas grids -->
<link rel="import" href="/lib/vaadin-date-picker-3.0.0-alpha1/vaadin-date-picker.html">
<!--link rel="import" href="~/lib/vaadin-date-picker/vaadin-date-picker.html"-->

<x-coffeeshopdiary _areaid="3" _permissions='@Html.Raw(Json.Serialize(ViewBag.UPermissions))'></x-coffeeshopdiary>

<dom-module id="x-coffeeshopdiary">
    <template>
        <link rel="stylesheet" href="/lib/bootstrap/dist/css/bootstrap.css" />
        <link rel="stylesheet" href="/lib/font-awesome-4.7.0/css/font-awesome.min.css" />
        <link rel="stylesheet" href="/css/main.css" />

        <custom-style>
            <style is="custom-style">
                input[readonly] {
                    border: 2px solid transparent;
                }

                input {
                    font: inherit;
                }

                .grid {
                    font-size: 13px;
                }

                    .grid input {
                        border: none;
                        padding-left: 5px;
                    }

                paper-input {
                    max-width: 200px !important;
                }
            </style>
        </custom-style>

        <iron-ajax url="/CafetariasRefeitorios/GetCoffeShopDiaryDetails"
                   last-response="{{diary}}"
                   method="post"
                   handle-as="json"
                   id="diary_databound"
                   content-type="application/json"></iron-ajax>

        <iron-ajax url="/CafetariasRefeitorios/GetCoffeShopDiary"
                   last-response="{{result}}"
                   method="post"
                   handle-as="json"
                   id="grid_databound_ajax"
                   content-type="application/json"></iron-ajax>

        <iron-ajax url="/CafetariasRefeitorios/CreateCoffeeShopsDiary"
                   last-response="{{created}}"
                   method="post"
                   handle-as="json"
                   id="create_databound_ajax"
                   on-response="_responseCreated"
                   content-type="application/json"></iron-ajax>

        <iron-ajax url="/CafetariasRefeitorios/DeleteCoffeeShopsDiaryLine"
                   last-response="{{deleted}}"
                   method="post"
                   handle-as="json"
                   id="delete_databound_ajax"
                   on-response="_responseDeleted"
                   content-type="application/json"></iron-ajax>

        <iron-ajax url="/CafetariasRefeitorios/UpdateCoffeeShopsDiaryLine"
                   last-response="{{updated}}"
                   method="post"
                   handle-as="json"
                   id="update_databound_ajax"
                   on-response="_responseUpdate"
                   content-type="application/json"></iron-ajax>

        <iron-ajax url="/CafetariasRefeitorios/CoffeeShopsDiaryLineRegister"
                   last-response="{{registed}}"
                   method="post"
                   handle-as="json"
                   id="register_databound_ajax"
                   on-response="_responseRegister"
                   content-type="application/json"></iron-ajax>

        <iron-ajax url="/PopulateDropdowns/GetTiposMovimento" last-response="{{CBMovementType}}" auto method="post" handle-as="json" content-type="application/json"></iron-ajax>

        <div class="subMenu">
            <paper-button class="tablinks" on-tap="_goBack" title="Voltar"><i class="fa fa-arrow-left" aria-hidden="true"></i> Voltar</paper-button>

            <template is="dom-if" if="{{ _permissions.update }}">
                <paper-button id="btnSaveLine" class="tablinks" on-tap="_updateDiaryLines"><i class="fa fa-floppy-o" aria-hidden="true"></i>&nbsp; Guardar</paper-button>
            </template>

            <paper-button id="btnCancel" class="tablinks btnRemove" on-tap="_cancel"><i class="fa fa-undo" aria-hidden="true"></i>&nbsp; Cancelar</paper-button>

            <template is="dom-if" if="{{ _permissions.create }}">
                <paper-button id="btnRegisterLine" class="tablinks" on-tap="_registerDiaryLines"><i class="fa fa-list-ol" aria-hidden="true"></i>&nbsp; Registar</paper-button>
            </template>
        </div>
        <paper-collapse-group>
            <paper-collapse-item class="panel-heading" header="Novo Registo" closed>
                <div class="row">
                    <div class="col-lg-2">
                        <vaadin-text-field id="produtiveUnityNo" name="produtiveUnityNo" value="{{diary.produtiveUnityNo}}" label="Unidade Produtiva" disabled></vaadin-text-field>
                    </div>
                    <div class="col-lg-2">
                        <vaadin-text-field id="coffeShopCode" name="coffeShopCode" value="{{diary.coffeShopCode}}" label="Codigo Cafetaria/Ref" disabled></vaadin-text-field>
                    </div>
                    <div class="col-lg-2">
                        <vaadin-date-picker label="Data Registo" max="{{diary.dateToday}}" value="{{diary.registryDate}}" id="registryDate" name="registryDate"></vaadin-date-picker>
                    </div>
                    <div class="col-lg-2">
                        <vaadin-combo-box items="[[CBMovementType]]" id="cbmovementType" item-value-path="id" item-label-path="value" value="{{diary.movementType}}" label="Tipo de Movimento">
                            <template>
                                <paper-icon-item>
                                    <paper-item-body two-line>
                                        <div>[[item.value]]</div>
                                    </paper-item-body>
                                </paper-icon-item>
                            </template>
                        </vaadin-combo-box>
                    </div>
                    <div class="col-lg-2">
                        <vaadin-text-field id="description" name="description" value="{{diary.description}}" label="Descrição"></vaadin-text-field>
                    </div>
                    <div class="col-lg-2">
                        <vaadin-text-field id="value" name="value" pattern="^[1-9]\d*([,.]\d+)?$" on-value-changed="_ConvertDecimals" error-message="Valor inválido" value="{{diary.value}}" label="Valor"></vaadin-text-field>
                    </div>

                </div>
                <div class="row">
                    <div class="col-lg-1">
                        <template is="dom-if" if="{{ _permissions.create }}">
                            <paper-button class="btnSave" raised on-tap="_createCoffeeShopDiary"><i class="fa fa-plus" aria-hidden="true"></i>&nbsp;Criar</paper-button>
                        </template>
                    </div>
                </div>
            </paper-collapse-item>
        </paper-collapse-group>

        <vaadin-grid id="grdContractsGrid" aria-label="ContractsGrid" items="[[result]]" class="grid" active-item="{{activeItem}}" multi-sort="true">
            <vaadin-grid-column width="120px">
                <template class="header">
                    <vaadin-grid-sorter path="produtiveUnityNo">Unidade Produtiva</vaadin-grid-sorter>
                    <vaadin-grid-filter path="produtiveUnityNo" />
                </template>
                <template>
                    <vaadin-text-field id="produtiveUnityNoGrid" name="produtiveUnityNoGrid" value="{{item.produtiveUnityNo}}" disabled></vaadin-text-field>

                </template>
            </vaadin-grid-column>
            <vaadin-grid-column width="110px">
                <template class="header">
                    <vaadin-grid-sorter path="coffeShopCode">Código Cafetaria/Ref	</vaadin-grid-sorter>
                    <vaadin-grid-filter path="coffeShopCode" />
                </template>
                <template>
                    <vaadin-text-field id="coffeShopCodeGrid" name="coffeShopCodeGrid" value="{{item.coffeShopCode}}" disabled></vaadin-text-field>

                </template>
            </vaadin-grid-column>
            <vaadin-grid-column width="110px">
                <template class="header">
                    <vaadin-grid-sorter path="registryDate">Data Registo</vaadin-grid-sorter>
                    <vaadin-grid-filter path="registryDate" />
                </template>
                <template>
                    <!--input type="date" id="registryDateGrid" name="registryDateGrid" max="{{diary.dateToday}}" value="{{item.registryDate}}"-->
                    <vaadin-date-picker id="registryDateGrid" name="registryDateGrid" max="{{diary.dateToday}}" value="{{item.registryDate}}"></vaadin-date-picker>
                </template>
            </vaadin-grid-column>
            <vaadin-grid-column width="200px">
                <template class="header">
                    <vaadin-grid-sorter path="movementType">Tipo Movimento</vaadin-grid-sorter>
                    <vaadin-grid-filter path="movementType" />
                </template>
                <template>
                    <vaadin-combo-box items="[[CBMovementType]]" id="cbmovementTypeGrid" item-value-path="id" item-label-path="value" value="{{item.movementType}}">
                        <template>
                            <paper-icon-item>
                                <paper-item-body two-line>
                                    <div>[[item.value]]</div>
                                </paper-item-body>
                            </paper-icon-item>
                        </template>
                    </vaadin-combo-box>
                </template>
            </vaadin-grid-column>
            <vaadin-grid-column width="200px">
                <template class="header">
                    <vaadin-grid-sorter path="description">Descrição</vaadin-grid-sorter>
                    <vaadin-grid-filter path="description" />
                </template>
                <template>
                    <vaadin-text-field id="descriptionGrid" name="descriptionGrid" value="{{item.description}}"></vaadin-text-field>
                </template>
            </vaadin-grid-column>
            <vaadin-grid-column width="110px">
                <template class="header">
                    <vaadin-grid-sorter path="value">Valor</vaadin-grid-sorter>
                    <vaadin-grid-filter path="value" />
                </template>
                <template>
                    <vaadin-text-field id="valueGrid" name="valueGrid" pattern="^[1-9]\d*([,.]\d+)?$" on-value-changed="_ConvertDecimals" value="{{item.value}}"></vaadin-text-field>
                </template>
            </vaadin-grid-column>
            <template is="dom-if" if="{{ _permissions.delete }}">
                <vaadin-grid-column width="10%" resizable>
                    <template class="header">
                    </template>
                    <template>
                        <center>
                            <template is="dom-if" if="{{ _permissions.delete }}">
                                <paper-button class="btnRemove" raised on-tap="_deleteDiaryLine">Eliminar</paper-button>
                            </template>
                        </center>
                    </template>
                </vaadin-grid-column>
            </template>
        </vaadin-grid>


        @*<div class="marginSpace">
            <template is="dom-if" if="{{ _permissions.update }}">
                <paper-button raised id="btnSaveLine" class="btnSave" on-tap="_updateDiaryLines"><i class="fa fa-floppy-o" aria-hidden="true"></i>&nbsp; Guardar</paper-button>
            </template>

            <template is="dom-if" if="{{ _permissions.create }}">
                <paper-button raised id="btnRegisterLine" class="btnSave" on-tap="_registerDiaryLines"><i class="fa fa-list-ol" aria-hidden="true"></i>&nbsp; Registar</paper-button>
            </template>
        </div>*@

        <paper-toast id="ToastMessage" duration="4000" horizontalAlign="right" class="toastSuccess">&nbsp;<i class="fa fa-check fa-lg" aria-hidden="true"></i></paper-toast>
        <paper-toast id="ToastError" duration="4000" horizontalAlign="right" class="toastError">&nbsp;<i class="fa fa-exclamation-triangle" aria-hidden="true"></i></paper-toast>
    </template>

    <script>
    document.addEventListener('WebComponentsReady', function () {
    Polymer({
        is: 'x-coffeeshopdiary',
        properties: {
            movementType: {
                type: Number,
                notify: true,
                value: ""
            },

            _permissions: {
                type: Array
            },
        },
        ready: function () {
            //GET CONTRACT DATA
            this.$.diary_databound.body = JSON.stringify({ "CoffeShopCode": @ViewBag.CoffeeShopNo, "ProdutiveUnityNo": @ViewBag.ProdutiveUnityNo  });
            this.$.diary_databound.generateRequest();

            this.$.grid_databound_ajax.body = JSON.stringify({ "CoffeShopCode": @ViewBag.CoffeeShopNo, "ProdutiveUnityNo": @ViewBag.ProdutiveUnityNo  });
            this.$.grid_databound_ajax.generateRequest();

            var _this = this;
            $(window).resize(function () {
                _this.fixGridToBottom();
            });
            $(window).trigger('resize');
        },

        fixGridToBottom: function () {
            var grid_el = $(this.$.grdContractsGrid);
            var parentHeight = $(this).offsetParent().height();
            var offsetTop = $(this).offset().top;
            var height = parentHeight - offsetTop;
            grid_el.height(height);
        },

        _cancel: function (e) {
            this.$.grid_databound_ajax.body = JSON.stringify({ "CoffeShopCode": @ViewBag.CoffeeShopNo, "ProdutiveUnityNo": @ViewBag.ProdutiveUnityNo  });
            this.$.grid_databound_ajax.generateRequest();
        },

        _createCoffeeShopDiary: function () {
            this.$.create_databound_ajax.body = JSON.stringify(this.diary);
            this.$.create_databound_ajax.generateRequest();
        },

        _responseCreated: function (created) {
            var self = this;
            if (created.detail.status === 200) {
                if (this.created == true) {
                    this.$.grid_databound_ajax.body = JSON.stringify({ "CoffeShopCode": @ViewBag.CoffeeShopNo, "ProdutiveUnityNo": @ViewBag.ProdutiveUnityNo  });
                    this.$.grid_databound_ajax.generateRequest();
                    this._openToast("Diário Cafetaria/Refeitório criado com sucesso.");
                } else {
                    this._openToastError("Ocorreu um erro desconhecido.");
                }
            } else {
                this._openToastError("Ocorreu um erro desconhecido.");
            }
        },

        _deleteDiaryLine: function (e) {

            this.$.delete_databound_ajax.body = JSON.stringify(e.model.item);
            this.$.delete_databound_ajax.generateRequest();
        },

        _responseDeleted: function (deleted) {
            var self = this;
            if (deleted.detail.status === 200) {
                if (this.deleted == true) {
                    this.$.grid_databound_ajax.body = JSON.stringify({ "CoffeShopCode": @ViewBag.CoffeeShopNo, "ProdutiveUnityNo": @ViewBag.ProdutiveUnityNo  });
                    this.$.grid_databound_ajax.generateRequest();
                    this._openToast("Diário Cafetaria/Refeitório eliminado com sucesso.");
                } else {
                    this._openToastError("Ocorreu um erro desconhecido.");
                }
            } else {
                this._openToastError("Ocorreu um erro desconhecido.");
            }
        },

        _updateDiaryLines: function () {
            this.$.update_databound_ajax.body = JSON.stringify(this.result);
            this.$.update_databound_ajax.generateRequest();
        },

        _responseUpdate: function (updated) {
            var self = this;
            if (updated.detail.status === 200) {
                if (this.updated == true) {
                    this.$.grid_databound_ajax.body = JSON.stringify({ "CoffeShopCode": @ViewBag.CoffeeShopNo, "ProdutiveUnityNo": @ViewBag.ProdutiveUnityNo  });
                    this.$.grid_databound_ajax.generateRequest();
                    this._openToast("Diário Cafetaria/Refeitório atualizado com sucesso.");
                } else {
                    this._openToastError("Ocorreu um erro desconhecido.");
                }
            } else {
                this._openToastError("Ocorreu um erro desconhecido.");
            }
        },
        _ConvertDecimals: function (e) {
            e.target.value = e.target.value.replace(",", ".");
        },


        _registerDiaryLines: function () {
            this.$.register_databound_ajax.body = JSON.stringify(this.result);
            this.$.register_databound_ajax.generateRequest();
        },
        _responseRegister: function (registed) {
            var self = this;
            if (registed.detail.status === 200) {
                if (this.registed == true) {
                    this.$.grid_databound_ajax.body = JSON.stringify({ "CoffeShopCode": @ViewBag.CoffeeShopNo, "ProdutiveUnityNo": @ViewBag.ProdutiveUnityNo  });
                    this.$.grid_databound_ajax.generateRequest();
                    this._openToast("Diário Cafetaria/Refeitório registado com sucesso.");
                } else {
                    this._openToastError("Ocorreu um erro desconhecido.");
                }
            } else {
                this._openToastError("Ocorreu um erro desconhecido.");
            }

        },

        _openToast: function (message) {
            this.$.ToastMessage.text = message;
            this.$.ToastMessage.open();
        },

        _openToastError: function (message) {
            this.$.ToastError.text = message;
            this.$.ToastError.open();
        },
        _goBack: function (e) {
            window.history.back();
        }
        });
    });
    </script>
</dom-module>
