
@{
    ViewData["Title"] = "Projetos e Obras - Such";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1 class="title">P&O - Folha de Horas</h1>

<link rel="import" href="/elements/submenu/subMenuItemView.html">

<ul class="list-unstyled">
    <x-submenu link="@Url.Action("FolhaDeHoras", "PO")" image="folhadehoras.png" title="FH Criadas"></x-submenu>
    <x-submenu link="@Url.Action("FolhaDeHoras_Validacao", "PO")" image="folhadehoras.png" title="FH Por Validadar"></x-submenu>
    <x-submenu link="@Url.Action("FolhaDeHoras_IntegracaoAjudaCusto", "PO")" image="folhadehoras.png" title="FH Por Integrar Aj Custo RH"></x-submenu>
    <x-submenu link="@Url.Action("FolhaDeHoras_IntegracaoKMS", "PO")" image="folhadehoras.png" title="FH Por Integrar KMs RH"></x-submenu>
    <x-submenu link="@Url.Action("FolhaDeHoras_Historico", "PO")" image="folhadehoras.png" title="FH Histórico"></x-submenu>
</ul>



