
@{
    ViewData["Title"] = "Projetos e Obras - Such";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1 class="title">P&O</h1>

<link rel="import" href="/elements/submenu/subMenuItemView.html">

<ul class="list-unstyled">
    <x-submenu link="@Url.Action("Oportunidades", "PO")" image="opportunity.png" title="Oportunidades"></x-submenu>
    <x-submenu link="@Url.Action("Propostas", "PO")" image="proposal.png" title="Propostas"></x-submenu>
    <x-submenu link="@Url.Action("Contratos", "PO")" image="contract.png" title="Contratos"></x-submenu>
    <x-submenu link="@Url.Action("AvencaFixa", "Contratos")" image="avencafixa.png" title="Faturação Contratos Avença Fixa"></x-submenu>
    <x-submenu link="@Url.Action("Projetos", "PO")" image="projects1.png" title="Projetos"></x-submenu>
    <x-submenu link="@Url.Action("DiarioProjeto", "PO")" image="diarioprojetos.png" title="Diário Projetos"></x-submenu>

    <x-submenu link="@Url.Action("AutorizacaoFaturacao", "Projetos")" image="projects1.png" title="Autorização Faturação"></x-submenu>
    <x-submenu link="@Url.Action("FolhaDeHoras_Index", "PO")" image="folhadehoras.png" title="Folhas De Horas"></x-submenu>
    <x-submenu link="@Url.Action("Administracao", "PO")" image="auxiliary1.png" title="Administração"></x-submenu>
</ul>



