
@{
    if (ViewBag.Option == "historico")
    {
        ViewData["Title"] = "Histórico Requisições Simplificadas";
    }
    else if (ViewBag.Option == "registar")
    {
        ViewData["Title"] = "Requisições Simplificadas para Registar";
    }
    else
    {
        ViewData["Title"] = "Requisições Simplificadas";
    }
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<link rel="import" href="/lib/paper-tabs-master/paper-tab.html" />
<link rel="import" href="/lib/paper-tabs-master/paper-tabs.html" />
<link rel="import" href="/lib/iron-pages-master/iron-pages.html" />
<link rel="import" href="/lib/iron-menu-behavior/iron-menubar-behavior.html" />
<link rel="import" href="/lib/iron-form/iron-form.html" />
<link rel="import" href="/lib/paper-button/paper-button.html" />
<link rel="import" href="/lib/paper-input/paper-input.html" />
<link rel="import" href="/lib/paper-toast-master/paper-toast.html" />
<link rel="import" href="/lib/vaadin-valo-theme/vaadin-date-picker.html">
<link rel="import" href="~/lib/vaadin-date-picker/vaadin-date-picker.html">
<link rel="import" href="/lib/vaadin-valo-theme/vaadin-checkbox.html">
<link rel="import" href="/lib/vaadin-text-field/vaadin-text-field.html">
<link rel="import" href="/lib/vaadin-grid/vaadin-grid.html">
<link rel="import" href="/lib/vaadin-grid/vaadin-grid-sorter.html">
<link rel="import" href="/lib/vaadin-grid/vaadin-grid-filter.html">
<link rel="import" href="/lib/vaadin-checkbox/vaadin-checkbox.html">
<link rel="import" href="/lib/vaadin-combo-box/vaadin-combo-box.html" />
<link rel="import" href="/lib/paper-dialog/paper-dialog.html" />
<link rel="import" href="/lib/paper-dialog-behavior/paper-dialog-behavior.html" />
<link rel="import" href="/lib/vaadin-grid/vaadin-grid-selection-column.html" />
<link rel="import" href="/lib/vaadin-grid/vaadin-grid-active-item-behavior.html" />
<link rel="import" href="/lib/vaadin-grid/vaadin-grid-selection-behavior.html" />
<link rel="import" href="/lib/such-selectbox/such-selectbox.html">
<link rel="import" href="/lib/such-textarea/such-textarea.html">
<link rel="import" href="/lib/paper-collapse-item/paper-collapse-group.html">
<link rel="import" href="/lib/paper-collapse-item/paper-collapse-item.html">

<x-simplifiedreqdetails _requestno="@ViewBag.RequestNo" _permissions='@Html.Raw(Json.Serialize(ViewBag.UPermissions))'></x-simplifiedreqdetails>

<dom-module id="x-simplifiedreqdetails">
    <template>
        <!-- STYLES -->
        <link rel="stylesheet" href="/lib/bootstrap/dist/css/bootstrap.css" />
        <link rel="stylesheet" href="/lib/font-awesome-4.7.0/css/font-awesome.min.css" />
        <link rel="stylesheet" href="/css/main.css" />
        <style>
            vaadin-combo-box {
                margin-top: 0px !important;
                width: 100% !important;
            }

            vaadin-date-picker {
                margin-top: 0px !important;
                width: 100% !important;
            }

            vaadin-text-field {
                margin-top: 0px !important;
                width: 100%;
            }

            paper-button {
                margin-top: 10px;
            }

            .break_clear {
                margin-top: 15px;
                margin-right: 0px !important;
                margin-left: 0px !important;
            }

            .break_frm {
                margin-top: 15px;
            }

            .marginSpace {
                margin: 0px !important;
            }


            /*ACORDEÃO*/
            paper-collapse-item {
                --paper-item: {
                    padding: 0 0;
                };
                --paper-collapse-item-header: {
                    padding: 0 15px;
                    color: #333;
                    background-color: #f5f5f5;
                    border-bottom: solid #ddd 1px;
                    border-top-left-radius: 3px;
                    border-top-right-radius: 3px;

                };
            }
        </style>

        <!-- DROPDOWNS POPULATE -->
        <iron-ajax url="/PopulateDropdowns/GetFunctionalAreaCode" last-response="{{CBFunctionalAreaCodes}}" auto method="post" handle-as="json" content-type="application/json"></iron-ajax>
        <iron-ajax url="/PopulateDropdowns/GetResponsabilityCenterCode" last-response="{{CBResponsabilityCenterCodes}}" auto method="post" handle-as="json" content-type="application/json"></iron-ajax>
        <iron-ajax url="/PopulateDropdowns/GetRegionCode" last-response="{{CBRegionCodes}}" auto method="post" handle-as="json" content-type="application/json"></iron-ajax>
        <iron-ajax url="/PopulateDropdowns/GetLocations" last-response="{{CBLocations}}" auto method="post" handle-as="json" content-type="application/json"></iron-ajax>
        <iron-ajax url="/PopulateDropdowns/GetProjectList" last-response="{{CBProjects}}" auto method="post" handle-as="json" content-type="application/json"></iron-ajax>
        <iron-ajax url="/PopulateDropdowns/GetProjects" last-response="{{sbProjects}}" auto method="post" handle-as="json" content-type="application/json"></iron-ajax>
        <iron-ajax url="/PopulateDropdowns/GetMealTypes" last-response="{{CBMealType}}" auto method="post" handle-as="json" content-type="application/json"></iron-ajax>
        <iron-ajax url="/PopulateDropdowns/GetUnitStockeeping" last-response="{{CBProductos}}" auto method="post" handle-as="json" content-type="application/json"></iron-ajax>
        <iron-ajax url="/PopulateDropdowns/GetUnitOfMeasureByCode" last-response="{{CBMeasureUnits}}" auto method="post" handle-as="json" content-type="application/json"></iron-ajax>
        <iron-ajax url="/PopulateDropdowns/GetRequisitionsStatus" last-response="{{GetRequisitionsStatus}}" auto method="post" handle-as="json" content-type="application/json"></iron-ajax>
        <iron-ajax url="/PopulateDropdowns/GetEmployees" last-response="{{CBEmployees}}" auto method="post" handle-as="json" content-type="application/json"></iron-ajax>
        <!-- PROJECT CRUDS -->

        <iron-ajax url="/RequisicoesSimplificadas/GetSimplifiedRequisitionData"
                   last-response="{{result}}"
                   method="post"
                   handle-as="json"
                   id="page_databound_ajax"
                   on-response="_responseProcessor"
                   content-type="application/json"></iron-ajax>

        <iron-ajax url="/RequisicoesSimplificadas/GetSimplifiedRequisitionModel"
                   last-response="{{result}}"
                   method="post"
                   handle-as="json"
                   id="page_databound_ajax2"
                   on-response="_responseProcessor2"
                   content-type="application/json"></iron-ajax>

        <iron-ajax last-response="{{dataLines}}"
                   method="post"
                   handle-as="json"
                   id="updatemultiLine_ajax"
                   content-type="application/json"></iron-ajax>

        <iron-ajax last-response="{{requisitions}}"
                   method="post"
                   handle-as="json"
                   id="register_requisitions_ajax"
                   on-response="_responseProcessorRegister"
                   content-type="application/json"></iron-ajax>

        <iron-ajax last-response="{{dataLines}}"
                   method="post"
                   handle-as="json"
                   id="contractLines_databound_ajax"
                   on-response="_responseContractLines"
                   content-type="application/json"></iron-ajax>

        <iron-ajax last-response="{{updateLines}}"
                   method="post"
                   handle-as="json"
                   on-response="_responseProcessorLines"
                   id="update_lines_requisition_ajax"
                   content-type="application/json"></iron-ajax>

        <iron-ajax url="/RequisicoesSimplificadas/DeleteSimplifiedRequisition"
                   last-response="{{deletedData}}"
                   method="post"
                   handle-as="json"
                   id="ajax_delete_project"
                   on-response="_responseDeleteProcessor"
                   content-type="application/json"></iron-ajax>

        <iron-ajax url="/RequisicoesSimplificadas/DeleteSimplifiedRequisitionLines"
                   last-response="{{deletedData}}"
                   method="post"
                   handle-as="json"
                   id="ajax_delete_lines_project"
                   on-response="_responseDeleteLinesProcessor"
                   content-type="application/json"></iron-ajax>

        <iron-ajax last-response="{{resultModels}}"
                   method="post"
                   handle-as="json"
                   id="get_models_ajax"
                   on-response="_responseGetModels"
                   content-type="application/json"></iron-ajax>

        <iron-ajax url="/RequisicoesSimplificadas/ValidateNumeration"
                   last-response="{{validateResponse}}"
                   method="post"
                   handle-as="json"
                   id="page_validator_ajax"
                   on-response="_responseReqValidatorProcessor"
                   content-type="application/json"></iron-ajax>

        <template is="dom-if" if="{{ !_isCreate }}">
            <div class="row">
                <div class="col-lg-12">

                    <div class="subMenu">
                        <paper-button class="tablinks" on-tap="_goBack" title="Voltar"><i class="fa fa-arrow-left" aria-hidden="true"></i> Voltar</paper-button>

                        <template is="dom-if" if="{{ _permissions.create }}">
                            <paper-button class="tablinks" on-tap="_createNew"><i class="fa fa-plus-square" aria-hidden="true"></i> Nova Requisição</paper-button>
                        </template>
                        <template is="dom-if" if="{{ _permissions.update }}">
                            <paper-button class="tablinks" on-tap="_finishRequisition"><i class="fa fa-check-square" aria-hidden="true"></i> Terminar Requisição</paper-button>
                        </template>
                    </div>

                </div>
            </div>

        </template>
        <template is="dom-if" if="{{ _isCreate }}">
            <div class="row">
                <div class="col-lg-12">
                    <template is="dom-if" if="{{ _permissions.create }}">
                        <div class="subMenu">
                            <paper-button class="tablinks" on-tap="_copyModel"><i class="fa fa-clone" aria-hidden="true"></i> Copiar Requisição de Modelo</paper-button>
                            <paper-button class="tablinks" on-tap="_copyHistory"><i class="fa fa-clone" aria-hidden="true"></i> Copiar Requisição de Histórico</paper-button>
                        </div>
                    </template>
                </div>
            </div>

        </template>
        &nbsp;
        @* Botões de registar requisições aprovadas*@
        <div class="subMenu" id="ddsubMenu">
            <paper-button class="tablinks" on-tap="_registeRequisiApproval"><i class="fa fa-chevron-circle-down" aria-hidden="true"></i> Registar Linhas de Diário</paper-button>
            <paper-button class="tablinks" on-tap="_desaprovarRequisiApproval"><i class="fa fa-check-square" aria-hidden="true"></i> Desaprovar Requisições</paper-button>
            <paper-button class="tablinks" on-tap="_historyRequisiApproval"><i class="fa fa-check-square" aria-hidden="true"></i> Arquivar Requisições</paper-button>
        </div>
        &nbsp;
        <div class="row break_frm">
            <div class="col-md-12 col-lg-12">
                <div class="panel panel-default">
                    <div class="panel-heading">Cabeçalho</div>
                    <div class="panel-body">
                        <iron-form id="formContract">
                            <paper-tabs fit-container no-slide autoselect autoselect-delay="0" selected="{{selected}}">
                                <paper-tab>Geral</paper-tab>
                                <paper-tab>Detalhe</paper-tab>
                            </paper-tabs>
                            <iron-pages selected="{{selected}}">
                                <!--Geral-->
                                <div>
                                    <div class="row break_clear">
                                        <div class="col-lg-3">
                                            <vaadin-text-field value="{{_requestno}}" maxlength="20" id="lRequestNo" name="lRequestNo" label="Nº" required error-message="Este campo é obrigatório" disabled> </vaadin-text-field>
                                        </div>
                                        <div class="col-lg-3">
                                            <vaadin-combo-box items="[[GetRequisitionsStatus]]" id="LStatus" selected="1" item-value-path="id" item-label-path="value" value="{{result.status}}" label="Estado" disabled>
                                                <template>
                                                    <b>[[item.value]]</b>
                                                </template>
                                            </vaadin-combo-box>
                                        </div>
                                        <div class="col-lg-3 alignPoga">
                                            <vaadin-checkbox checked="{{result.finished}}" disabled>Terminada</vaadin-checkbox>
                                        </div>
                                        <div class="col-lg-3">
                                            <vaadin-combo-box items="[[CBLocations]]" id="LocationCode" item-value-path="id" item-label-path="value" value="{{result.locationCode}}" label="Cód. Localização" disabled="{{ !_permissions.update }}" on-value-changed="_locationCodeChanged">
                                                <template>
                                                    <b>[[item.id]]</b>
                                                    <b>[[item.value]]</b>
                                                </template>
                                            </vaadin-combo-box>
                                        </div>
                                    </div>
                                    <div class="row break_clear">
                                        <div class="col-lg-3">
                                            <such-selectbox id="ProjectNo" name="ProjectNo" value="{{result.projectNo}}" label="Nº Projeto" on-value-changed="_projectoNoChanged" disabled="@ViewBag.LockFields"
                                                            items="[[sbProjects]]"
                                                            text-path="nºProjeto"
                                                            value-path="nºProjeto"
                                                            fields='[{"field":"nºProjeto", "name":"Código"}, {"field":"descrição", "name":"Descrição"}, {"field":"nºCliente", "name":"Nº Cliente"}]'>
                                            </such-selectbox>
                                        </div>
                                        <div class="col-lg-3">
                                            <vaadin-combo-box items="[[CBEmployees]]" id="LEmployeeNo" name="LEmployeeNo" item-value-path="id" item-label-path="value" value="{{result.employeeNo}}" label="Funcionário" disabled="{{ !_permissions.create }}">
                                                <template>
                                                    <paper-icon-item>
                                                        <paper-item-body two-line>
                                                            [[item.id]]
                                                            <b>[[item.value]]</b>
                                                        </paper-item-body>
                                                    </paper-icon-item>
                                                </template>
                                            </vaadin-combo-box>
                                        </div>
                                        <div class="col-lg-3">
                                            <vaadin-combo-box items="[[CBMealType]]" id="LMealType" item-value-path="id" item-label-path="value" value="{{result.mealType}}" on-value-changed="_mealTypeChanged" label="Tipo Refeição" disabled="{{ !_permissions.create }}">
                                                <template>
                                                    <b>[[item.id]]</b>
                                                    <b>[[item.value]]</b>
                                                </template>
                                            </vaadin-combo-box>
                                        </div>
                                        <div class="col-lg-3">
                                            <vaadin-text-field id="LTotalCost" name="LTotalCost" label="Custo Total" disabled> </vaadin-text-field>
                                        </div>
                                    </div>
                                    <div class="row break_clear">
                                        <div class="col-lg-3">
                                            <vaadin-combo-box items="[[CBRegionCodes]]" id="RegionCode" item-value-path="id" item-label-path="value" value="{{result.regionCode}}" label="Cód. Região" disabled="{{ !_permissions.create }}" on-value-changed="_regionCodeChanged">
                                                <template>
                                                    <table width="180px">
                                                        <tr>
                                                            <td width="20%">[[item.id]]</td>
                                                            <td width="80%"> <b>[[item.value]]</b></td>
                                                        </tr>
                                                    </table>
                                                </template>
                                            </vaadin-combo-box>
                                        </div>
                                        <div class="col-lg-3">
                                            <vaadin-combo-box items="[[CBFunctionalAreaCodes]]" id="FunctionalAreaCode" item-value-path="id" item-label-path="value" value="{{result.functionalAreaCode}}" label="Cód. Área Funcional" disabled="{{ !_permissions.create }}" on-value-changed="_areaCodeChanged">
                                                <template>
                                                    <table width="500px">
                                                        <tr>
                                                            <td width="10%">[[item.id]]</td>
                                                            <td width="90%"> <b>[[item.value]]</b></td>
                                                        </tr>
                                                    </table>
                                                </template>
                                            </vaadin-combo-box>
                                        </div>
                                        <div class="col-lg-3">
                                            <vaadin-combo-box items="[[CBResponsabilityCenterCodes]]" id="ResponsabilityCenterCode" item-value-path="id" item-label-path="value" value="{{result.responsabilityCenterCode}}" label="Cód. Centro Responsabilidade" disabled="{{ !_permissions.create }}" on-value-changed="_responsabilityCenterCodeChanged">
                                                <template>
                                                    <table width="550px">
                                                        <tr>
                                                            <td width="20%">[[item.id]]</td>
                                                            <td width="80%"> <b>[[item.value]]</b></td>
                                                        </tr>
                                                    </table>
                                                </template>
                                            </vaadin-combo-box>
                                        </div>
                                        <div class="col-lg-3 ">
                                            <vaadin-date-picker label="Data Receção" id="LReceiptPreviewDate" name="LReceiptPreviewDate" value="{{result.receiptPreviewDate}}" disabled="{{ !_permissions.create }}"></vaadin-date-picker>
                                        </div>

                                    </div>
                                    <div class="row break_clear">
                                        <div class="col-lg-12">
                                            <such-textarea value="{{result.observations}}" rows="6" id="LObservations" name="LObservations" label="Observações" disabled="{{ !_permissions.create }}"> </such-textarea>
                                        </div>
                                    </div>
                                </div>
                                <!--Detalhe-->
                                <div>
                                    <div class="row break_clear">
                                        <div class="col-lg-3">
                                            <vaadin-text-field value="{{result.createResponsible}}" id="LCreateResponsible" name="LCreateResponsible" label="Responsável Criação" disabled> </vaadin-text-field>
                                        </div>
                                        <div class="col-lg-3">
                                            <vaadin-text-field value="{{result.requisitionDate}}" id="LRequisitionDate" name="LRequisitionDate" label="Data Requisição" disabled> </vaadin-text-field>
                                        </div>
                                        <div class="col-lg-3">
                                            <vaadin-text-field value="{{result.requisitionTime}}" id="LRequisitionTime" name="LRequisitionTime" label="Hora Requisição" disabled> </vaadin-text-field>
                                        </div>
                                        <div class="col-lg-3">
                                            <vaadin-text-field value="{{result.approvalResponsible}}" id="LApprovalResponsible" name="LApprovalResponsible" label="Responsável Aprovação" disabled> </vaadin-text-field>
                                        </div>
                                    </div>
                                    <br />
                                    <div class="row break_clear">
                                        <div class="col-lg-3">
                                            <vaadin-text-field value="{{result.approvalDate}}" id="LApprovalDate" name="LApprovalResponsible" label="Data Aprovação" disabled> </vaadin-text-field>
                                        </div>
                                        <div class="col-lg-3">
                                            <vaadin-text-field value="{{result.registrationDate}}" id="LApprovalDate" name="LApprovalResponsible" label="Data Registo" disabled> </vaadin-text-field>
                                        </div>
                                    </div>
                                </div>
                            </iron-pages>
                            <div class="marginSpace" id="ddmarginSpaceCabe">
                                <template is="dom-if" if="{{ _isCreate }}">
                                    <paper-button raised id="btnCreate" class="btnSave" on-tap="_create"><i class="fa fa-plus" aria-hidden="true"></i>&nbsp; Criar</paper-button>
                                </template>
                                <template is="dom-if" if="{{ !_isCreate }}">
                                    <template is="dom-if" if="{{ _permissions.update }}">
                                        <paper-button raised id="btnUpdate" class="btnSave" on-tap="_update"><i class="fa fa-floppy-o" aria-hidden="true"></i>&nbsp; Guardar</paper-button>
                                    </template>
                                    <template is="dom-if" if="{{ _permissions.delete }}">
                                        <paper-button raised id="btnCancel" class="btnRemove" on-tap="_delete"><i class="fa fa-trash-o" aria-hidden="true"></i>&nbsp; Eliminar</paper-button>
                                    </template>
                                </template>
                            </div>
                        </iron-form>
                    </div>
                    <paper-collapse-group style="display: {{ _showLinesForm }};">
                        <paper-collapse-item class="panel-heading" header="Linhas" closed>
                            <iron-form id="formcontractLines">
                                <div class="row break_clear">
                                    <div class="col-lg-2">
                                        <vaadin-combo-box items="[[CBLocations]]" id="_CLLocationCode" name="_LLLocation" item-value-path="id" item-label-path="value" value="{{_LLLocation}}" label="Localização" disabled="{{ !_permissions.update }}" required error-message="Este campo é obrigatório">
                                            <template>
                                                <b>[[item.value]]</b>
                                            </template>
                                        </vaadin-combo-box>
                                    </div>
                                    <div class="col-lg-2">
                                        <such-selectbox id="_CLCode" value="{{_LLProduct}}" label="Cód. Produto"
                                                        items="[[CBProductos]]"
                                                        text-path="id"
                                                        value-path="id"
                                                        fields='[{"field":"id", "name":"Cód. Produto"}, {"field":"value", "name":"Descrição"}, {"field":"extra", "name":"Custo Unitário"}, {"field":"extra2", "name":"Unidade Medida"}]'
                                                        disabled="{{ !_permissions.update }}"
                                                        on-value-changed="_productChanged" required error-message="Este campo é obrigatório">
                                        </such-selectbox>
                                    </div>
                                    <div class="col-lg-2">
                                        <vaadin-text-field value="{{_LLDescription}}" id="_CLDescription" name="_LLDescription" label="Descrição" disabled="{{ !_permissions.update }}"> </vaadin-text-field>
                                    </div>
                                    <div class="col-lg-2">
                                        <vaadin-text-field value="{{_LLUnitCost}}" type="number" id="_CLUnitCost" name="_LLDescription" label="Preço Unico" disabled>  €</vaadin-text-field>
                                    </div>
                                    <div class="col-lg-2">
                                        <vaadin-combo-box items="[[CBMeasureUnits]]" id="_CLMeasureUnitNo" name="_LLMeasureUnit" item-value-path="id" item-label-path="value" value="{{_LLMeasureUnit}}" label="Cód. Unidade Medida" disabled>
                                            <template>
                                                <b>[[item.value]]</b>
                                            </template>
                                        </vaadin-combo-box>
                                    </div>
                                    <div class="col-lg-2">
                                        <vaadin-text-field value="{{_LLQuantityToRequire}}" type="number" id="_CLQuantityToRequire" name="_LLQuantityToRequire" label="Quantidade a requerer" disabled="{{ !_permissions.update }}" on-value-changed="_readQuantity" required error-message="Este campo é obrigatório"> </vaadin-text-field>
                                    </div>
                                </div>
                                <div class="row break_clear">
                                    <div class="col-lg-2">
                                        <vaadin-text-field value="{{_LLTotalCost}} " id="_CLTotalCost" name="_LLTotalCost" label="Custo Total" disabled> </vaadin-text-field>
                                    </div>
                                    <div class="col-lg-2">
                                        <such-selectbox id="_CLProjectNo" name="_CLProjectNo" value="{{result.projectNo}}" label="Nº Projeto" disabled="{{ _lockFields }}"
                                                        items="[[sbProjects]]"
                                                        text-path="nºProjeto"
                                                        value-path="nºProjeto"
                                                        fields='[{"field":"nºProjeto", "name":"Código"}, {"field":"descrição", "name":"Descrição"}, {"field":"nºCliente", "name":"Nº Cliente"}]'>
                                        </such-selectbox>
                                    </div>
                                    <div class="col-lg-2">
                                        <vaadin-combo-box items="[[CBMealType]]" id="_CLMealType" item-value-path="id" item-label-path="value" value="{{result.mealType}}" label="Tipo Refeição" disabled="{{ _lockFields }}">
                                            <template>
                                                <b>[[item.value]]</b>
                                            </template>
                                        </vaadin-combo-box>
                                    </div>
                                    <div class="col-lg-2">
                                        <vaadin-date-picker label="Data Registo" id="_CLRegistrationDate" name="_CLRegistrationDate" value="{{result.receiptPreviewDate}}" disabled="{{ _lockFields }}"></vaadin-date-picker>
                                    </div>
                                    <div class="col-lg-2">
                                        <vaadin-combo-box items="[[CBRegionCodes]]" id="_CLRegionCode" name="_CLRegion" item-value-path="id" item-label-path="value" value="{{result.regionCode}}" label="Cód. Região" disabled="{{ _lockFields }}">
                                            <template>
                                                <table width="180px">
                                                    <tr>
                                                        <td width="20%">[[item.id]]</td>
                                                        <td width="80%"> <b>[[item.value]]</b></td>
                                                    </tr>
                                                </table>
                                            </template>
                                        </vaadin-combo-box>
                                    </div>
                                    <div class="col-lg-2">
                                        <vaadin-combo-box items="[[CBFunctionalAreaCodes]]" id="_CLFunctionalArea" name="_CLFunctionalArea" item-value-path="id" item-label-path="value" value="{{result.functionalAreaCode}}" label="Cód. Área Funcional" disabled="{{ _lockFields }}">
                                            <template>
                                                <table width="500px">
                                                    <tr>
                                                        <td width="10%">[[item.id]]</td>
                                                        <td width="90%"> <b>[[item.value]]</b></td>
                                                    </tr>
                                                </table>
                                            </template>
                                        </vaadin-combo-box>
                                    </div>
                                </div>
                                <div class="row break_clear">
                                    <div class="col-lg-3">
                                        <vaadin-combo-box items="[[CBResponsabilityCenterCodes]]" id="_CLCenterCodeResponsability" item-value-path="id" item-label-path="value" value="{{result.responsabilityCenterCode}}" label="Cód. Centro Responsabilidade" disabled="{{_lockFields }}">
                                            <template>
                                                <table width="550px">
                                                    <tr>
                                                        <td width="20%">[[item.id]]</td>
                                                        <td width="80%"> <b>[[item.value]]</b></td>
                                                    </tr>
                                                </table>
                                            </template>
                                        </vaadin-combo-box>
                                    </div>
                                    <div class="col-lg-2">
                                        <div class="marginSpace" id="ddmarginSpace">
                                            <paper-button raised id="btnCreateLine" class="btnSave" on-tap="_createContractLine"><i class="fa fa-plus" aria-hidden="true"></i>&nbsp; Criar</paper-button>
                                        </div>
                                    </div>
                                </div>
                            </iron-form>
                        </paper-collapse-item>
                    </paper-collapse-group>
                    <div class="row break_clear" style="display: {{ _showLinesForm }};">
                        <vaadin-grid aria-label="RequisitionLines" id="grid_requisitionlines" name="grid_requisitionlines" items="[[dataLines]]" class="grid" multi-sort="true" active-item="{{_SelectedLine}}">
                            <vaadin-grid-column width="100px">
                                <template class="header">
                                    <vaadin-grid-sorter path="requisitionNo">Nº</vaadin-grid-sorter>
                                    <vaadin-grid-filter path="requisitionNo" />
                                </template>
                                <template>
                                    <template is="dom-if" if="{{ item.selected }}">
                                        <vaadin-text-field value="{{item.requisitionNo}}" id="_LLRequisitionNo" name="_LLRequisitionNo" disabled> </vaadin-text-field>
                                    </template>
                                    <template is="dom-if" if="{{ !item.selected }}">
                                        {{item.requisitionNo}}
                                    </template>
                                </template>
                            </vaadin-grid-column>
                            <vaadin-grid-column width="125px">
                                <template class="header">
                                    <vaadin-grid-sorter path="code">Nº Produto</vaadin-grid-sorter>
                                    <vaadin-grid-filter path="code" />
                                </template>
                                <template>
                                    <template is="dom-if" if="{{ item.selected }}">
                                        <vaadin-combo-box items="[[CBProductos]]" id="_LLGridProductNo" name="_LLGridProductNo" item-value-path="id" item-label-path="value" value="{{item.code}}" on-change="_onChangeProduct" disabled="{{ !_permissions.update }}">
                                            <template>
                                                <paper-icon-item>
                                                    <paper-item-body two-line>
                                                        <div>[[item.value]]</div>
                                                    </paper-item-body>
                                                </paper-icon-item>
                                            </template>
                                        </vaadin-combo-box>
                                    </template>
                                    <template is="dom-if" if="{{ !item.selected }}">
                                        {{item.code}}
                                    </template>
                                </template>
                            </vaadin-grid-column>
                            <vaadin-grid-column width="200px">
                                <template class="header">
                                    <vaadin-grid-sorter path="locationCode">Localização</vaadin-grid-sorter>
                                    <vaadin-grid-filter path="locationCode" />
                                </template>
                                <template>
                                    <template is="dom-if" if="{{ item.selected }}">
                                        <vaadin-combo-box items="[[CBLocations]]" id="_CLGridCode" name="_LLGridCode" item-value-path="id" item-label-path="value" value="{{item.locationCode}}" disabled="{{ !_permissions.update }}">
                                            <template>
                                                <b>[[item.value]]</b>
                                            </template>
                                        </vaadin-combo-box>
                                    </template>
                                    <template is="dom-if" if="{{ !item.selected }}">
                                        {{item.locationCode}}
                                    </template>
                                </template>
                            </vaadin-grid-column>
                            <vaadin-grid-column width="200px">
                                <template class="header">
                                    <vaadin-grid-sorter path="description">Descrição</vaadin-grid-sorter>
                                    <vaadin-grid-filter path="description" />
                                </template>
                                <template>
                                    <template is="dom-if" if="{{ item.selected }}">
                                        <vaadin-text-field value="{{item.description}}" id="_LLGridDescription" name="_LLGridDescription" disabled> </vaadin-text-field>
                                    </template>
                                    <template is="dom-if" if="{{ !item.selected }}">
                                        {{item.description}}
                                    </template>
                                </template>
                            </vaadin-grid-column>
                            <vaadin-grid-column width="170px">
                                <template class="header">
                                    <vaadin-grid-sorter path="measureUnitNo">Cód. Uni. Medida</vaadin-grid-sorter>
                                    <vaadin-grid-filter path="measureUnitNo" />
                                </template>
                                <template>
                                    <template is="dom-if" if="{{ item.selected }}">
                                        <vaadin-combo-box items="[[CBMeasureUnits]]" id="_CLGridMeasureUnit" name="_CLGridMeasureUnit" item-value-path="id" item-label-path="id" value="{{item.measureUnitNo}}" disabled>
                                            <template>
                                                <paper-icon-item>
                                                    <paper-item-body two-line>
                                                        <div>[[item.value]]</div>
                                                    </paper-item-body>
                                                </paper-icon-item>
                                            </template>
                                        </vaadin-combo-box>
                                    </template>
                                    <template is="dom-if" if="{{ !item.selected }}">
                                        {{item.measureUnitNo}}
                                    </template>
                                </template>
                            </vaadin-grid-column>
                            <vaadin-grid-column width="120px">
                                <template class="header">
                                    <vaadin-grid-sorter path="quantityToRequire">Qtd. a Requerer</vaadin-grid-sorter>
                                    <vaadin-grid-filter path="quantityToRequire" />
                                </template>
                                <template>
                                    <template is="dom-if" if="{{ item.selected }}">
                                        <vaadin-text-field value="{{item.quantityToRequire}}" id="_LLGridQuantityToRequire" name="_LLGridQuantityToRequire" disabled="@ViewBag.LockFields"> </vaadin-text-field>
                                    </template>
                                    <template is="dom-if" if="{{ !item.selected }}">
                                        {{item.quantityToRequire}}
                                    </template>
                                </template>
                            </vaadin-grid-column>
                            <vaadin-grid-column width="120px">
                                <template class="header">
                                    <vaadin-grid-sorter path="quantityToApprove">Qtd. a Aprovar</vaadin-grid-sorter>
                                    <vaadin-grid-filter path="quantityToApprove" />
                                </template>
                                <template>
                                    <template is="dom-if" if="{{ item.selected }}">
                                        <vaadin-text-field value="{{item.quantityToApprove}}" id="_LLGridQuantityToApproved" name="_LLGridQuantityToApproved" disabled> </vaadin-text-field>
                                    </template>
                                    <template is="dom-if" if="{{ !item.selected }}">
                                        {{item.quantityToApprove}}
                                    </template>
                                </template>
                            </vaadin-grid-column>
                            <vaadin-grid-column width="120px">
                                <template class="header">
                                    <vaadin-grid-sorter path="quantityApproved">Qtd. Aprovada</vaadin-grid-sorter>
                                    <vaadin-grid-filter path="quantityApproved" />
                                </template>
                                <template>
                                    <template is="dom-if" if="{{ item.selected }}">
                                        <vaadin-text-field value="{{item.quantityApproved}}" id="_LLGridQuantityApproved" name="_LLGridQuantityApproved" disabled> </vaadin-text-field>
                                    </template>
                                    <template is="dom-if" if="{{ !item.selected }}">
                                        {{item.quantityApproved}}
                                    </template>
                                </template>
                            </vaadin-grid-column>
                            <vaadin-grid-column width="120px">
                                <template class="header">
                                    <vaadin-grid-sorter path="quantityReceipt">Qtd. Registada</vaadin-grid-sorter>
                                    <vaadin-grid-filter path="quantityReceipt" />
                                </template>
                                <template>
                                    <template is="dom-if" if="{{ item.selected }}">
                                        <vaadin-text-field value="{{item.quantityReceipt}}" id="_LLGridQuantityRequire" name="_LLGridQuantityRequire" disabled> </vaadin-text-field>
                                    </template>
                                    <template is="dom-if" if="{{ !item.selected }}">
                                        {{item.quantityReceipt}}
                                    </template>
                                </template>
                            </vaadin-grid-column>
                            <vaadin-grid-column width="120px">
                                <template class="header">
                                    <vaadin-grid-sorter path="unitCost">Custo Unitário</vaadin-grid-sorter>
                                    <vaadin-grid-filter path="unitCost" />
                                </template>
                                <template>
                                    <template is="dom-if" if="{{ item.selected }}">
                                        <vaadin-text-field value="{{item.unitCost}}" id="_LLGridQuantityToRequire" name="_LLGridQuantityToRequire" disabled><div slot="suffix">€</div> </vaadin-text-field>
                                    </template>
                                    <template is="dom-if" if="{{ !item.selected }}">
                                        {{item.unitCost}} €
                                    </template>
                                </template>
                            </vaadin-grid-column>
                            <vaadin-grid-column width="150px">
                                <template class="header">
                                    <vaadin-grid-sorter path="totalCost">Custo Total</vaadin-grid-sorter>
                                    <vaadin-grid-filter path="totalCost" />
                                </template>
                                <template>
                                    <template is="dom-if" if="{{ item.selected }}">
                                        <vaadin-text-field value="{{item.totalCost}}" id="_LLGridUnitPrice" name="_LLGridUnitPrice" disabled> <div slot="suffix">€</div></vaadin-text-field>
                                    </template>
                                    <template is="dom-if" if="{{ !item.selected }}">
                                        {{item.totalCost}} €
                                    </template>
                                </template>
                            </vaadin-grid-column>
                            <vaadin-grid-column width="150px">
                                <template class="header">
                                    <vaadin-grid-sorter path="requisitionDate">Data de Registo</vaadin-grid-sorter>
                                    <vaadin-grid-filter path="requisitionDate" />
                                </template>
                                <template>
                                    <template is="dom-if" if="{{ item.selected }}">
                                        <vaadin-text-field value="{{item.requisitionDate}}" id="_LLGridrequisitionDate" name="_LLGridrequisitionDate" disabled> </vaadin-text-field>
                                    </template>
                                    <template is="dom-if" if="{{ !item.selected }}">
                                        {{item.requisitionDate}}
                                    </template>
                                </template>
                            </vaadin-grid-column>
                            <vaadin-grid-column width="125px">
                                <template class="header">
                                    <vaadin-grid-sorter path="projectNo">Nº Projeto</vaadin-grid-sorter>
                                    <vaadin-grid-filter path="projectNo" />
                                </template>
                                <template>
                                    <template is="dom-if" if="{{ item.selected }}">
                                        <vaadin-combo-box items="[[CBProjects]]" id="_LLGridProjectNo" name="_LLGridProjectNo" item-value-path="id" item-label-path="id" value="{{item.projectNo}}" disabled>
                                            <template>
                                                <paper-icon-item>
                                                    <paper-item-body two-line>
                                                        <div>[[item.id]]</div>
                                                    </paper-item-body>
                                                </paper-icon-item>
                                            </template>
                                        </vaadin-combo-box>
                                    </template>
                                    <template is="dom-if" if="{{ !item.selected }}">
                                        {{item.projectNo}}
                                    </template>
                                </template>
                            </vaadin-grid-column>
                            <vaadin-grid-column width="120px">
                                <template class="header">
                                    <vaadin-grid-sorter path="mealType">Tipo Refeição</vaadin-grid-sorter>
                                    <vaadin-grid-filter path="mealType" />
                                </template>
                                <template>
                                    <template is="dom-if" if="{{ item.selected }}">
                                        <vaadin-combo-box items="[[CBMealType]]" id="_LLMealType" name="_LLMealType" item-value-path="id" item-label-path="id" value="{{item.mealType}}" disabled>
                                            <template>
                                                <paper-icon-item>
                                                    <paper-item-body two-line>
                                                        <div>[[item.id]]</div>
                                                    </paper-item-body>
                                                </paper-icon-item>
                                            </template>
                                        </vaadin-combo-box>
                                    </template>
                                    <template is="dom-if" if="{{ !item.selected }}">
                                        {{item.mealType}}
                                    </template>
                                </template>
                            </vaadin-grid-column>
                            <vaadin-grid-column width="120px">
                                <template class="header">
                                    <vaadin-grid-sorter path="mealType">Descrição Refeição</vaadin-grid-sorter>
                                    <vaadin-grid-filter path="mealType" />
                                </template>
                                <template>
                                    <template is="dom-if" if="{{ item.selected }}">
                                        <vaadin-text-field value="[[_descriptionMeal(item.mealType)]]" id="DescriptionMeal" name="_LLGridUnitPrice" disabled> </vaadin-text-field>
                                    </template>
                                    <template is="dom-if" if="{{ !item.selected }}">
                                        [[_descriptionMeal(item.mealType)]]
                                    </template>
                                </template>
                            </vaadin-grid-column>
                            <vaadin-grid-column width="125px">
                                <template class="header">
                                    <vaadin-grid-sorter path="codeRegion">Cód. Região</vaadin-grid-sorter>
                                    <vaadin-grid-filter path="codeRegion" />
                                </template>
                                <template>

                                    <template is="dom-if" if="{{ item.selected }}">
                                        <vaadin-combo-box items="[[CBRegionCodes]]" id="_CLGridRegion" name="_CLGridRegion" item-value-path="id" item-label-path="id" value="{{item.regionCode}}" disabled="{{ _lockFields }}">
                                            <template>
                                                <table width="300px">
                                                    <tr>
                                                        <td width="10%">[[item.id]]</td>
                                                        <td width="90%"> <b>[[item.value]]</b></td>
                                                    </tr>
                                                </table>
                                            </template>
                                        </vaadin-combo-box>
                                    </template>
                                    <template is="dom-if" if="{{ !item.selected }}">
                                        {{item.regionCode}}
                                    </template>
                                </template>
                            </vaadin-grid-column>
                            <vaadin-grid-column width="190px">
                                <template class="header">
                                    <vaadin-grid-sorter path="codeFunctionalArea">Cód. Area Funcional</vaadin-grid-sorter>
                                    <vaadin-grid-filter path="codeFunctionalArea" />
                                </template>
                                <template>
                                    <template is="dom-if" if="{{ item.selected }}">
                                        <vaadin-combo-box items="[[CBFunctionalAreaCodes]]" id="_CLGridFunctionalArea" name="_CLGridFunctionalArea" item-value-path="id" item-label-path="id" value="{{item.functionAreaCode}}" disabled="{{ _lockFields }}">
                                            <template>
                                                <table width="500px">
                                                    <tr>
                                                        <td width="10%">[[item.id]]</td>
                                                        <td width="90%"> <b>[[item.value]]</b></td>
                                                    </tr>
                                                </table>
                                            </template>
                                        </vaadin-combo-box>
                                    </template>
                                    <template is="dom-if" if="{{ !item.selected }}">
                                        {{item.functionAreaCode}}
                                    </template>
                                </template>
                            </vaadin-grid-column>
                            <vaadin-grid-column width="200px">
                                <template class="header">
                                    <vaadin-grid-sorter path="codeResponsabilityCenter">Cód. Centro Responsabilidade</vaadin-grid-sorter>
                                    <vaadin-grid-filter path="codeResponsabilityCenter" />
                                </template>
                                <template>
                                    <template is="dom-if" if="{{ item.selected }}">
                                        <vaadin-combo-box items="[[CBResponsabilityCenterCodes]]" id="_CLGridResponsabilityCenter" name="_CLGridResponsabilityCenter" item-value-path="id" item-label-path="id" value="{{item.responsabilityCenterCode}}" disabled>
                                            <template>
                                                <table width="550px">
                                                    <tr>
                                                        <td width="20%">[[item.id]]</td>
                                                        <td width="80%"> <b>[[item.value]]</b></td>
                                                    </tr>
                                                </table>
                                            </template>
                                        </vaadin-combo-box>
                                    </template>
                                    <template is="dom-if" if="{{ !item.selected }}">
                                        {{item.responsabilityCenterCode}}
                                    </template>
                                </template>
                            </vaadin-grid-column>
                            <template is="dom-if" if="{{ _permissions.delete }}">
                                <vaadin-grid-column>
                                    <template class="header">
                                    </template>
                                    <template>
                                        <div style="display:{{ _showLinesForm }};">
                                            <center>
                                                <paper-button class="btnRemove" raised on-tap="_deleteRequisitionsLine">Eliminar</paper-button>
                                            </center>
                                        </div>
                                    </template>
                                </vaadin-grid-column>
                            </template>
                        </vaadin-grid>
                    </div>
                    <div class="marginSpace" style="display: {{ _showLinesForm }};">
                        <template is="dom-if" if="{{ _permissions.update }}">
                            <paper-button raised id="btnSaveLine" class="btnSave" on-tap="_updateResquesitionLines"><i class="fa fa-floppy-o" aria-hidden="true"></i>&nbsp; Guardar</paper-button>
                        </template>
                    </div>
                </div>
            </div>
        </div>

        <paper-dialog id="dialog" class="dialgoBox">
            <h2 class="dialogTitle">Requisições</h2>

            <vaadin-grid aria-label="Modelos de Requisições" class="editDialogGrid" active-item="{{activeItem}}" id="projecModelsTable" items="[[resultModels]]">
                <vaadin-grid-column width="10%">
                    <template class="header">
                        <vaadin-grid-sorter path="requisitionTemplateId">Nº </vaadin-grid-sorter>
                        <vaadin-grid-filter path="requisitionTemplateId" />
                    </template>
                    <template>
                        {{item.requisitionTemplateId}}  {{item.requisitionNo}}
                    </template>
                </vaadin-grid-column>
                <vaadin-grid-column width="10%">
                    <template class="header">
                        <vaadin-grid-sorter path="description">Data</vaadin-grid-sorter>
                        <vaadin-grid-filter path="description" />
                    </template>
                    <template>
                        {{item.registrationDate}}
                    </template>
                </vaadin-grid-column>
                <vaadin-grid-column width="20%">
                    <template class="header">
                        <vaadin-grid-sorter path="description">NºProjecto</vaadin-grid-sorter>
                        <vaadin-grid-filter path="description" />
                    </template>
                    <template>
                        {{item.description}}{{item.projectNo}}
                    </template>
                </vaadin-grid-column>
                <vaadin-grid-column width="20%">
                    <template class="header">
                        <vaadin-grid-sorter path="codeRegion">Região</vaadin-grid-sorter>
                        <vaadin-grid-filter path="codeRegion" />
                    </template>
                    <template>
                        [[_getRegionDescription(item.regionCode)]] [[_getRegionDescription(item.codeRegion)]]
                    </template>
                </vaadin-grid-column>
                <vaadin-grid-column width="20%">
                    <template class="header">
                        <vaadin-grid-sorter path="codeFunctionalArea">Área Funcional</vaadin-grid-sorter>
                        <vaadin-grid-filter path="codeFunctionalArea" />
                    </template>
                    <template>
                        [[_getFunctionalAreaDescription(item.functionalAreaCode)]] [[_getFunctionalAreaDescription(item.codeFunctionalArea)]]
                    </template>
                </vaadin-grid-column>
                <vaadin-grid-column width="20%">
                    <template class="header">
                        <vaadin-grid-sorter path="codeResponsabilityCenter">Centro Responsabilidade</vaadin-grid-sorter>
                        <vaadin-grid-filter path="codeResponsabilityCenter" />
                    </template>
                    <template>
                        [[_getResponsabilityCenterDescription(item.responsabilityCenterCode)]]
                        [[_getResponsabilityCenterDescription(item.codeResponsabilityCenter)]]
                    </template>
                </vaadin-grid-column>

            </vaadin-grid>

            <div class="buttons">
                <paper-button class="btnSave" disabled="{{ !_permissions.create }}" raised on-tap="_confirmTemplate" hidden="{{ !_permissions.create }}"><i class="fa fa-plus" aria-hidden="true"></i>&nbsp; Criar</paper-button>
                <paper-button class="btnRemove" dialog-dismiss><i class="fa fa-undo" aria-hidden="true"></i>&nbsp; Cancel</paper-button>
            </div>


        </paper-dialog>
        <paper-toast id="ToastMessageSuccess" duration="4000" horizontalAlign="right" class="toastSuccess">&nbsp;<i class="fa fa-check fa-lg" aria-hidden="true"></i></paper-toast>
        <paper-toast id="ToastMessageError" duration="4000" horizontalAlign="right" class="toastError">&nbsp;<i class="fa fa-exclamation-triangle" aria-hidden="true"></i></paper-toast>
    </template>

    <script>
        document.addEventListener('WebComponentsReady', function () {
            Polymer({
                is: 'x-simplifiedreqdetails',
                properties: {
                    _requestno: {
                        type: String,
                        notify: true,
                        value: ""
                    },
                    _permissions: {
                        type: Array
                    },
                    _isCreate: {
                        type: Boolean,
                        value: true
                    },
                    _showLinesForm: {
                        type: String,
                        value: ""
                    },
                    _showLines: {
                        type: String,
                        value: "none"
                    },
                    _lockFields: {
                        type: Boolean,
                        value: true
                    },
                    _SelectedLine: {
                        observer: '_lineSelected'
                    },
                     activeItem: {
                        observer: '_activeItemChanged'
                    },
                    selected: {
                        type: Number,
                        value: 0
                    },
                },


                ready: function () {

                    //GET PROJECT DATA
                    if (this._requestno != "") {
                        this._isCreate = false;
                        this._showLines = '';
                        this.$.page_databound_ajax.body = JSON.stringify({ "RequisitionNo": this._requestno });
                        this.$.contractLines_databound_ajax.body = JSON.stringify({ "RequisitionNo": this._requestno });
                    }

                    if ("@ViewBag.Approval" == "registar") {
                        this._showLinesForm = 'none';
                        this.$.ddmarginSpaceCabe.style.display = 'none';
                    }
                    else if ("@ViewBag.Approval" == "historico") {
                        this._showLinesForm = 'none';
                        this.$.ddsubMenu.style.display = 'none';
                        this.$.ddmarginSpaceCabe.style.display = 'none';
                    }
                    else {
                        if (this._isCreate == true) {

                            this._showLines = 'none';
                        }
                        this.$.ddsubMenu.style.display = 'none';

                    }

                    this.$.page_databound_ajax.generateRequest();
                    this.$.contractLines_databound_ajax.url = "/RequisicoesSimplificadas/GetSimplifiedRequisitionLinesData";
                    this.$.contractLines_databound_ajax.generateRequest();

                },


                _createNew: function () {
                    '<%Session["aprovadoSession"] = " new"%>';
                    window.location.href = "/RequisicoesSimplificadas/Detalhes";
                },

                //CRUDS
                _finishRequisition: function () {
                    var erro = false;
                    if (this.dataLines != undefined) {
                        for (i = 0; i < this.dataLines.length; i++) {
                            if (this.dataLines[i].quantityToRequire == 0) {
                                erro = true;
                                break;
                            }
                        }
                    }
                    if (erro == false) {
                        this.$.register_requisitions_ajax.url = "/RequisicoesSimplificadas/FinishSimplifiedRequisition";
                        this.$.register_requisitions_ajax.body = JSON.stringify(this.dataLines);
                        this.$.register_requisitions_ajax.generateRequest();
                    }
                    else {
                        this._openToastError("Preencha quantidade em uma ou mais linhas!");
                    }
                },
                _confirmTemplate: function () {
                    if (this.$.projecModelsTable.selectedItems.length != 0) {

                        var line;
                        if (this.$.projecModelsTable.selectedItems[0].requisitionNo == undefined)
                            line = { RequisitionNo: this.$.projecModelsTable.selectedItems[0].requisitionTemplateId };
                        else
                            line = { RequisitionNo: this.$.projecModelsTable.selectedItems[0].requisitionNo };

                        this._openToast("Modelo Utilizado com sucesso");
                        this.$.projecModelsTable.selectedItems = [];
                        this.$.page_databound_ajax2.body = JSON.stringify(line);
                        this.$.page_databound_ajax2.generateRequest();
                        this.$.dialog.close();
                    }
                    else {
                        this._openToastError("Selecione um modelo!");

                    }


                },
                _createContractLine: function () {

                    if (this._validateData("formcontractLines")) {

                        var addline = {
                            requisitionNo: this.$.lRequestNo.value,
                            locationCode: this.$._CLLocationCode.value,
                            code: this.$._CLCode.value,
                            description: this.$._CLDescription.value,
                            measureUnitNo: this.$._CLMeasureUnitNo.value,
                            quantityToRequire: this.$._CLQuantityToRequire.value,
                            totalCost: this.$._CLTotalCost.value,
                            unitCost: this.$._CLUnitCost.value,
                            requisitionDate: this.$._CLRegistrationDate.value,
                            projectNo: this.$._CLProjectNo.value,
                            mealType: this.$._CLMealType.value,
                            regionCode: this.$._CLRegionCode.value,
                            functionAreaCode: this.$._CLFunctionalArea.value,
                            responsabilityCenterCode: this.$._CLCenterCodeResponsability.value,
                            quantityApproved: 0,
                            quantityReceipt: 0,
                            quantityToApprove: 0
                        };

                        if (this.dataLines == null) {
                            this.dataLines = addline;
                        }
                        else {
                            this.dataLines.push(addline);
                        }
                        if (this.$.LTotalCost.value != null)
                            this.$.LTotalCost.value = this.$.LTotalCost.value + addline.totalCost;
                        else
                            this.$.LTotalCost.value = addline.totalCost;


                        this.$.update_lines_requisition_ajax.url = "/RequisicoesSimplificadas/CreateLinesSimplifiedRequisition";
                        this.$.update_lines_requisition_ajax.body = JSON.stringify(addline);
                        this.$.update_lines_requisition_ajax.generateRequest();
                        this.$.grid_requisitionlines.clearCache();

                    }
                },
                _create: function () {
                    if (this._validateData("formContract")) {
                        this.result.requisitionNo = this._requestno;
                        this.$.page_validator_ajax.body = JSON.stringify(this.result);
                        this.$.page_validator_ajax.generateRequest();
                    }
                },
                _update: function () {
                    this.$.update_lines_requisition_ajax.url = "/RequisicoesSimplificadas/UpdateSimplifiedRequisition";
                    this.$.update_lines_requisition_ajax.body = JSON.stringify(this.result);
                    this.$.update_lines_requisition_ajax.generateRequest();

                },
                _desaprovarRequisiApproval: function () {
                    this.$.register_requisitions_ajax.url = "/RequisicoesSimplificadas/DisapproveSimplifiedRequisition";
                    this.$.register_requisitions_ajax.body = JSON.stringify(this.dataLines);
                    this.$.register_requisitions_ajax.generateRequest();
                },
                _registeRequisiApproval: function () {
                    this.$.register_requisitions_ajax.url = "/RequisicoesSimplificadas/RegisterRequisition";
                    this.$.register_requisitions_ajax.body = JSON.stringify(this.dataLines);
                    this.$.register_requisitions_ajax.generateRequest();
                },
                _updateResquesitionLines: function () {
                    this.$.update_lines_requisition_ajax.url = "/RequisicoesSimplificadas/UpdateSimplifiedRequisitionLines";
                    this.$.update_lines_requisition_ajax.body = JSON.stringify(this.dataLines);
                    this.$.update_lines_requisition_ajax.generateRequest();
                },
                _historyRequisiApproval: function () {
                    this.$.register_requisitions_ajax.url = "/RequisicoesSimplificadas/HistorySimplifiedRequisition";
                    this.$.register_requisitions_ajax.body = JSON.stringify(this.dataLines);
                    this.$.register_requisitions_ajax.generateRequest();
                },
                _delete: function () {
                    var data = this.result;
                    var ajax_request = this.$.ajax_delete_project;
                    bootbox.confirm({
                        message: "Tem a certeza que pretende remover a Requisição Simplificada ?",
                        buttons: {
                            confirm: {
                                label: 'Sim',
                                className: 'btn-success'
                            },
                            cancel: {
                                label: 'Não',
                                className: 'btn-danger'
                            }
                        },
                        callback: function (result) {
                            if (result) {
                                ajax_request.body = JSON.stringify(data);
                                ajax_request.generateRequest();
                            }
                        }
                    });
                },

                _deleteRequisitionsLine: function (data) {
                    var ajax_request = this.$.ajax_delete_lines_project;
                    var dataline = data.model.item;
                    var index = this.dataLines.indexOf(dataline);
                    this.dataLines.splice(index, 1);

                    bootbox.confirm({
                        message: "Tem a certeza que pretende remover a  Linha Requisição Simplificada ?",
                        buttons: {
                            confirm: {
                                label: 'Sim',
                                className: 'btn-success'
                            },
                            cancel: {
                                label: 'Não',
                                className: 'btn-danger'
                            }
                        },
                        callback: function (result) {
                            if (result) {
                                ajax_request.body = JSON.stringify(dataline);
                                ajax_request.generateRequest();

                            }
                        }
                    });

                },
                _copyModel: function (data) {
                    this.$.get_models_ajax.url = "/ModelosReqSimplificada/GetAllReqTemplates";
                    //this.$.get_models_ajax.body = JSON.stringify(this.dataLines);
                    this.$.get_models_ajax.generateRequest();
                },

                _copyHistory: function (data) {
                    this.$.get_models_ajax.url = "/RequisicoesSimplificadas/SimplifiedRequisitionsPage";
                    this.$.get_models_ajax.body = JSON.stringify("historico");
                    this.$.get_models_ajax.generateRequest();

                },



                //Responses Processors
                _responseReqValidatorProcessor: function (data) {
                    var self = this;
                    debugger;
                    if (data.detail.status === 200) {
                        if (this.validateResponse == "") {
                            this._executeRequest("/RequisicoesSimplificadas/CreateSimplifiedRequisition", this.result)
                        } else {
                            this._openToastError(this.validateResponse);
                        }
                    }
                },
                _responseGetModels: function (data) {
                    this.$.dialog.open();
                },
                _responseContractLines: function () {

                    var costTotal = 0;
                    if (this.dataLines != undefined) {
                        for (var i = 0; i < this.dataLines.length; i++) {
                            costTotal = costTotal + this.dataLines[i].totalCost;
                        }
                    }
                    this.$.LTotalCost.value = costTotal;
                },
                _responseProcessor: function (data) {
                    var self = this;
                    if (data.detail.status === 200) {
                        this._requestno = this.result.requisitionNo;
                        if (data.detail.url.indexOf("Update") !== -1 || data.detail.url.indexOf("Create") !== -1) {
                            if (this.result.eReasonCode == 100) {
                                if (this.dataLines != undefined) {
                                    this.$.updatemultiLine_ajax.url = "/RequisicoesSimplificadas/CreateMultiLinesSimplifiedRequisition";
                                    this.$.updatemultiLine_ajax.body = JSON.stringify(this.dataLines);
                                    this.$.updatemultiLine_ajax.generateRequest();
                                    this.$.grid_requisitionlines.clearCache();
                                }
                                this._openToast(this.result.eMessage);
                                this._isCreate = false;
                                this._showLines = '';
                            } else {
                                this._openToastError(this.result.eMessage);
                                this._isCreate = true;
                                this._showLines = 'none';
                                this.ready();
                            }
                        }

                    } else {
                        this._openToastError("Ocorreu um erro.")
                    }
                },
                _responseProcessor2: function (data) {
                   this.$.contractLines_databound_ajax.url = "/RequisicoesSimplificadas/GetSimplifiedRequisitionLinesModels";
                   this.$.contractLines_databound_ajax.body = JSON.stringify({ "requestNo": this.result.requisitionNo, "requestNoNew": this._requestno});
                   this.result.requisitionNo = this._requestno;
                   this.$.contractLines_databound_ajax.generateRequest();
                   this.$.grid_requisitionlines.clearCache();
                },
                _responseProcessorLines: function (dataUpdate) {

                    if (dataUpdate.detail.status === 200) {
                        if (this.updateLines.eReasonCode == 100) {
                            if (this.updateLines.lineNo != undefined) {
                                this.$._CLLocationCode.value = "";
                                this.$._CLCode.value = "";
                                this.$._CLDescription.value = "";
                                this.$._CLMeasureUnitNo.value = "";
                                this.$._CLQuantityToRequire.value = "";
                                this.$._CLUnitCost.value = "";
                                this.dataLines[this.dataLines.length - 1].lineNo = this.updateLines.lineNo;
                            }
                            this._openToast(this.updateLines.eMessage);
                            this.$.grid_requisitionlines.clearCache();

                        } else if (this.updateLines.eReasonCode == 101) {
                            this._openToastError(this.updateLines.eMessage);
                        }
                        else if (this.updateLines != null) {
                            this._openToast("Requisição actualizada com sucesso");

                        }
                        else {
                            this._openToastError("Erro na actualização da requisição");
                        }


                    } else {
                        this._openToastError("Ocorreu um erro.")
                    }
                },
                _responseProcessorRegister: function (data) {
                    if (data.detail.status === 200) {
                        if (this.requisitions.eReasonCode == 100) {
                            this._openToast(this.requisitions.eMessage);
                            if ("@ViewBag.Approval" == "registar")
                                setTimeout(
                                    function () {
                                        window.location.href = "/RequisicoesSimplificadas/Index/?option=" + 1;
                                    }, 2500);
                            else
                                setTimeout(
                                    function () {
                                        window.location.href = "/RequisicoesSimplificadas/Index";
                                    }, 2500);

                        }
                        else {
                            this._openToastError(this.requisitions.eMessage);
                         }

                    } else {
                        this._openToastError("Ocorreu um erro.")
                    }
                },
                _responseDeleteProcessor: function (data) {
                    var self = this;
                    if (data.detail.status === 200) {
                        this._openToast(this.deletedData.eMessage);
                        if (this.deletedData.eReasonCode == 100) {

                            setTimeout(
                                function () {
                                    window.location.href = "/RequisicoesSimplificadas";
                                }, 2500);
                        } else if (this.deletedData.eReasonCode == 101) {
                            this._openToastError(this.deletedData.eMessage);
                        }
                    }
                },
                _responseDeleteLinesProcessor: function (data) {
                    var self = this;
                    if (data.detail.status === 200) {
                        this._openToast(this.deletedData.eMessage);
                        if (this.deletedData.eReasonCode == 100) {
                            this.$.LTotalCost.value = this.$.LTotalCost.value - this.deletedData.totalCost;
                            this.$.grid_requisitionlines.clearCache();
                            this._openToast(this.deletedData.eMessage);
                        } else if (this.deletedData.eReasonCode == 101) {
                            this._openToastError(this.deletedData.eMessage);
                        }
                    }
                },



                //Helpers
                _openToast: function (message) {
                    this.$.ToastMessageSuccess.text = message;
                    this.$.ToastMessageSuccess.open();
                },
                _openToastError: function (message) {
                    this.$.ToastMessageError.text = message;
                    this.$.ToastMessageError.open();
                },

                _validateData: function (container) {

                    var polymerDom = Polymer.dom(this.$[container]);
                    var errors = 0;
                    var formSelector = "vaadin-text-field, vaadin-date-picker, vaadin-combo-box";
                    var formFields = polymerDom.querySelectorAll(formSelector);

                    formFields.forEach(function (element) {
                        if (!element.validate()) errors++;
                    });

                    if (errors > 0) {
                        this._openToastError("Verifique os dados inseridos.");
                        return false;
                    }

                    return true;
                },
                _executeRequest: function (url, data) {
                    this.$.page_databound_ajax.url = url;
                    this.$.page_databound_ajax.body = JSON.stringify(data);
                    this.$.page_databound_ajax.generateRequest();

                },
                _onChangeProduct: function (data) {
                    if (data.model != null && this.CBProductos != undefined) {
                        var sel = this.CBProductos.find(x => x.id == data.model.item.code);
                        if (sel != undefined) {
                            this.dataLines.find(x => x == this._SelectedLine).description = sel.value;
                            this.dataLines.find(x => x == this._SelectedLine).measureUnitNo = sel.extra2;
                            this.$.grid_requisitionlines.clearCache();
                        }
                    }
                },

                _activeItemChanged: function (item) {
                    this.$.projecModelsTable.selectedItems = item ? [item] : [];
                },
                _lineSelected: function (item) {
                    if (item != null) {
                        var oSel = this.dataLines.find(x => x.selected);
                        if (oSel != undefined) {
                            oSel.selected = false;
                        }

                        var sel = this.dataLines.find(x => x == item);
                        if (sel != undefined) {

                            this.dataLines.find(x => x == item).selected = true;
                            this.$.grid_requisitionlines.clearCache();
                        }
                    }
                },
                _productChanged: function (param) {
                    if (param != undefined && this.CBProductos != undefined) {
                        var sel = this.CBProductos.find(x => x.id == param.detail.value);
                        if (sel != undefined) {
                            this.$._CLDescription.value = sel.value;
                            this.$._CLUnitCost.value = parseInt(sel.extra);
                            this.$._CLMeasureUnitNo.value =  sel.extra2;
                        }
                    }
                },
                _readQuantity: function (param) {
                    if (param != "" && this.$._CLUnitCost != undefined) {
                        if (this.$._CLUnitCost != undefined) {
                            this.$._CLTotalCost.value = param.detail.value * this.$._CLUnitCost.value;
                        }
                        else
                            this.$._CLTotalCost.value = 0;
                    }
                },
                _mealTypeChanged: function (e) {
                    if (this.dataLines != null && e.detail.value != null && e.detail.value != "") {
                        var count = this.dataLines.length;
                        for (var i = 0; i < count; i++) {
                            this.dataLines[i].mealType = e.detail.value;
                            //description meal

                            var meals = $.grep(this.CBMealType, function (x) { return x.id == e.detail.value; });
                            if (meals != null && meals.length > 0) {
                                var meal = meals[0];
                                this.dataLines[i].descriptionMeal = meal.value;
                            }
                        }
                        this.$.grid_requisitionlines.clearCache();

                    }
                },

                _regionCodeChanged: function () {
                    if (this.dataLines != null) {
                        var count = this.dataLines.length;
                        for (var i = 0; i < count; i++) {
                            this.dataLines[i].regionCode = this.$.RegionCode.value;
                        }
                        this.$.grid_requisitionlines.clearCache();

                    }
                },
                _projectoNoChanged: function () {
                    if (this.dataLines != null) {
                        var count = this.dataLines.length;
                        for (var i = 0; i < count; i++) {
                            this.dataLines[i].projectNo = this.$.ProjectNo.value;
                        }
                        this.$.grid_requisitionlines.clearCache();

                    }
                },
                _locationCodeChanged: function () {
                    if (this.dataLines != null) {
                        var count = this.dataLines.length;
                        for (var i = 0; i < count; i++) {
                            this.dataLines[i].locationCode = this.$.LocationCode.value;
                        }
                        this.$.grid_requisitionlines.clearCache();

                    }
                },
                _areaCodeChanged: function () {
                    if (this.dataLines != null) {
                        var count = this.dataLines.length;
                        for (var i = 0; i < count; i++) {
                            this.dataLines[i].functionAreaCode = this.$.FunctionalAreaCode.value;

                        }
                        this.$.grid_requisitionlines.clearCache();

                    }
                },
               _productNoChanged: function () {
                    if (this.dataLines != null) {
                        var count = this.dataLines.length;
                        for (var i = 0; i < count; i++) {
                            this.dataLines[i]._productNoChanged = this.$._productNoChanged.value;

                        }
                        this.$.grid_requisitionlines.clearCache();

                    }
                },
               _getRegionDescription: function (id) {
                   if (id != undefined && this.CBRegionCodes != undefined) {
                       var sel = this.CBRegionCodes.find(x => x.id == id);
                       if (sel != undefined) {
                           return sel.value;
                       }
                   }
                   return "";
               },
               _getFunctionalAreaDescription: function (id) {
                   if (id != undefined && this.CBFunctionalAreaCodes != undefined) {
                       var sel = this.CBFunctionalAreaCodes.find(x => x.id == id);
                       if (sel != undefined) {
                           return sel.value;
                       }
                   }
                   return "";
               },
               _getResponsabilityCenterDescription: function (id) {
                   if (id != undefined && this.CBResponsabilityCenterCodes != undefined) {
                       var sel = this.CBResponsabilityCenterCodes.find(x => x.id == id);
                       if (sel != undefined) {
                           return sel.value;
                       }
                   }
                   return "";
               },
               _responsabilityCenterCodeChanged: function () {
                    if (this.dataLines != null) {
                        var count = this.dataLines.length;
                        for (var i = 0; i < count; i++) {
                            this.dataLines[i].responsabilityCenterCode = this.$.ResponsabilityCenterCode.value;
                        }
                        this.$.grid_requisitionlines.clearCache();

                    }
               },
               _descriptionMeal: function (param) {
                   if (param != undefined && this.CBMealType != undefined) {
                       var sel = this.CBMealType.find(x => x.id == param);
                       if (sel != undefined) {
                           return sel.value;
                       }
                   }
                   return "";
               },

               _goBack: function (e) {
                   window.history.back();
               },
            });
        });
    </script>

</dom-module>
