
@{
    ViewData["Title"] = "Folha de Horas Apoio";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1 class="title">Folha de Horas Apoio</h1>

<link rel="import" href="/elements/submenu/subMenuItemView.html">

<ul class="list-unstyled">
    <x-submenu link="@Url.Action("FolhaDeHoras", "Apoio")" image="folhadehoras.png" title="FH Criadas"></x-submenu>
    <x-submenu link="@Url.Action("FolhaDeHoras_Validacao", "Apoio")" image="folhadehoras.png" title="FH por Validar"></x-submenu>
    <x-submenu link="@Url.Action("FolhaDeHoras_IntegracaoAjudaCusto", "Apoio")" image="folhadehoras.png" title="FH por Integrar Aj. Custo RH"></x-submenu>
    <x-submenu link="@Url.Action("FolhaDeHoras_IntegracaoKMS", "Apoio")" image="folhadehoras.png" title="FH por Integrar km RH"></x-submenu>
    <x-submenu link="@Url.Action("FolhaDeHoras_Historico", "Apoio")" image="folhadehoras.png" title="FH Histórico"></x-submenu>
</ul>


