
@{
    ViewData["Title"] = "Apoio - Such";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1 class="title">Apoio</h1>

<link rel="import" href="/elements/submenu/subMenuItemView.html">

<ul class="list-unstyled">
    <x-submenu link="@Url.Action("Oportunidades", "Projetos")" image="opportunity.png" title="Oportunidades"></x-submenu>
    <x-submenu link="@Url.Action("Propostas", "Projetos")" image="proposal.png" title="Propostas"></x-submenu>
    <x-submenu link="@Url.Action("Contratos", "Projetos")" image="contract.png" title="Contratos"></x-submenu>
    <x-submenu link="@Url.Action("AvencaFixa", "Contratos")" image="avencafixa.png" title="Contratos Avença Fixa"></x-submenu>
    <x-submenu link="@Url.Action("Projetos", "Projetos")" image="projects1.png" title="Projetos"></x-submenu>
    <x-submenu link="@Url.Action("DiarioProjeto", "Projetos")" image="diarioprojetos.png" title="Diário Projetos"></x-submenu>
    <x-submenu link="@Url.Action("AutorizacaoFaturacao", "Projetos")" image="projects1.png" title="Autorização Faturação"></x-submenu>
    <x-submenu link="@Url.Action("FolhaDeHoras_Index", "Apoio")" image="folhadehoras.png" title="Folhas De Horas"></x-submenu>
    <x-submenu link="@Url.Action("Administracao", "Apoio")" image="auxiliary1.png" title="Administração"></x-submenu>
    <x-submenu link="@Url.Action("Viaturas", "Apoio")" imag image="projects1.png" title="Viaturas"></x-submenu>
</ul>


