
@{
    ViewData["Title"] = "Unidade de Armazenamento";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<link rel="import" href="/lib/paper-tabs-master/paper-tab.html" />
<link rel="import" href="/lib/paper-tabs-master/paper-tabs.html" />
<link rel="import" href="/lib/iron-pages-master/iron-pages.html" />
<link rel="import" href="/lib/iron-menu-behavior/iron-menubar-behavior.html" />
<link rel="import" href="/lib/iron-form/iron-form.html" />
<link rel="import" href="/lib/paper-button/paper-button.html" />
<link rel="import" href="/lib/paper-button/paper-button.html" />
<link rel="import" href="/lib/paper-toast-master/paper-toast.html" />

<link rel="import" href="/lib/vaadin-valo-theme/vaadin-date-picker.html">
<link rel="import" href="/lib/vaadin-valo-theme/vaadin-checkbox.html">
<link rel="import" href="/lib/vaadin-text-field/vaadin-text-field.html">
<link rel="import" href="/lib/vaadin-date-picker/vaadin-date-picker.html">
<link rel="import" href="/lib/vaadin-grid/vaadin-grid.html">
<link rel="import" href="/lib/vaadin-grid/vaadin-grid-filter.html">
<link rel="import" href="/lib/vaadin-grid/vaadin-grid-sorter.html">
<link rel="import" href="/lib/vaadin-checkbox/vaadin-checkbox.html">
<link rel="import" href="/lib/vaadin-combo-box/vaadin-combo-box.html" />
<link rel="import" href="/lib/such-textarea/such-textarea.html">
<link rel="import" href="/lib/paper-collapse-item/paper-collapse-group.html">
<link rel="import" href="/lib/paper-collapse-item/paper-collapse-item.html">

<x-unitstokkeeping></x-unitstokkeeping>

<dom-module id="x-unitstokkeeping">
    <template>
        <!-- STYLES -->
        <link rel="stylesheet" href="/lib/bootstrap/dist/css/bootstrap.css" />
        <link rel="stylesheet" href="/lib/font-awesome-4.7.0/css/font-awesome.min.css" />
        <link rel="stylesheet" href="/css/main.css" />
        <style>
            vaadin-combo-box {
                margin-top: 0px !important;
                width: 100% !important;
            }

            vaadin-date-picker {
                margin-top: 0px !important;
                width: 100% !important;
            }

            vaadin-text-field {
                margin-top: 0px !important;
                width: 100%;
            }

            paper-button {
                margin-top: 10px;
            }

            .break_clear {
                margin-top: 15px;
                margin-right: 0px !important;
                margin-left: 0px !important;
            }

            .break_frm {
                margin-top: 15px;
            }

            .marginSpace {
                margin: 0px !important;
            }

            paper-collapse-item {
                --paper-item: { padding: 0 0;};
                --paper-collapse-item-header: {
                        padding: 0 15px;
                        color: #333;
                        background-color: #f5f5f5;
                        border-bottom: solid #ddd 1px;
                        border-top-left-radius: 3px;
                        border-top-right-radius: 3px;

                    } --paper-collapse-toogle-icon: {
                    //display: none;
                    } --paper-collapse-item-content {

                    }
            }
        </style>

        @*POPULATE GRID*@
        <iron-ajax url="/UnidadeArmazenamento/GetUnitStockeepingId"
                   last-response="{{result}}"
                   method="post"
                   handle-as="json"
                   id="page_databound_ajax"
                   content-type="application/json">
        </iron-ajax>


        @*POPULATE Update*@

        <iron-ajax last-response="{{checkSession}}"
                   method="post"
                   handle-as="json"
                   id="ajax_check"
                   on-response="_sessionResponse"
                   content-type="application/json">
        </iron-ajax>

        <iron-ajax last-response="{{result}}"
                   method="post"
                   handle-as="json"
                   id="ajax_update"
                   on-response="_updateResponse"
                   content-type="application/json">
        </iron-ajax>

        @*CRUD NEW PROFILEMODEL*@

        <iron-ajax last-response="{{getProductresult}}"
                   method="post"
                   handle-as="json"
                   id="ajax_get"
                   on-response="_comboProductNoResponse"
                   content-type="application/json">
        </iron-ajax>

        <iron-ajax url="/PopulateDropdowns/GetProductseSUCH"
                   last-response="{{ProductNoList}}"
                   auto
                   method="post"
                   handle-as="json"
                   content-type="application/json">
        </iron-ajax>

        <iron-ajax url="/PopulateDropdowns/GetLocationsPortal"
                   last-response="{{LocalizacaoList}}"
                   auto
                   method="post"
                   handle-as="json"
                   content-type="application/json">
        </iron-ajax>

        <iron-ajax url="/PopulateDropdowns/GetNAVVendor"
                   last-response="{{VendorList}}"
                   auto
                   method="post"
                   handle-as="json"
                   content-type="application/json">
        </iron-ajax>

        <iron-ajax url="/PopulateDropdowns/GetLocations"
                   last-response="{{WareHouseList}}"
                   auto
                   method="post"
                   handle-as="json"
                   content-type="application/json">
        </iron-ajax>

        <iron-ajax url="/PopulateDropdowns/GetUnitOfMeasureByCodeeSUCH"
                   last-response="{{UnitsProductList}}"
                   auto
                   method="post"
                   handle-as="json"
                   content-type="application/json">
        </iron-ajax>

        <div class="subMenu">
            <paper-button class="tablinks" on-tap="_goBack" title="Voltar"><i class="fa fa-arrow-left" aria-hidden="true"></i> Voltar</paper-button>

            <paper-button id="btnCriar" class="btnEdit tablinks" value="createBtt" on-tap="_createNewStockeepingUnit" disabled="{{ !_permissions.create }}"><i class="fa fa-floppy-o" aria-hidden="true"></i>&nbsp; Criar</paper-button>
            <paper-button id="btnGuardar" class="btnEdit tablinks" value="updateBtt" on-tap="_updateStockeepingUnit" disabled="{{ !_permissions.update }}"><i class="fa fa-floppy-o" aria-hidden="true"></i>&nbsp; Guardar</paper-button>
            <paper-button id="btnEliminar" class="btnRemove tablinks" value="deleteBtt" on-tap="_deleteStockeepingUnit" disabled="{{ !_permissions.delete }}"><i class="fa fa-trash-o" aria-hidden="true"></i>&nbsp; Eliminar</paper-button>
            <paper-button id="btnMovimento" class="btnSave tablinks" value="deleteBtt" on-tap="_goProductMovement">&nbsp; Movimentos</paper-button>
        </div>

        <div class="row break_frm">
            <div class="col-md-12 col-md-12 col-lg-12">
                <iron-form id="formContract">

                    <div class="panel panel-default">
                        <div class="panel-body">
                            <paper-tabs fit-container no-slide autoselect autoselect-delay="0" selected="{{selected}}">
                                <paper-tab>Geral</paper-tab>
                                <paper-tab>Armazém</paper-tab>

                            </paper-tabs>

                            <iron-pages selected="{{selected}}">
                                <!--Geral-->
                                <div>
                                    <div class="row break_clear">
                                        <div class="col-md-3 ">
                                            <vaadin-combo-box items="[[ProductNoList]]" id="ddproductNo" name="ddproductNo" label="Nº de Produto" item-value-path="id" item-label-path="id" value="{{result.productNo}}" disabled="@ViewBag.NoProductDisable" on-change="_getDescriptionGroup">
                                                <template>
                                                    <table width="250px">
                                                        <tr>
                                                            <td width="100%"><b>[[item.id]]</b></td>
                                                        </tr>
                                                    </table>
                                                </template>
                                            </vaadin-combo-box>
                                        </div>
                                        <div class="col-md-3 ">
                                            <vaadin-text-field id="dddescription" name="dddescription" label="Descrição" value="{{result.description}}" disabled></vaadin-text-field>
                                        </div>
                                        <div class="col-md-3 ">
                                            <vaadin-combo-box items="[[LocalizacaoList]]" id="ddcodLocalitation" name="ddcodLocalitation" label="Cód. Localização" item-value-path="id" item-label-path="id" value="{{result.code}}">
                                                <template>
                                                    <paper-icon-item>
                                                        <paper-item-body two-line>
                                                            <div><b>[[item.id]]</b>  -  [[item.value]]</div>
                                                        </paper-item-body>
                                                    </paper-icon-item>
                                                </template>
                                            </vaadin-combo-box>
                                        </div>

                                        <div class="col-md-3 ">
                                            <vaadin-text-field id="ddinventory" name="ddinventory" label="Inventário" value="{{result.inventory}}" disabled="{{ !_isCreate}}"></vaadin-text-field>
                                        </div>
                                        <div class="col-md-3 ">
                                            <vaadin-text-field id="ddshelfNo" name="ddshelfNo" label="Nº Prateleiras" value="{{result.shelfNo}}" disabled="{{ !_isCreate}}"></vaadin-text-field>
                                        </div>
                                        <div class="col-lg-2 alignPoga">
                                            <vaadin-checkbox id="ddblocked" name="ddblocked" checked="{{result.blocked}}" disabled="{{ !_isCreate}}">Bloqueado</vaadin-checkbox>
                                        </div>
                                    </div>
                                </div>
                                <!--Armazem-->
                                <div>
                                    <div class="row break_clear">
                                        <div class="col-md-3 verticalCenter">
                                            <vaadin-checkbox id="ddcodeWareHouse" name="ddcodeWareHouse" checked="{{result.codeWareHouse}}">Armazém Principal</vaadin-checkbox>
                                        </div>
                                        <div class="col-md-3 ">
                                            <vaadin-text-field id="ddvalueWareHouse" type="number" name="ddvalueWareHouse" label="Valor Armazém" value="{{result.wareHouseValue}}" disabled="{{ !_isCreate}}"></vaadin-text-field>
                                        </div>

                                        <div class="col-md-3 ">
                                            <vaadin-combo-box items="[[VendorList]]" id="ddvendorNo" name="ddvendorNo" label="Nº Fornecedor" item-value-path="id" item-label-path="value" value="{{result.vendorNo}}">
                                                <template>
                                                    <paper-icon-item>
                                                        <paper-item-body two-line>
                                                            <div><b>[[item.value]]</b></div>
                                                            <div>[[item.id]]</div>
                                                        </paper-item-body>
                                                    </paper-icon-item>
                                                </template>
                                            </vaadin-combo-box>
                                        </div>
                                        <div class="col-md-3 ">
                                            <vaadin-text-field id="ddvendorItemNo" name="ddvendorItemNo" label="Cód. Produto Fornecedor" value="{{result.vendorItemNo}}"></vaadin-text-field>
                                        </div>
                                        @*<div class="col-md-3 ">
                                            <vaadin-text-field id="dditemCategoryCode" name="dditemCategoryCode" label="Cód. Categoria Produto" value="{{result.codeProcuctCategory}}" disabled></vaadin-text-field>
                                        </div>
                                        <div class="col-md-3 ">
                                            <vaadin-text-field id="ddproductGroupCode" name="ddproductGroupCode" label="Cód. Grupo Produto" value="{{result.codeProcuctGroup}}" disabled></vaadin-text-field>
                                        </div>*@

                                        <div class="col-md-3 ">
                                            <vaadin-combo-box items="[[UnitsProductList]]" id="ddunitsProductCod" name="ddunitsProductCod" label="Cód Unidade Medida Produto" item-value-path="id" item-label-path="value" value="{{result.codeUnitMeasure}}">
                                                <template>
                                                    <paper-icon-item>
                                                        <paper-item-body two-line>
                                                            <div><b>[[item.value]]</b></div>
                                                            <div>[[item.id]]</div>
                                                        </paper-item-body>
                                                    </paper-icon-item>
                                                </template>
                                            </vaadin-combo-box>
                                        </div>
                                        <div class="col-md-3 ">
                                            <vaadin-text-field id="ddunitCost" type="number" name="ddunitCost" label="Custo Unitário" value="{{result.unitCost}}"></vaadin-text-field>
                                        </div>
                                        <div class="col-md-3 ">
                                            <vaadin-text-field id="ddlastCostDirect" name="ddlastCostDirect" label="Último Custo Directo" value="{{result.lastCostDirect}}" disabled></vaadin-text-field>
                                        </div>
                                        <div class="col-md-3 ">
                                            <vaadin-text-field id="ddpriceSales" type="number" name="ddpriceSales" label="Preço de Venda" value="{{result.priceSale}}"></vaadin-text-field>
                                        </div>
                                    </div>
                                </div>
                            </iron-pages>
                        </div>
                    </div>
                </iron-form>
            </div>
        </div>

        <paper-toast id="ToastMessageSuccess" duration="4000" horizontalAlign="right" class="toastSuccess">&nbsp;<i class="fa fa-check fa-lg" aria-hidden="true"></i></paper-toast>
        <paper-toast id="ToastMessageError" duration="4000" horizontalAlign="right" class="toastError">&nbsp;<i class="fa fa-exclamation-triangle" aria-hidden="true"></i></paper-toast>
    </template>

    <script>

        document.addEventListener('WebComponentsReady', function () {
            Polymer({
                is: 'x-unitstokkeeping',
                properties: {

                    selected: {
                        type: Number,
                        value: 0
                    },
                    _permissions: {
                        type: Array,
                        value: @Html.Raw(Json.Serialize(ViewBag.UPermissions)),
                    },
                },

                ready: function () {
                    this.$.page_databound_ajax.body = JSON.stringify(@ViewBag.ProductNo);
                    this.$.page_databound_ajax.generateRequest();

                    //Inserir
                    if (@ViewBag.ButtonHide == 1) {
                        $(this.$.btnCriar).removeClass('hidden');
                        $(this.$.btnGuardar).addClass('hidden');
                        $(this.$.btnEliminar).addClass('hidden');
                        $(this.$.btnMovimento).addClass('hidden');
                    } else {
                        $(this.$.btnCriar).addClass('hidden');
                        $(this.$.btnGuardar).removeClass('hidden');
                        $(this.$.btnEliminar).removeClass('hidden');
                        $(this.$.btnMovimento).removeClass('hidden');
                    }
                    @*if (@ViewBag.ButtonHide==1) {
                        this.$.ddmarginSpace2.style.display = 'none';
                    //Actualizar
                    else
                      this.$.ddmarginSpace.style.display = 'none';*@
                },

                openToast: function (message) {
                    this.$.ToastMessageSuccess.text = message;
                    this.$.ToastMessageSuccess.open();
                },

                openToastError: function (message) {
                    this.$.ToastMessageError.text = message;
                    this.$.ToastMessageError.open();
                },

                _redirectToNewUnitForm: function (item) {
                    this.result = null;
                    this.$.ddproductNo.disabled = false;

                    $(this.$.btnCriar).removeClass('hidden');
                    $(this.$.btnGuardar).addClass('hidden');
                    $(this.$.btnEliminar).addClass('hidden');
                    $(this.$.btnMovimento).addClass('hidden');

                    //this.$.ddmarginSpace2.style.display = 'none';
                    //this.$.ddmarginSpace.style.display = 'inline';
                },

                _getDescriptionGroup: function (e) {
                    if (this.$.ddproductNo.value != null) {
                        this.$.ajax_get.url = "/UnidadeArmazenamento/GetProductId";
                        this.$.ajax_get.body = JSON.stringify(this.$.ddproductNo.value);
                        this.$.ajax_get.generateRequest();
                    }
                },

                _createNewStockeepingUnit: function (e) {
                    if (this.$.ddproductNo.value != null && this.$.ddproductNo.value !="") {
                        var objectNew = {
                            ProductNo : this.$.ddproductNo.value,
                            Code: this.$.ddcodLocalitation.value,
                            Description: this.$.dddescription.value,
                            Inventory: this.$.ddinventory.value,
                            Blocked : this.$.ddblocked.checked,
                            UnitCost : this.$.ddunitCost.value,
                            WareHouseValue: this.$.ddvalueWareHouse.value,
                            CodeWareHouse: this.$.ddcodeWareHouse.checked,
                            ShelfNo : this.$.ddshelfNo.value,
                            VendorNo : this.$.ddvendorNo.value,
                            VendorItemNo : this.$.ddvendorItemNo.value,
                            LastCostDirect: this.$.ddlastCostDirect.value,
                            //CodeProcuctCategory: this.$.dditemCategoryCode.value,
                            //CodeProcuctGroup: this.$.ddproductGroupCode.value,
                            PriceSale: this.$.ddpriceSales.value,
                            CodeUnitMeasure: this.$.ddunitsProductCod.value
                        }
                        this.$.ajax_update.url = "/UnidadeArmazenamento/CreateUnitStockeeping";
                            this.$.ajax_update.body = JSON.stringify(objectNew);
                            this.$.ajax_update.generateRequest();
                    }
                },

                _updateStockeepingUnit: function (e) {
                    if (this.$.ddproductNo.value != null && this.$.ddproductNo.value != "") {
                        var objectNew = {
                            ProductNo: this.$.ddproductNo.value,
                            Code: this.$.ddcodLocalitation.value,
                            Description: this.$.dddescription.value,
                            Inventory: this.$.ddinventory.value,
                            Blocked: this.$.ddblocked.checked,
                            UnitCost: this.$.ddunitCost.value,
                            WareHouseValue: this.$.ddvalueWareHouse.value,
                            CodeWareHouse: this.$.ddcodeWareHouse.checked,
                            ShelfNo: this.$.ddshelfNo.value,
                            VendorNo: this.$.ddvendorNo.value,
                            VendorItemNo: this.$.ddvendorItemNo.value,
                            LastCostDirect: this.$.ddlastCostDirect.value,
                            //CodeProcuctCategory: this.$.dditemCategoryCode.value,
                            //CodeProcuctGroup: this.$.ddproductGroupCode.value,
                            PriceSale: this.$.ddpriceSales.value,
                            CodeUnitMeasure: this.$.ddunitsProductCod.value
                        }
                        this.$.ajax_update.url = "/UnidadeArmazenamento/UpdateUnitStockeeping";
                        this.$.ajax_update.body = JSON.stringify(objectNew);
                        this.$.ajax_update.generateRequest();
                    }
                },

                _deleteStockeepingUnit: function (e) {
                    if (this.$.ddproductNo.value != null && this.$.ddproductNo.value != "") {
                        var objectNew = {
                            ProductNo: this.$.ddproductNo.value,
                            Code: this.$.ddcodLocalitation.value,
                            Description: this.$.dddescription.value,
                            Inventory: this.$.ddinventory.value,
                            Blocked: this.$.ddblocked.checked,
                            UnitCost: this.$.ddunitCost.value,
                            WareHouseValue: this.$.ddvalueWareHouse.value,
                            CodeWareHouse: this.$.ddcodeWareHouse.checked,
                            ShelfNo: this.$.ddshelfNo.value,
                            VendorNo: this.$.ddvendorNo.value,
                            VendorItemNo: this.$.ddvendorItemNo.value,
                            LastCostDirect: this.$.ddlastCostDirect.value,
                            //CodeProcuctCategory: this.$.dditemCategoryCode.value,
                            //CodeProcuctGroup: this.$.ddproductGroupCode.value,
                            PriceSale: this.$.ddpriceSales.value,
                            CodeUnitMeasure: this.$.ddunitsProductCod.value
                        }
                        this.$.ajax_update.url = "/UnidadeArmazenamento/DeleteUnitStockeeping";
                        this.$.ajax_update.body = JSON.stringify(objectNew);
                        this.$.ajax_update.generateRequest();
                    }
                },

                _updateResponse: function (e) {

                    if (this.result == "101") {
                        this.openToastError('Registo duplicado!');
                    } else if (this.result == "102") {
                        this.openToastError('Registo não atualização');
                    } else if (this.result == "103") {
                        this.openToast('Registo eliminado');
                        this.result = null;
                        this.$.ddproductNo.disabled = false;

                        $(this.$.btnCriar).removeClass('hidden');
                        $(this.$.btnGuardar).addClass('hidden');
                        $(this.$.btnEliminar).addClass('hidden');
                        $(this.$.btnMovimento).addClass('hidden');

                        //this.$.ddmarginSpace2.style.display = 'none';
                        //this.$.ddmarginSpace.style.display = 'inline';
                    } else {
                        this.openToast("Actualizado com Sucesso!");

                        $(this.$.btnCriar).addClass('hidden');
                        $(this.$.btnGuardar).removeClass('hidden');
                        $(this.$.btnEliminar).removeClass('hidden');
                        $(this.$.btnMovimento).removeClass('hidden');

                        //this.$.ddproductNo.value = "",
                        //this.$.ddcodLocalitation.value = "",
                        //this.$.dddescription.value = "",
                        //this.$.ddinventory.value = "",
                        //this.$.ddblocked.checked = false,
                        //this.$.ddunitCost.value = "",
                        //this.$.ddvalueWareHouse.value = "",
                        //this.$.ddcodeWareHouse.checked = false,
                        //this.$.ddshelfNo.value = "",
                        //this.$.ddvendorNo.value = "",
                        //this.$.ddvendorItemNo.value = "",
                        //this.$.ddlastCostDirect.value = "",
                            //this.$.dditemCategoryCode.value = "",
                            //this.$.ddproductGroupCode.value = "",
                        //this.$.ddpriceSales.value = "",
                        //this.$.ddunitsProductCod.value="",
                        //this.$.ddproductNo.disabled = false;
                    }
                },

                _comboProductNoResponse: function (e) {
                    //debugger;
                    if (this.getProductresult != null) {
                        this.$.dddescription.value = this.getProductresult.descricao;
                        //this.$.dditemCategoryCode.value = this.getProductresult[0].itemCategoryCode;
                        //this.$.ddproductGroupCode.value = this.getProductresult[0].productGroupCode;
                        //this.$.ddlastCostDirect.value = this.getProductresult[0].lastCostDirect;
                    }

                },

                _goProductMovement: function (e) {
                    this.$.ajax_check.url = "/UnidadeArmazenamento/SetSessionMovimentoProduto";
                    this.$.ajax_check.body = JSON.stringify(this.result);
                    this.$.ajax_check.generateRequest();
                },

                _sessionResponse: function (e) {

                    if (this.checkSession == true)
                        window.location.href = "/UnidadeArmazenamento/MovimentoProdutos";
                    else
                        this.openToastError('Necessita de Nº Produto');
                },

                _redirectToList: function (e) {
                    window.location.href = "/UnidadeArmazenamento";
                },

                _goBack: function (e) {
                    window.history.back();
                },

            });
        });
    </script>
</dom-module>

