
@{
    ViewData["Title"] = "Internacional - Such";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1 class="title">Internacional</h1>

<link rel="import" href="/elements/submenu/subMenuItemView.html">

<ul class="list-unstyled">
    <x-submenu link="@Url.Action("Oportunidades", "Internacionalizacoes")" image="opportunity.png" title="Oportunidades"></x-submenu>
    <x-submenu link="@Url.Action("Propostas", "Internacionalizacoes")" image="proposal.png" title="Propostas"></x-submenu>
    <x-submenu link="@Url.Action("Contratos", "Internacionalizacoes")" image="contract.png" title="Contratos"></x-submenu>
    <x-submenu link="@Url.Action("AvencaFixa", "Contratos")" image="avencafixa.png" title="Faturação Contratos Avença Fixa"></x-submenu>
    <x-submenu link="@Url.Action("Projetos", "Internacionalizacoes")" image="projects1.png" title="Projetos"></x-submenu>
    <x-submenu link="@Url.Action("DiarioProjeto", "Internacionalizacoes")" image="diarioprojetos.png" title="Diário Projetos"></x-submenu>
    <x-submenu link="@Url.Action("PreRequisicoesLista", "Internacionalizacoes")" image="pre_requirement.png" title="Pré-Requisição"></x-submenu>
    <x-submenu link="@Url.Action("AvencaFixa", "Contratos")" image="contracts1.png" title="Faturação Contratos Avença Fixa"></x-submenu>
    <x-submenu link="@Url.Action("Index", "Contactos")" image="contracts1.png" title="Contactos"></x-submenu>
    <x-submenu link="@Url.Action("FolhaDeHoras_Index", "Internacionalizacoes")" image="folhadehoras.png" title="Folhas De Horas"></x-submenu>
    <x-submenu link="@Url.Action("Administracao", "Internacionalizacoes")" image="auxiliary1.png" title="Administração"></x-submenu>
</ul>



