@using Microsoft.AspNetCore.Http
@inject IHttpContextAccessor HttpContextAccessor
<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0, minimal-ui">
    <link rel="shortcut icon" sizes="196x196" href="~/Infinity/assets/images/logo1.png">
    <title>e-SUCH</title>

    @*<link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />*@
    <link rel="stylesheet" href="~/css/main.css" />
    @*<link rel="stylesheet" href="~/lib/font-awesome-4.7.0/css/font-awesome.min.css" asp-append-version="true" />*@

    <link rel="stylesheet" href="~/Infinity/libs/bower/font-awesome/css/font-awesome.min.css">
    <link rel="stylesheet" href="~/Infinity/libs/bower/material-design-iconic-font/dist/css/material-design-iconic-font.css">
    <!-- build:css ../assets/css/app.min.css -->
    <link rel="stylesheet" href="~/Infinity/libs/bower/animate.css/animate.min.css">
    <link rel="stylesheet" href="~/Infinity/libs/bower/fullcalendar/dist/fullcalendar.min.css">
    <link rel="stylesheet" href="~/Infinity/libs/bower/perfect-scrollbar/css/perfect-scrollbar.css">
    <link rel="stylesheet" href="~/Infinity/assets/css/bootstrap.css">
    <link rel="stylesheet" href="~/Infinity/assets/css/core.css">
    <link rel="stylesheet" href="~/Infinity/assets/css/app.css">
    <!-- endbuild -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway:400,500,600,700,800,900,300">
    <script src="~/Infinity/libs/bower/breakpoints.js/dist/breakpoints.min.js"></script>
    <script>
        Breakpoints();
    </script>

    <!-- POLYMER IMPORTS -->
    <link rel="import" href="/lib/polymer/polymer-element.html" />
    <link rel="import" href="/lib/iron-ajax/iron-ajax.html" />

    <style type="text/css">
        .navbar-toolbar > li {
            background-color: #FFF0 !important;
        }
    </style>
</head>
<body class="menubar-left menubar-unfold menubar-light theme-primary">
    <!--============= start main area -->
    <!-- APP NAVBAR ==========-->
    <nav id="app-navbar" class="navbar navbar-inverse navbar-fixed-top primary">

        <!-- navbar header -->
        <div class="navbar-header">
            <button type="button" id="menubar-toggle-btn" class="navbar-toggle visible-xs-inline-block navbar-toggle-left hamburger hamburger--collapse js-hamburger">
                <span class="sr-only">Toggle navigation</span>
                <span class="hamburger-box"><span class="hamburger-inner"></span></span>
            </button>
            <button type="button" class="navbar-toggle navbar-toggle-right collapsed" data-toggle="collapse" data-target="#app-navbar-collapse" aria-expanded="false">
                <span class="sr-only">Toggle navigation</span>
                <span class="zmdi zmdi-hc-lg zmdi-more"></span>
            </button>
            @*<button type="button" class="navbar-toggle navbar-toggle-right collapsed" data-toggle="collapse" data-target="#navbar-search" aria-expanded="false">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="zmdi zmdi-hc-lg zmdi-search"></span>
                </button>*@
            <a href="/" class="navbar-brand">
                <span class="brand-icon">
                    <img src="~/images/esuchSVG-02.svg" alt="">
                </span>
                @*<span class="brand-name" style="color: black;">SUCH</span>*@
            </a>
        </div><!-- .navbar-header -->

        <div class="navbar-container container-fluid">
            <div class="collapse navbar-collapse" id="app-navbar-collapse">
                <ul class="nav navbar-toolbar navbar-toolbar-left navbar-left">
                    <li class="hidden-float hidden-menubar-top">
                        <a href="javascript:void(0)" role="button" id="menubar-fold-btn" class="hamburger hamburger--arrowalt js-hamburger">
                            <span class="hamburger-box"><span class="hamburger-inner"></span></span>
                        </a>
                    </li>
                    <li>
                        <h5 class="page-title hidden-menubar-top hidden-float">@ViewData["Title"]</h5>
                    </li>
                </ul>

                <div class="page-title hidden-menubar-top hidden-float pull-right">
                    @User.Identity.Name &nbsp;&nbsp;&nbsp;
                </div>
            </div>
        </div><!-- navbar-container -->
    </nav>
    <!--========== END app navbar -->
    <!-- APP ASIDE ==========-->
    <aside id="menubar" class="menubar light menubar-resizable">
        <div class="after"></div>

        <div class="menubar-scroll">
            <div class="menubar-scroll-inner">
                <ul class="app-menu">
                    <li id="approvalPendingShow">
                        <a href="/Approvals">
                            <i class="menu-icon zmdi zmdi-check zmdi-hc-lg"></i>
                            <span id="pendingApprovalsLink" class="menu-text danger">Aprovações Pendentes &nbsp;</span>
                        </a>
                    </li>

                    <li class="has-submenu">
                        <a href="javascript:void(0)" class="submenu-toggle">
                            <i class="menu-icon zmdi zmdi-view-dashboard zmdi-hc-lg"></i>
                            <span class="menu-text">Processos DR's</span>
                            <i class="menu-caret zmdi zmdi-hc-sm zmdi-chevron-right"></i>
                        </a>
                        <ul class="submenu">
                            <li>@Html.ActionLink("Contactos", "Index", "Contactos", null, null)</li>
                            <li>@Html.ActionLink("Clientes", "Index", "Clientes", null, null)</li>
                            <li>@Html.ActionLink("Oportunidades", "Oportunidades", "Contratos", null, null)</li>
                            <li>@Html.ActionLink("Propostas", "Propostas", "Contratos", null, null)</li>
                            <li>@Html.ActionLink("Contratos", "Index", "Contratos", null, null)</li>
                            <li>@Html.ActionLink("Contratos Avença Fixa", "AvencaFixa", "Contratos", null, null)</li>
                        </ul>
                    </li><!-- .menu-item -->

                    <li class="has-submenu">
                        <a href="javascript:void(0)" class="submenu-toggle">
                            <i class="menu-icon zmdi zmdi-pages zmdi-hc-lg"></i>
                            <span class="menu-text">Processos UP's e UAS</span>
                            <i class="menu-caret zmdi zmdi-hc-sm zmdi-chevron-right"></i>
                        </a>
                        <ul class="submenu">
                            <li>@Html.ActionLink("Projetos", "Index", "Projetos", null, null)</li>
                            <li>@Html.ActionLink("Orçamentos", "", "", null, null)</li>
                            <li>@Html.ActionLink("Diário Projetos", "DiarioProjeto", "Projetos", new { id = "" }, null)</li>
                            <li>@Html.ActionLink("Pré-Registos", "PreregistoProjetos", "Projetos", new { id = "" }, null)</li>
                            @*<li>@Html.ActionLink("Autorização Faturação", "AutorizacaoFaturacao", "Projetos", null, null)</li>*@
                            <li>@Html.ActionLink("Faturação Projetos", "Faturacao", "Projetos", null, null)</li>
                            <li>@Html.ActionLink("Unidades Produtivas", "Index", "UnidadesProdutivas", null, null)</li>
                            <li>@Html.ActionLink("Preços Venda – Clientes", "PreçosServiçosCliente", "Projetos", null, null)</li>
                            <li class="has-submenu">
                                <a href="javascript:void(0)" class="submenu-toggle">
                                    <i class="menu-icon zmdi zmdi-plus zmdi-hc-lg"></i>
                                    <span class="menu-text">Gestão Localizações</span>
                                    <i class="menu-caret zmdi zmdi-hc-sm zmdi-chevron-right"></i>
                                </a>
                                <ul class="submenu">
                                    <li>@Html.ActionLink("Produtos", "List", "Produtos", null, null)</li>
                                    <li>@Html.ActionLink("Unidades Armazenamento", "Index", "UnidadeArmazenamento", null, null)</li>
                                    <li>@Html.ActionLink("Unidade Medida Produto", "UnidadeMedidaProduto", "Nutricao", null, null)</li>
                                    <li>@Html.ActionLink("Diários Artigos-Produtos", "", "", null, null)</li>
                                    <li>@Html.ActionLink("Requisições Simplificadas", "Index", "RequisicoesSimplificadas", null, null)</li>
                                    <li>@Html.ActionLink("Fichas Técnicas", "Index", "FichasTecnicasPratos", null, null)</li>
                                    <li>@Html.ActionLink("Histórico Requisições Simplificadas", "Index", "RequisicoesSimplificadas", new { area = "", option = 2 }, null)</li>
                                </ul>
                            </li>

                            <li class="has-submenu">
                                <a href="javascript:void(0)" class="submenu-toggle">
                                    <i class="menu-icon zmdi zmdi-plus zmdi-hc-lg"></i>
                                    <span class="menu-text">Gestão Viaturas</span>
                                    <i class="menu-caret zmdi zmdi-hc-sm zmdi-chevron-right"></i>
                                </a>
                                <ul class="submenu">
                                    <li>@Html.ActionLink("Viaturas", "Viaturas", "Viaturas", null, null)</li>
                                </ul>
                            </li>

                            <li class="has-submenu">
                                <a href="javascript:void(0)" class="submenu-toggle">
                                    <i class="menu-icon zmdi zmdi-plus zmdi-hc-lg"></i>
                                    <span class="menu-text">Telemóveis</span>
                                    <i class="menu-caret zmdi zmdi-hc-sm zmdi-chevron-right"></i>
                                </a>
                                <ul class="submenu">
                                    <li>@Html.ActionLink("Equipamentos", "TelemoveisEquipamentos", "TelemoveisEquipamentos", null, null)</li>
                                    <li>@Html.ActionLink("Cartões", "TelemoveisCartoes", "TelemoveisCartoes", null, null)</li>
                                </ul>
                            </li>

                        </ul>
                    </li><!-- .menu-item -->

                    <li class="has-submenu">
                        <a href="javascript:void(0)" class="submenu-toggle">
                            <i class="menu-icon zmdi zmdi-layers zmdi-hc-lg"></i>
                            <span class="menu-text">Compras</span>
                            <i class="menu-caret zmdi zmdi-hc-sm zmdi-chevron-right"></i>
                        </a>
                        <ul class="submenu">
                            <li>@Html.ActionLink("Receção e Conferência Faturas", "RececaoFaturas", "Faturacao", null, null)</li>
                            <li>@Html.ActionLink("Pré-Requisição", "Index", "PreRequisicoes", null, null)</li>
                            <li class="has-submenu">
                                <a href="javascript:void(0)" class="submenu-toggle">
                                    <i class="menu-icon zmdi zmdi-plus zmdi-hc-lg"></i>
                                    <span class="menu-text">Requisições</span>
                                    <i class="menu-caret zmdi zmdi-hc-sm zmdi-chevron-right"></i>
                                </a>
                                <ul class="submenu">
                                    <li>@Html.ActionLink("Validação Requisições", "RequisicoesAprovadas", "GestaoRequisicoes", null, null)</li>
                                    <li>@Html.ActionLink("Gestão de Requisições", "Index", "GestaoRequisicoes", null, null)</li>
                                    <li>@Html.ActionLink("Pontos de Situação", "PontosSituacao", "GestaoRequisicoes", null, null)</li>
                                    <li>@Html.ActionLink("Arquivo Requisições", "Arquivadas", "GestaoRequisicoes", null, null)</li>
                                    <li>@Html.ActionLink("Modelos Requisição", "Index", "ModelosRequisicao", null, null)</li>
                                    <li>@Html.ActionLink("Mod. Req. Simplificadas", "Index", "ModelosReqSimplificada", new { area = "" }, null)</li>
                                </ul>
                            </li>

                            <li class="has-submenu">
                                <a href="javascript:void(0)" class="submenu-toggle">
                                    <i class="menu-icon zmdi zmdi-plus zmdi-hc-lg"></i>
                                    <span class="menu-text">Pedidos de Cotação</span>
                                    <i class="menu-caret zmdi zmdi-hc-sm zmdi-chevron-right"></i>
                                </a>
                                <ul class="submenu">
                                    @*<li>@Html.ActionLink("Actividades", "Actividades", "Actividades", null, null)</li>
                                    <li>@Html.ActionLink("Actividades Por Fornecedor", "ActividadesPorFornecedor", "ActividadesPorFornecedor", null, null)</li>
                                    <li>@Html.ActionLink("Actividades Por Produto", "ActividadesPorProduto", "ActividadesPorProduto", null, null)</li>*@
                                    <li>@Html.ActionLink("Consulta de Mercado", "ConsultaMercado", "ConsultaMercado", null, null)</li>
                                </ul>
                            </li>

                            <li class="has-submenu">
                                <a href="javascript:void(0)" class="submenu-toggle">
                                    <i class="menu-icon zmdi zmdi-plus zmdi-hc-lg"></i>
                                    <span class="menu-text">Procedimentos CCP</span>
                                    <i class="menu-caret zmdi zmdi-hc-sm zmdi-chevron-right"></i>
                                </a>
                                <ul class="submenu">
                                    <li>@Html.ActionLink("Pedido de Aquisição", "PedidoAquisicao", "ProcedimentosCcps", null, null)</li>
                                    <li>@Html.ActionLink("Pedido Simplificado", "PedidoSimplificado", "ProcedimentosCcps", null, null)</li>
                                    <li>@Html.ActionLink("Quadro de bordo", "QuadroBordo", "ProcedimentosCcps", null, null)</li>
                                    <li>@Html.ActionLink("Quadro de bordo Simplificado", "QuadroBordoSimplificado", "ProcedimentosCcps", null, null)</li>
                                    <li>@Html.ActionLink("Quadro de bordo CA", "QuadroBordoCA", "ProcedimentosCcps", null, null)</li>
                                </ul>
                            </li>
                            <li>@Html.ActionLink("Pré Encomendas", "LinhasPreEncomenda", "LinhasPreEncomenda", null, null)</li>
                            <li>@Html.ActionLink("Mercado Local", "MercadoLocalList", "MercadoLocal", null, null)</li>
                        </ul>
                    </li><!-- .menu-item -->

                    <li class="has-submenu">
                        <a href="javascript:void(0)" class="submenu-toggle">
                            <i class="menu-icon fa fa-leaf"></i>
                            <span class="menu-text">Folhas de Horas</span>
                            <i class="menu-caret zmdi zmdi-hc-sm zmdi-chevron-right"></i>
                        </a>
                        <ul class="submenu">
                            <li>@Html.ActionLink("Folhas de Horas", "Index", "FolhasDeHoras", null, null)</li>
                            @*<li>@Html.ActionLink("Folhas de Horas Pendentes", "FolhaDeHoras_Pendentes", "FolhasDeHoras", null, null)</li>
                                <li>@Html.ActionLink("Nova / Criadas", "Index", "FolhasDeHoras", null, null)</li>
                                <li>@Html.ActionLink("Por Validar", "FolhaDeHoras_Validacao", "FolhasDeHoras", null, null)</li>
                                <li>@Html.ActionLink("Por Integrar Aj. Custo RH", "FolhaDeHoras_IntegracaoAjudaCusto", "FolhasDeHoras", null, null)</li>
                                <li>@Html.ActionLink("Por Integrar km RH", "FolhaDeHoras_IntegracaoKMS", "FolhasDeHoras", null, null)</li>
                                <li>@Html.ActionLink("Histórico", "FolhaDeHoras_Historico", "FolhasDeHoras", null, null)</li>*@
                        </ul>
                    </li><!-- .menu-item -->

                    <li class="has-submenu">
                        <a href="javascript:void(0)" class="submenu-toggle">
                            <i class="menu-icon zmdi zmdi-settings zmdi-hc-lg"></i>
                            <span class="menu-text">Administração</span>
                            <i class="menu-caret zmdi zmdi-hc-sm zmdi-chevron-right"></i>
                        </a>
                        <ul class="submenu">
                            <!--Diversos-->
                            <li>@Html.ActionLink("Configurações", "Configuracoes", "Administracao", new { area = "" }, null)</li>
                            <li>@Html.ActionLink("Config. Numerações", "ConfiguracaoNumeracoes", "Administracao", new { area = "" }, null)</li>
                            <li>@Html.ActionLink("Perfis Modelo", "PerfisModelo", "Administracao", new { area = "" }, null)</li>
                            <li>@Html.ActionLink("Config. Utilizadores", "ConfiguracaoUtilizadores", "Administracao", new { area = "" }, null)</li>
                            <li>@Html.ActionLink("Config. Aprovações", "ConfiguracaoAprovacoes", "Administracao", new { area = "", id = "Administracao" }, null)</li>
                            <li>@Html.ActionLink("Grupo Aprovações", "GruposAprovacoes", "Administracao", new { area = "", id = "Administracao" }, null)</li>

                            <li>@Html.ActionLink("Objetos De Serviço", "ObjetosDeServico", "Administracao", null, null)</li>
                            <li>@Html.ActionLink("Tipos de Refeição", "TiposRefeicao", "Administracao", null, null)</li>
                            <li>@Html.ActionLink("Serviços", "Servicos", "Administracao", null, null)</li>
                            <li>@Html.ActionLink("Serviços Cliente", "ServicosCliente", "Administracao", null, null)</li>
                            <li>@Html.ActionLink("Destinos Finais Residuos", "DestinosFinaisResiduos", "Administracao", null, null)</li>

                            <li>@Html.ActionLink("Grupos Classif. Fichas Técnicas", "ClassificacaoFichasTecnicas", "Administracao", new { option = "Grupos" }, null)</li>
                            <li>@Html.ActionLink("Classif. Fichas Técnicas", "ClassificacaoFichasTecnicas", "Administracao", new { id = "" }, null)</li>
                            <li>@Html.ActionLink("Acções Confeção", "AccoesConfecao", "Administracao", null, null)</li>
                            <li>@Html.ActionLink("Procedimento Confeção", "ProcedimentoConfecao", "Administracao", null, null)</li>

                            <li>@Html.ActionLink("Tipos Viaturas", "TiposViaturas", "Administracao", null, null)</li>
                            <li>@Html.ActionLink("Marcas", "Marcas", "Administracao", null, null)</li>
                            <li>@Html.ActionLink("Modelos", "Modelos", "Administracao", null, null)</li>
                            <li>@Html.ActionLink("Cartões e Apólices", "CartoesEApolices", "Administracao", null, null)</li>

                            <li>@Html.ActionLink("Locais", "Locais", "Administracao", null, null)</li>

                            <li>@Html.ActionLink("Tipos Requisições", "TiposRequisicao", "Administracao", null, null)</li>
                            <li>@Html.ActionLink("Localizações (Armazéns)", "Localizacoes", "Administracao", null, null)</li>
                            <li>@Html.ActionLink("Unidades de Prestação", "UnidadePrestacao", "Administracao", null, null)</li>

                            <li>@Html.ActionLink("Config. Mercado Local", "ConfiguracaoMLResponsaveis", "Administracao", null, null)</li>
                            <li>@Html.ActionLink("Unidade Medida", "UnidadeMedida", "Administracao", null, null)</li>

                            <!--FH-->
                            <li class="has-submenu">
                                <a href="javascript:void(0)" class="submenu-toggle">
                                    <i class="menu-icon zmdi zmdi-plus zmdi-hc-lg"></i>
                                    <span class="menu-text">Folha de Horas</span>
                                    <i class="menu-caret zmdi zmdi-hc-sm zmdi-chevron-right"></i>
                                </a>
                                <ul class="submenu">
                                    <li>@Html.ActionLink("FH Ajudas de Custo", "ConfiguracaoAjudaCusto", "Administracao", new { area = "", id = "Administracao" }, null)</li>
                                    <li>@Html.ActionLink("FH Autorização Empregado", "ConfiguracaoAutorizacaoFHRH", "Administracao", new { area = "", id = "Administracao" })</li>
                                    <li>@Html.ActionLink("FH Distância", "ConfiguracaoDistanciaFH", "Administracao", new { area = "", id = "Administracao" }, null)</li>
                                    <li>@Html.ActionLink("FH Empregado Recursos", "ConfiguracaoRHRecursosFH", "Administracao", new { area = "", id = "Administracao" }, null)</li>
                                    <li>@Html.ActionLink("FH Origem Destino", "ConfiguracaoOrigemDestinoFH", "Administracao", new { area = "", id = "Administracao" }, null)</li>
                                    <li>@Html.ActionLink("FH Preço Venda Recursos", "ConfiguracaoPrecoVendaRecursoFH", "Administracao", new { area = "", id = "Administracao" }, null)</li>
                                    <li>@Html.ActionLink("FH Recursos", "ConfiguracaoRecursosFolhaHoras", "Administracao", new { area = "", id = "Administracao" }, null)</li>
                                    <li>@Html.ActionLink("FH Tipo Trabalho", "ConfiguracaoTipoTrabalhoFH", "Administracao", new { area = "", id = "Administracao" }, null)</li>
                                </ul>
                            </li>

                            <!--CCP-->
                            <li class="has-submenu">
                                <a href="javascript:void(0)" class="submenu-toggle">
                                    <i class="menu-icon zmdi zmdi-plus zmdi-hc-lg"></i>
                                    <span class="menu-text">CCP</span>
                                    <i class="menu-caret zmdi zmdi-hc-sm zmdi-chevron-right"></i>
                                </a>
                                <ul class="submenu">
                                    <li>@Html.ActionLink("Configuração CCP", "ConfiguracaoCCP", "Administracao", null, null)</li>
                                </ul>
                            </li>

                            <!--Projetos-->
                            <li>@Html.ActionLink("Tipos Projeto", "TiposProjetoDetalhes", "Administracao", null, null)</li>
                            <li>@Html.ActionLink("Tipos Grupo Contab. Projeto", "TiposGrupoContabProjeto", "Administracao", null, null)</li>
                            <li>@Html.ActionLink("Tipos Grupo Contab OM Projet", "TiposGrupoContabOMProjeto", "Administracao", null, null)</li>

                            <li>@Html.ActionLink("Acordo de Preços", "AcordoPrecos_List", "Administracao", null, null)</li>

                            <!--CCP-->
                            <li class="has-submenu">
                                <a href="javascript:void(0)" class="submenu-toggle">
                                    <i class="menu-icon zmdi zmdi-plus zmdi-hc-lg"></i>
                                    <span class="menu-text">Receção Faturação</span>
                                    <i class="menu-caret zmdi zmdi-hc-sm zmdi-chevron-right"></i>
                                </a>
                                <ul class="submenu">
                                    <li>@Html.ActionLink("Configuração Problemas", "ConfigProblemas", "Administracao", null, null)</li>
                                    <li>@Html.ActionLink("Configuração Destinatários", "ConfigDestinatarios", "Administracao", null, null)</li>
                                </ul>
                            </li>
                        </ul>
                    </li><!-- .menu-item -->

                </ul><!-- .app-menu -->
            </div><!-- .menubar-scroll-inner -->
        </div><!-- .menubar-scroll -->
    </aside>
    <!--========== END app aside -->
    <!-- navbar search -->
    <!-- .navbar-search -->
    <!-- APP MAIN ==========-->
    <main id="app-main" class="app-main">
        <div class="wrap">
            <section class="app-content">

                <div class="row">
                    @RenderBody()
                </div><!-- .row -->
            </section><!-- #dash-content -->
        </div><!-- .wrap -->
        <!-- APP FOOTER -->
        <!-- /#app-footer -->
    </main>
    <!--========== END app main -->
    <!-- APP CUSTOMIZER -->
    <!-- SIDE PANEL -->
    <!-- /#side-panel -->
    <!-- build:js ~/Infinity/assets/js/core.min.js -->
    <script src="~/Infinity/libs/bower/jquery/dist/jquery.js"></script>
    <script src="~/Infinity/libs/bower/jquery-ui/jquery-ui.min.js"></script>
    <script src="~/Infinity/libs/bower/jQuery-Storage-API/jquery.storageapi.min.js"></script>
    <script src="~/Infinity/libs/bower/bootstrap-sass/assets/javascripts/bootstrap.js"></script>
    <script src="~/Infinity/libs/bower/jquery-slimscroll/jquery.slimscroll.js"></script>
    <script src="~/Infinity/libs/bower/perfect-scrollbar/js/perfect-scrollbar.jquery.js"></script>
    <script src="~/Infinity/libs/bower/PACE/pace.min.js"></script>
    <!-- endbuild -->
    <!-- build:js ~/Infinity/assets/js/app.min.js -->
    <script src="~/Infinity/assets/js/library.js"></script>
    <script src="~/Infinity/assets/js/plugins.js"></script>
    <script src="~/Infinity/assets/js/app.js"></script>
    <!-- endbuild -->
    <script src="~/Infinity/libs/bower/moment/moment.js"></script>
    <script src="~/Infinity/libs/bower/fullcalendar/dist/fullcalendar.min.js"></script>
    <script src="~/Infinity/assets/js/fullcalendar.js"></script>


    <script src="~/lib/jquery/dist/jquery.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script src="/lib/webcomponentsjs/webcomponents-loader.js"></script>
    <script src="/lib/sweetalert.min.js"></script>
    <script src="/lib/bootbox.min.js"></script>

    <script>
        var TotalPendingApprovals = '@HttpContextAccessor.HttpContext.Session.GetString("totalPendingApprovals")';
        if (TotalPendingApprovals != "0" && TotalPendingApprovals != undefined) {
            //$('#approvalPendingShow').hide();
                $('#pendingApprovalsLink').text('Aprovações Pendentes (' + TotalPendingApprovals + ')');
            } else {
                $('#approvalPendingShow').hide();
            }

            //$(".menu-content > li").click(function () {
            //    $(".menu-content").find(".sub-menu").not($(this).next('.sub-menu')).removeClass("in");
            //});

    </script>
    <script src="https://ajax.aspnetcdn.com/ajax/jquery/jquery-2.2.0.min.js"
            asp-fallback-src="~/lib/jquery/dist/jquery.min.js"
            asp-fallback-test="window.jQuery"
            crossorigin="anonymous"
            integrity="sha384-K+ctZQ+LL8q6tP7I94W+qzQsfRV2a+AfHIi9k8z8l9ggpc8X+Ytst4yBo/hH+8Fk">
    </script>
    <script src="https://ajax.aspnetcdn.com/ajax/bootstrap/3.3.7/bootstrap.min.js"
            asp-fallback-src="~/lib/bootstrap/dist/js/bootstrap.min.js"
            asp-fallback-test="window.jQuery && window.jQuery.fn && window.jQuery.fn.modal"
            crossorigin="anonymous"
            integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa">
    </script>
    <script src="~/js/site.min.js" asp-append-version="true"></script>




    @RenderSection("Scripts", required: false)
</body>



</html>
