@using Microsoft.AspNetCore.Http
@inject IHttpContextAccessor HttpContextAccessor
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Home - Plataforma Operacional</title>
    <link rel="icon" href="~/images/favicon.ico">


    <!-- POLYMER IMPORTS -->
    <link rel="import" href="/lib/polymer/polymer-element.html" />
    <link rel="import" href="/lib/iron-ajax/iron-ajax.html" />


    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
    <link rel="stylesheet" href="~/css/main.css" />
    <link rel="stylesheet" href="~/lib/font-awesome-4.7.0/css/font-awesome.min.css" asp-append-version="true" />



    @*<environment exclude="Development">
            <link rel="stylesheet" href="https://ajax.aspnetcdn.com/ajax/bootstrap/3.3.7/css/bootstrap.min.css"
                  asp-fallback-href="~/lib/bootstrap/dist/css/bootstrap.min.css"
                  asp-fallback-test-class="sr-only" asp-fallback-test-property="position" asp-fallback-test-value="absolute" />
        </environment>*@

</head>
<body>
    <div class="container-fluid">
        <div class="row">
            <div class="nav-side-menu col-lg-2">
                <div class="brand"><a href="/"><img src="~/images/suchlogo.jpg" alt="Such Logotipo" /></a></div>
                <i class="fa fa-bars fa-2x toggle-btn" data-toggle="collapse" data-target="#menu-content"></i>

                <div class="menu-list">
                    <ul id="menu-content" class="menu-content collapse out">
                        <li data-toggle="Aprovações pendentes" class="active" id="approvalPendingShow">
                            <center style="color:red;"><a href="/Approvals" id="pendingApprovalsLink"> Aprovações Pendentes</a></center>
                        </li>
                        <li data-toggle="collapse" data-target="#Engenharia" class="collapsed active">
                            <a href="#"> Engenharia <span class="arrow"></span></a>
                        </li>
                        <ul class="sub-menu collapse" id="Engenharia">
                            <li>@Html.ActionLink("Oportunidades", "Oportunidades", "Engenharia")</li>
                            <li>@Html.ActionLink("Propostas", "Propostas", "Engenharia")</li>
                            <li>@Html.ActionLink("Contratos", "Contratos", "Engenharia")</li>
                            <li>@Html.ActionLink("Projetos", "Projetos", "Engenharia")</li>
                            <li>@Html.ActionLink("Diário Projetos", "DiarioProjeto", "Engenharia")</li>
                            <li>@Html.ActionLink("Pré-Requisição", "PreRequisicoesLista", "Engenharia")</li>

                            <li>@Html.ActionLink("Faturação", "Faturacao", "Projetos")</li>
                            <li>@Html.ActionLink("Avença Fixa", "AvencaFixa", "Contratos")</li>
                            <li data-toggle="collapse" data-target="#FolhasDeHorasEngenharia" class="collapsed active">
                                <a href="#"> Folha de Horas <span class="arrow"></span></a>
                                <ul class="sub-menu collapse" id="FolhasDeHorasEngenharia">
                                    <li>@Html.ActionLink("Folhas de Horas", "FolhaDeHoras", "Engenharia", new { area = "" }, null)</li>
                                    <li>@Html.ActionLink("Validação", "FolhaDeHoras_Validacao", "Engenharia", new { area = "" }, null)</li>
                                    <li>@Html.ActionLink("Integração Aj Custo RH", "FolhaDeHoras_IntegracaoAjudaCusto", "Engenharia", new { area = "" }, null)</li>
                                    <li>@Html.ActionLink("Integração KMs RH", "FolhaDeHoras_IntegracaoKMS", "Engenharia", new { area = "" }, null)</li>
                                    <li>@Html.ActionLink("Histórico", "FolhaDeHoras_Historico", "Engenharia", new { area = "" }, null)</li>
                                </ul>
                            </li>
                            <li>@Html.ActionLink("Contactos", "Index", "Contactos", new { area = "" }, null)</li>
                            <li>@Html.ActionLink("Administração", "Administracao", "Engenharia", new { area = "" }, null)</li>
                        </ul>


                        <li data-toggle="collapse" data-target="#Ambiente" class="collapsed active">
                            <a href="#"> Ambiente <span class="arrow"></span></a>
                        </li>
                        <ul class="sub-menu collapse" id="Ambiente">
                            <li>@Html.ActionLink("Oportunidades", "Oportunidades", "Ambiente")</li>
                            <li>@Html.ActionLink("Propostas", "Propostas", "Ambiente")</li>
                            <li>@Html.ActionLink("Contratos", "Contratos", "Ambiente")</li>
                            <li>@Html.ActionLink("Projetos", "Projetos", "Ambiente")</li>
                            <li>@Html.ActionLink("Diário Projetos", "DiarioProjeto", "Ambiente")</li>
                            <li>@Html.ActionLink("Pré-Requisição", "PreRequisicoesLista", "Ambiente")</li>

                            <li>@Html.ActionLink("Faturação", "Faturacao", "Projetos")</li>
                            <li>@Html.ActionLink("Avença Fixa", "AvencaFixa", "Contratos")</li>
                            <li data-toggle="collapse" data-target="#FolhasDeHorasAmbiente" class="collapsed active">
                                <a href="#"> Folha de Horas <span class="arrow"></span></a>
                                <ul class="sub-menu collapse" id="FolhasDeHorasAmbiente">
                                    <li>@Html.ActionLink("Folhas de Horas", "FolhaDeHoras", "Ambiente", new { area = "" }, null)</li>
                                    <li>@Html.ActionLink("Validação", "FolhaDeHoras_Validacao", "Ambiente", new { area = "" }, null)</li>
                                    <li>@Html.ActionLink("Integração Aj Custo RH", "FolhaDeHoras_IntegracaoAjudaCusto", "Ambiente", new { area = "" }, null)</li>
                                    <li>@Html.ActionLink("Integração KMs RH", "FolhaDeHoras_IntegracaoKMS", "Ambiente", new { area = "" }, null)</li>
                                    <li>@Html.ActionLink("Histórico", "FolhaDeHoras_Historico", "Ambiente", new { area = "" }, null)</li>
                                </ul>
                            </li>
                            <li>@Html.ActionLink("Contactos", "Index", "Contactos", new { area = "" }, null)</li>
                            <li>@Html.ActionLink("Administração", "Administracao", "Ambiente", new { area = "" }, null)</li>
                        </ul>


                        <li data-toggle="collapse" data-target="#Nutricao" class="collapsed active">
                            <a href="#"> Nutricao <span class="arrow"></span></a>
                        </li>
                        <ul class="sub-menu collapse" id="Nutricao">
                            <li>@Html.ActionLink("Oportunidades", "Oportunidades", "Nutricao")</li>
                            <li>@Html.ActionLink("Propostas", "Propostas", "Nutricao")</li>
                            <li>@Html.ActionLink("Contratos", "Contratos", "Nutricao")</li>
                            <li>@Html.ActionLink("Projetos", "Projetos", "Nutricao")</li>
                            <li>@Html.ActionLink("Diário Projetos", "DiarioProjeto", "Nutricao")</li>
                            <li>@Html.ActionLink("Pré-Requisição", "PreRequisicoesLista", "Nutricao")</li>

                            <li>@Html.ActionLink("Faturação", "Faturacao", "Projetos")</li>
                            <li>@Html.ActionLink("Movimento de Produtos", "MovimentoProdutos", "Nutricao")</li>
                            <li>@Html.ActionLink("Unidade de Medida de Produto", "UnidadeMedidaProduto", "Nutricao")</li>
                            <li>@Html.ActionLink("Unidade de Armazem", "UnidadeArmazenamento", "Nutricao")</li>

                            <li data-toggle="collapse" data-target="#FolhasDeHorasNutricao" class="collapsed active">
                                <a href="#"> Folha de Horas <span class="arrow"></span></a>
                                <ul class="sub-menu collapse" id="FolhasDeHorasNutricao">
                                    <li>@Html.ActionLink("Folhas de Horas", "FolhaDeHoras", "Nutricao", new { area = "" }, null)</li>
                                    <li>@Html.ActionLink("Validação", "FolhaDeHoras_Validacao", "Nutricao", new { area = "" }, null)</li>
                                    <li>@Html.ActionLink("Integração Aj Custo RH", "FolhaDeHoras_IntegracaoAjudaCusto", "Nutricao", new { area = "" }, null)</li>
                                    <li>@Html.ActionLink("Integração KMs RH", "FolhaDeHoras_IntegracaoKMS", "Nutricao", new { area = "" }, null)</li>
                                    <li>@Html.ActionLink("Histórico", "FolhaDeHoras_Historico", "Nutricao", new { area = "" }, null)</li>
                                </ul>
                            </li>
                            <li>@Html.ActionLink("Administração", "Administracao", "Nutricao", new { area = "" }, null)</li>
                            <li>@Html.ActionLink("Unidades Produtivas", "UnidadesProdutivas", "Nutricao", new { area = "" }, null)</li>
                            <li>@Html.ActionLink("Cafetarias / Refeitórios", "CafetariasRefeitorios", "Nutricao", new { area = "" }, null)</li>
                            <li>@Html.ActionLink("Localizações", "Localizacoes", "Nutricao", new { area = "Nutricao" }, null)</li>
                            <li>@Html.ActionLink("Modelos Req. Simplificadas", "ModelosReqSimplificada", "Nutricao", new { area = "" }, null)</li>
                            <li>@Html.ActionLink("Requisições Simplificadas", "RequisicoesSimplificadas", "Nutricao", new { area = "" }, null)</li>
                            <li>@Html.ActionLink("Requisições para Registar", "RequisicoesSimplificadas", "Nutricao", new { area = "", option = 1 }, null)</li>

                        </ul>


                        <li data-toggle="collapse" data-target="#Vendas" class="collapsed active">
                            <a href="#"> Vendas <span class="arrow"></span></a>
                        </li>
                        <ul class="sub-menu collapse" id="Vendas">
                            <li>@Html.ActionLink("Oportunidades", "Oportunidades", "Vendas")</li>
                            <li>@Html.ActionLink("Propostas", "Propostas", "Vendas")</li>
                            <li>@Html.ActionLink("Contratos", "Contratos", "Vendas")</li>
                            <li>@Html.ActionLink("Projetos", "Projetos", "Vendas")</li>
                            <li>@Html.ActionLink("Diário Projetos", "DiarioProjeto", "Vendas")</li>
                            <li>@Html.ActionLink("Pré-Requisição", "PreRequisicoesLista", "Vendas")</li>

                            <li>@Html.ActionLink("Faturação", "Faturacao", "Projetos")</li>
                            <li>@Html.ActionLink("Avença Fixa", "AvencaFixa", "Contratos")</li>
                            <li>@Html.ActionLink("Requisições", "Requisicoes", "Vendas")</li>
                            <li>@Html.ActionLink("Contactos", "Index", "Contactos")</li>
                            <li>@Html.ActionLink("Administração", "Administracao", "Vendas")</li>
                        </ul>

                        <li data-toggle="collapse" data-target="#Apoio" class="collapsed active">
                            <a href="#"> Apoio <span class="arrow"></span></a>
                        </li>
                        <ul class="sub-menu collapse" id="Apoio">
                            <li>@Html.ActionLink("Oportunidades", "Oportunidades", "Apoio")</li>
                            <li>@Html.ActionLink("Propostas", "Propostas", "Apoio")</li>
                            <li>@Html.ActionLink("Contratos", "Contratos", "Apoio")</li>
                            <li>@Html.ActionLink("Projetos", "Projetos", "Apoio")</li>
                            <li>@Html.ActionLink("Diário Projetos", "DiarioProjeto", "Apoio")</li>
                            <li>@Html.ActionLink("Pré-Requisição", "PreRequisicoesLista", "Apoio")</li>

                            <li>@Html.ActionLink("Faturação", "Faturacao", "Projetos")</li>
                            <li data-toggle="collapse" data-target="#FolhasDeHorasApoio" class="collapsed active">
                                <a href="#"> Folha de Horas <span class="arrow"></span></a>
                                <ul class="sub-menu collapse" id="FolhasDeHorasApoio">
                                    <li>@Html.ActionLink("Folhas de Horas", "FolhaDeHoras", "Apoio", new { area = "" }, null)</li>
                                    <li>@Html.ActionLink("Validação", "FolhaDeHoras_Validacao", "Apoio", new { area = "" }, null)</li>
                                    <li>@Html.ActionLink("Integração Aj Custo RH", "FolhaDeHoras_IntegracaoAjudaCusto", "Apoio", new { area = "" }, null)</li>
                                    <li>@Html.ActionLink("Integração KMs RH", "FolhaDeHoras_IntegracaoKMS", "Apoio", new { area = "" }, null)</li>
                                    <li>@Html.ActionLink("Histórico", "FolhaDeHoras_Historico", "Apoio", new { area = "" }, null)</li>
                                </ul>
                            </li>
                            <li>@Html.ActionLink("Viaturas", "Viaturas", "Apoio", new { area = "" }, null)</li>
                            <li>@Html.ActionLink("Administração", "Administracao", "Apoio", new { area = "" }, null)</li>
                        </ul>

                        <li data-toggle="collapse" data-target="#PO" class="collapsed active">
                            <a href="#"> P&O <span class="arrow"></span></a>
                        </li>
                        <ul class="sub-menu collapse" id="PO">
                            <li>@Html.ActionLink("Oportunidades", "Oportunidades", "PO")</li>
                            <li>@Html.ActionLink("Propostas", "Propostas", "PO")</li>
                            <li>@Html.ActionLink("Contratos", "Contratos", "PO")</li>
                            <li>@Html.ActionLink("Projetos", "Projetos", "PO")</li>
                            <li>@Html.ActionLink("Diário Projetos", "DiarioProjeto", "PO")</li>
                            <li>@Html.ActionLink("Pré-Requisição", "PreRequisicoesLista", "PO")</li>

                            <li>@Html.ActionLink("Faturação", "Faturacao", "Projetos")</li>
                            <li data-toggle="collapse" data-target="#FolhasDeHorasPO" class="collapsed active">
                                <a href="#"> Folha de Horas <span class="arrow"></span></a>
                                <ul class="sub-menu collapse" id="FolhasDeHorasPO">
                                    <li>@Html.ActionLink("Folhas de Horas", "FolhaDeHoras", "PO", new { area = "" }, null)</li>
                                    <li>@Html.ActionLink("Validação", "FolhaDeHoras_Validacao", "PO", new { area = "" }, null)</li>
                                    <li>@Html.ActionLink("Integração Aj Custo RH", "FolhaDeHoras_IntegracaoAjudaCusto", "PO", new { area = "" }, null)</li>
                                    <li>@Html.ActionLink("Integração KMs RH", "FolhaDeHoras_IntegracaoKMS", "PO", new { area = "" }, null)</li>
                                    <li>@Html.ActionLink("Histórico", "FolhaDeHoras_Historico", "PO", new { area = "" }, null)</li>
                                </ul>
                            </li>
                            <li>@Html.ActionLink("Administração", "Administracao", "PO", new { area = "" }, null)</li>
                        </ul>

                        <li data-toggle="collapse" data-target="#NovasAreas" class="collapsed active">
                            <a href="#"> Novas Áreas <span class="arrow"></span></a>
                        </li>
                        <ul class="sub-menu collapse" id="NovasAreas">
                            <li>@Html.ActionLink("Oportunidades", "Oportunidades", "NovasAreas")</li>
                            <li>@Html.ActionLink("Propostas", "Propostas", "NovasAreas")</li>
                            <li>@Html.ActionLink("Contratos", "Contratos", "NovasAreas")</li>
                            <li>@Html.ActionLink("Projetos", "Projetos", "NovasAreas")</li>
                            <li>@Html.ActionLink("Diário Projetos", "DiarioProjeto", "NovasAreas")</li>
                            <li>@Html.ActionLink("Pré-Requisição", "PreRequisicoesLista", "NovasAreas")</li>

                            <li>@Html.ActionLink("Faturação", "Faturacao", "Projetos")</li>
                            <li data-toggle="collapse" data-target="#FolhasDeHorasNovasAreas" class="collapsed active">
                                <a href="#"> Folha de Horas <span class="arrow"></span></a>
                                <ul class="sub-menu collapse" id="FolhasDeHorasNovasAreas">
                                    <li>@Html.ActionLink("Folhas de Horas", "FolhaDeHoras", "NovasAreas", new { area = "" }, null)</li>
                                    <li>@Html.ActionLink("Validação", "FolhaDeHoras_Validacao", "NovasAreas", new { area = "" }, null)</li>
                                    <li>@Html.ActionLink("Integração Aj Custo RH", "FolhaDeHoras_IntegracaoAjudaCusto", "NovasAreas", new { area = "" }, null)</li>
                                    <li>@Html.ActionLink("Integração KMs RH", "FolhaDeHoras_IntegracaoKMS", "NovasAreas", new { area = "" }, null)</li>
                                    <li>@Html.ActionLink("Histórico", "FolhaDeHoras_Historico", "NovasAreas", new { area = "" }, null)</li>
                                </ul>
                            </li>
                            <li>@Html.ActionLink("Administração", "Administracao", "NovasAreas", new { area = "" }, null)</li>
                        </ul>

                        <li data-toggle="collapse" data-target="#Internacionalizacoes" class="collapsed active">
                            <a href="#"> Internacionalizações <span class="arrow"></span></a>
                        </li>
                        <ul class="sub-menu collapse" id="Internacionalizacoes">
                            <li>@Html.ActionLink("Oportunidades", "Oportunidades", "Internacionalizacoes")</li>
                            <li>@Html.ActionLink("Propostas", "Propostas", "Internacionalizacoes")</li>
                            <li>@Html.ActionLink("Contratos", "Contratos", "Internacionalizacoes")</li>
                            <li>@Html.ActionLink("Projetos", "Projetos", "Internacionalizacoes")</li>
                            <li>@Html.ActionLink("Diário Projetos", "DiarioProjeto", "Internacionalizacoes")</li>
                            <li>@Html.ActionLink("Pré-Requisição", "PreRequisicoesLista", "Internacionalizacoes")</li>

                            <li>@Html.ActionLink("Faturação", "Faturacao", "Projetos")</li>
                            <li>@Html.ActionLink("Avença Fixa", "AvencaFixa", "Contratos")</li>
                            <li data-toggle="collapse" data-target="#FolhasDeHorasInternacionalizacoes" class="collapsed active">
                                <a href="#"> Folha de Horas <span class="arrow"></span></a>
                                <ul class="sub-menu collapse" id="FolhasDeHorasInternacionalizacoes">
                                    <li>@Html.ActionLink("Folhas de Horas", "FolhaDeHoras", "Internacionalizacoes", new { area = "" }, null)</li>
                                    <li>@Html.ActionLink("Validação", "FolhaDeHoras_Validacao", "Internacionalizacoes", new { area = "" }, null)</li>
                                    <li>@Html.ActionLink("Integração Aj Custo RH", "FolhaDeHoras_IntegracaoAjudaCusto", "Internacionalizacoes", new { area = "" }, null)</li>
                                    <li>@Html.ActionLink("Integração KMs RH", "FolhaDeHoras_IntegracaoKMS", "Internacionalizacoes", new { area = "" }, null)</li>
                                    <li>@Html.ActionLink("Histórico", "FolhaDeHoras_Historico", "Internacionalizacoes", new { area = "" }, null)</li>
                                </ul>
                            </li>
                            <li>@Html.ActionLink("Contactos", "Index", "Contactos", new { area = "" }, null)</li>
                            <li>@Html.ActionLink("Administração", "Administracao", "Internacionalizacoes", new { area = "" }, null)</li>
                        </ul>

                        <li data-toggle="collapse" data-target="#Juridico" class="collapsed active">
                            <a href="#"> Jurídico <span class="arrow"></span></a>
                        </li>
                        <ul class="sub-menu collapse" id="Juridico">
                            @*
                            <li>@Html.ActionLink("Processos Disciplinares", "ProcessosDisciplinares", "Juridico")</li>
                            <li>@Html.ActionLink("Processos de Inquérito", "ProcessosInquerito", "Juridico")</li>*@
                            <li>@Html.ActionLink("Administração", "Administracao", "Juridico", new { area = "" }, null)</li>
                        </ul>

                        <li data-toggle="collapse" data-target="#Compras" class="collapsed active">
                            <a href="#"> Compras <span class="arrow"></span></a>
                        </li>
                        <ul class="sub-menu collapse" id="Compras">
                            @*
                            <li>@Html.ActionLink("Receção de Mercadorias", "RececaoMercadorias", "Compras")</li>
                            <li>@Html.ActionLink("Receção de Faturas", "RececaoFaturas", "Compras")</li>
                            <li>@Html.ActionLink("Tabelas Auxiliares", "TabelasAuxiliares", "Compras")</li>*@
                            @* zpgm.< Procedimentos CCP menu *@
                            <li data-toggle="collapse" data-target="#Compras" class="collapsed active">
                                <a href="#"> Procedimentos CCP <span class="arrow"></span></a>
                                <ul>
                                    <li>@Html.ActionLink("Pedido Aquisição", "PedidoAquisicao", "ProcedimentosCcps", new { area = "" }, null)</li>
                                    <li>@Html.ActionLink("Pedido Simplificado", "PedidoSimplificado", "ProcedimentosCcps", new { area = "" }, null)</li>

                                </ul>
                            </li>
                            @* zpgm.> *@
                            <li>@Html.ActionLink("Pré-Requisição", "PreRequisicoesLista", "Compras", new { area = "" }, null)</li>
                            <li>@Html.ActionLink("Requisições Aprovadas", "GestaoRequisicoes/RequisicoesAprovadas", "Compras", new { area = "" }, null)</li>
                            <li>@Html.ActionLink("Gestão de Requisições", "GestaoRequisicoes/Detalhes", "Compras", new { area = "" }, null)</li>
                            <li>@Html.ActionLink("Receção de Faturas", "RececaoFaturas", "Compras", new { area = "" }, null)</li>
                            <li>@Html.ActionLink("Administração", "Administracao", "Compras", new { area = "" }, null)</li>
                        </ul>

                        <li data-toggle="collapse" data-target="#Administracao" class="collapsed active">
                            <a href="#"> Administração <span class="arrow"></span></a>
                        </li>
                        <ul class="sub-menu collapse" id="Administracao">
                            <li>@Html.ActionLink("Configurações", "Configuracoes", "Administracao", new { area = "" }, null)</li>
                            <li>@Html.ActionLink("Config. Numerações", "ConfiguracaoNumeracoes", "Administracao", new { area = "" }, null)</li>
                            <li>@Html.ActionLink("Perfis Modelo", "PerfisModelo", "Administracao", new { area = "" }, null)</li>
                            <li>@Html.ActionLink("Config. Utilizadores", "ConfiguracaoUtilizadores", "Administracao", new { area = "" }, null)</li>

                            <li>@Html.ActionLink("Config. Recursos FH", "ConfiguracaoRecursosFolhaHoras", "Administracao", new { id = "Administracao" })</li>
                            <li>@Html.ActionLink("Config. Tipo Trabalho FH", "ConfiguracaoTipoTrabalhoFH", "Administracao", new { id = "Administracao" })</li>
                            <li>@Html.ActionLink("Config. Preço Venda Recursos FH", "ConfiguracaoPrecoVendaRecursoFH", "Administracao", new { id = "Administracao" })</li>
                            <li>@Html.ActionLink("Config. RH Recursos FH", "ConfiguracaoRHRecursosFH", "Administracao", new { id = "Administracao" })</li>
                            <li>@Html.ActionLink("Config. Autorização RH FH", "ConfiguracaoAutorizacaoFHRH", "Administracao", new { id = "Administracao" })</li>
                            <li>@Html.ActionLink("Config. Origem Destino FH", "ConfiguracaoOrigemDestinoFH", "Administracao", new { id = "Administracao" })</li>
                            <li>@Html.ActionLink("Config. Distância FH", "ConfiguracaoDistanciaFH", "Administracao", new { id = "Administracao" })</li>
                            <li>@Html.ActionLink("Config. Aprovações", "ConfiguracaoAprovacoes", "Administracao", new { id = "Administracao" })</li>
                            <li>@Html.ActionLink("Grupo Aprovações", "GruposAprovacoes", "Administracao", new { id = "Administracao" })</li>
                        </ul>

                    </ul>
                </div>

            </div>

            <div class="body-content  col-lg-10 col-md-12 col-sm-12 col-xs-12">

                @RenderBody()
                <hr />

                @*<footer>
                        <p>&copy; @DateTime.Now.Year - Such</p>
                    </footer>*@
            </div>
        </div>



        <script src="~/lib/jquery/dist/jquery.js"></script>
        <script src="~/lib/bootstrap/dist/js/bootstrap.js"></script>
        <script src="~/js/site.js" asp-append-version="true"></script>
        <script src="/lib/webcomponentsjs/webcomponents-loader.js"></script>
        <script src="/lib/sweetalert.min.js"></script>
        <script src="/lib/bootbox.min.js"></script>

        <script>
            var TotalPendingApprovals = '@HttpContextAccessor.HttpContext.Session.GetString("totalPendingApprovals")';
            if (TotalPendingApprovals != "0") {
                $('#pendingApprovalsLink').text('Aprovações Pendentes (' + TotalPendingApprovals + ')');
            } else {
                $('#approvalPendingShow').hide();
            }
            
        </script>
        <script src="https://ajax.aspnetcdn.com/ajax/jquery/jquery-2.2.0.min.js"
                asp-fallback-src="~/lib/jquery/dist/jquery.min.js"
                asp-fallback-test="window.jQuery"
                crossorigin="anonymous"
                integrity="sha384-K+ctZQ+LL8q6tP7I94W+qzQsfRV2a+AfHIi9k8z8l9ggpc8X+Ytst4yBo/hH+8Fk">
        </script>
        <script src="https://ajax.aspnetcdn.com/ajax/bootstrap/3.3.7/bootstrap.min.js"
                asp-fallback-src="~/lib/bootstrap/dist/js/bootstrap.min.js"
                asp-fallback-test="window.jQuery && window.jQuery.fn && window.jQuery.fn.modal"
                crossorigin="anonymous"
                integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa">
        </script>
        <script src="~/js/site.min.js" asp-append-version="true"></script>





        @RenderSection("Scripts", required: false)
    </div>
</body>



</html>
