<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Home - Plataforma Operacional</title>
    <link rel="icon" href="~/images/favicon.ico">


    <!-- POLYMER IMPORTS -->
    <link rel="import" href="/lib/polymer/polymer-element.html" />
    <link rel="import" href="/lib/iron-ajax/iron-ajax.html" />


    <environment include="Development">
        <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
        <link rel="stylesheet" href="~/css/main.css" />
        <link rel="stylesheet" href="~/lib/font-awesome-4.7.0/css/font-awesome.min.css" asp-append-version="true" />
    </environment>
    <environment exclude="Development">
        <link rel="stylesheet" href="https://ajax.aspnetcdn.com/ajax/bootstrap/3.3.7/css/bootstrap.min.css"
              asp-fallback-href="~/lib/bootstrap/dist/css/bootstrap.min.css"
              asp-fallback-test-class="sr-only" asp-fallback-test-property="position" asp-fallback-test-value="absolute" />
    </environment>
</head>
<body>
    <div class="container-fluid">
        <div class="row">
            <div class="nav-side-menu col-lg-2">
                <div class="brand"><a href="/"><img src="~/images/suchlogo.jpg" alt="Such Logotipo" /></a></div>
                <i class="fa fa-bars fa-2x toggle-btn" data-toggle="collapse" data-target="#menu-content"></i>

                <div class="menu-list">
                    <ul id="menu-content" class="menu-content collapse out">
                        <li data-toggle="collapse" data-target="#Engenharia" class="collapsed active">
                            <a href="#"> Engenharia <span class="arrow"></span></a>
                        </li>
                        <ul class="sub-menu collapse" id="Engenharia">
                            <li>@Html.ActionLink("Contratos", "Contratos", "Engenharia")</li>
                            @*<li>@Html.ActionLink("Requisições", "Requisicoes", "Engenharia")</li>*@
                            <li>@Html.ActionLink("Avença Fixa", "AvencaFixa", "Contratos")</li>
                            <li>@Html.ActionLink("Administração", "Administracao", "Engenharia")</li>
                            <li>@Html.ActionLink("Folha de Horas", "Index", "FolhasDeHoras")</li>
                        </ul>


                        <li data-toggle="collapse" data-target="#Ambiente" class="collapsed active">
                            <a href="#"> Ambiente <span class="arrow"></span></a>
                        </li>
                        <ul class="sub-menu collapse" id="Ambiente">
                            @*
                            <li>@Html.ActionLink("Requisições", "Requisicoes", "Ambiente")</li>*@
                            <li>@Html.ActionLink("Contratos", "Contratos", "Ambiente")</li>
                            <li>@Html.ActionLink("Avença Fixa", "AvencaFixa", "Contratos")</li>
                            <li>@Html.ActionLink("Administração", "Administracao", "Ambiente")</li>
                        </ul>


                        <li data-toggle="collapse" data-target="#Nutricao" class="collapsed active">
                            <a href="#"> Nutricao <span class="arrow"></span></a>
                        </li>
                        <ul class="sub-menu collapse" id="Nutricao">
                            <li>@Html.ActionLink("Projetos", "Projetos", "Nutricao")</li>
                            <li>@Html.ActionLink("Diário Projetos", "DiarioProjeto", "Projetos")</li>
                            @*<li>@Html.ActionLink("Contratos", "Contratos", "Nutricao")</li>
                                <li>@Html.ActionLink("Requisições", "Requisicoes", "Nutricao")</li>
                                <li>@Html.ActionLink("Fichas Técnicas de Pratos", "FichasTecnicasPratos", "Nutricao")</li>*@
                            <li>@Html.ActionLink("Administração", "Administracao", "Nutricao")</li>
                        </ul>


                        <li data-toggle="collapse" data-target="#Vendas" class="collapsed active">
                            <a href="#"> Vendas <span class="arrow"></span></a>
                        </li>
                        <ul class="sub-menu collapse" id="Vendas">
                            <li>@Html.ActionLink("Contratos", "Contratos", "Vendas")</li>
                            <li>@Html.ActionLink("Avença Fixa", "AvencaFixa", "Contratos")</li>
                            @*<li>@Html.ActionLink("Contratos", "Contratos", "Vendas")</li>
                              <li>@Html.ActionLink("Requisições", "Requisicoes", "Vendas")</li>*@
                                <li>@Html.ActionLink("Administração", "Administracao", "Vendas")</li>
                        </ul>

                        <li data-toggle="collapse" data-target="#Apoio" class="collapsed active">
                            <a href="#"> Apoio <span class="arrow"></span></a>
                        </li>
                        <ul class="sub-menu collapse" id="Apoio">
                            @*<li>@Html.ActionLink("Viaturas", "Viaturas", "Apoio")</li>
                                <li>@Html.ActionLink("Importação de Custos", "ImportacaoCustos", "Apoio")</li>*@
                            <li>@Html.ActionLink("Administração", "Administracao", "Apoio")</li>
                        </ul>

                        <li data-toggle="collapse" data-target="#PO" class="collapsed active">
                            <a href="#"> P&O <span class="arrow"></span></a>
                        </li>
                        <ul class="sub-menu collapse" id="PO">
                            <li>@Html.ActionLink("Projetos", "Projetos", "PO")</li>
                            <li>@Html.ActionLink("Diário Projetos", "DiarioProjeto", "Projetos")</li>
                            <li>@Html.ActionLink("Administração", "Administracao", "PO")</li>
                        </ul>

                        <li data-toggle="collapse" data-target="#NovasAreas" class="collapsed active">
                            <a href="#"> Novas Áreas <span class="arrow"></span></a>
                        </li>
                        <ul class="sub-menu collapse" id="NovasAreas">
                            <li>@Html.ActionLink("Projetos", "Projetos", "NovasAreas")</li>
                            <li>@Html.ActionLink("Diário Projetos", "DiarioProjeto", "Projetos")</li>
                            <li>@Html.ActionLink("Administração", "Administracao", "NovasAreas")</li>
                        </ul>

                        <li data-toggle="collapse" data-target="#Internacionalizacoes" class="collapsed active">
                            <a href="#"> Internacionalizações <span class="arrow"></span></a>
                        </li>
                        <ul class="sub-menu collapse" id="Internacionalizacoes">
                            <li>@Html.ActionLink("Projetos", "Projetos", "Internacionalizacoes")</li>
                            <li>@Html.ActionLink("Diário Projetos", "DiarioProjeto", "Projetos")</li>
                            <li>@Html.ActionLink("Contratos", "Contratos", "Internacionalizacoes")</li>
                            <li>@Html.ActionLink("Avença Fixa", "AvencaFixa", "Contratos")</li>
                            <li>@Html.ActionLink("Administração", "Administracao", "Internacionalizacoes")</li>
                        </ul>

                        <li data-toggle="collapse" data-target="#Juridico" class="collapsed active">
                            <a href="#"> Jurídico <span class="arrow"></span></a>
                        </li>
                        <ul class="sub-menu collapse" id="Juridico">
                            @*<li>@Html.ActionLink("Processos Disciplinares", "ProcessosDisciplinares", "Juridico")</li>
                                <li>@Html.ActionLink("Processos de Inquérito", "ProcessosInquerito", "Juridico")</li>*@
                            <li>@Html.ActionLink("Administração", "Administracao", "Juridico")</li>
                        </ul>

                        <li data-toggle="collapse" data-target="#Compras" class="collapsed active">
                            <a href="#"> Compras <span class="arrow"></span></a>
                        </li>
                        <ul class="sub-menu collapse" id="Compras">
                            @*<li>@Html.ActionLink("Receção de Mercadorias", "RececaoMercadorias", "Compras")</li>
                                <li>@Html.ActionLink("Receção de Faturas", "RececaoFaturas", "Compras")</li>
                                <li>@Html.ActionLink("Tabelas Auxiliares", "TabelasAuxiliares", "Compras")</li>*@
                            @* zpgm.< Procedimentos CCP menu *@
                            <li data-toggle="collapse" data-target="#Compras" class="collapsed active">
                                <a href="#"> Procedimentos CCP <span class="arrow"></span></a>
                                <ul>
                                    <li>@Html.ActionLink("Pedido Aquisição", "PedidoAquisicao", "ProcedimentosCcps")</li>
                                    <li>@Html.ActionLink("Pedido Simplificado", "PedidoSimplificado", "ProcedimentosCcps")</li>
                                </ul>
                            </li>
                            @* zpgm.> *@
                            <li>@Html.ActionLink("Receção de Faturas", "RececaoFaturas", "Compras")</li>
                            <li>@Html.ActionLink("Administração", "Administracao", "Compras")</li>
                        </ul>

                        <li data-toggle="collapse" data-target="#Administracao" class="collapsed active">
                            <a href="#"> Administração <span class="arrow"></span></a>
                        </li>
                        <ul class="sub-menu collapse" id="Administracao">
                            <li>@Html.ActionLink("Configurações", "Configuracoes", "Administracao")</li>
                            <li>@Html.ActionLink("Config. Numerações", "ConfiguracaoNumeracoes", "Administracao")</li>
                            <li>@Html.ActionLink("Perfis Modelo", "PerfisModelo", "Administracao")</li>
                            <li>@Html.ActionLink("Config. Utilizadores", "ConfiguracaoUtilizadores", "Administracao")</li>
                        </ul>
                    </ul>
                </div>

            </div>

            <div class="body-content  col-lg-10 col-md-12 col-sm-12 col-xs-12">

                @RenderBody()
                <hr />

                @*<footer>
                        <p>&copy; @DateTime.Now.Year - Such</p>
                    </footer>*@
            </div>
        </div>


        <environment include="Development">
            <script src="~/lib/jquery/dist/jquery.js"></script>
            <script src="~/lib/bootstrap/dist/js/bootstrap.js"></script>
            <script src="~/js/site.js" asp-append-version="true"></script>
            <script src="/lib/webcomponentsjs/webcomponents-loader.js"></script>
            <script src="/lib/sweetalert.min.js"></script>
            <script src="/lib/bootbox.min.js"></script>
        </environment>
        <environment exclude="Development">
            <script src="https://ajax.aspnetcdn.com/ajax/jquery/jquery-2.2.0.min.js"
                    asp-fallback-src="~/lib/jquery/dist/jquery.min.js"
                    asp-fallback-test="window.jQuery"
                    crossorigin="anonymous"
                    integrity="sha384-K+ctZQ+LL8q6tP7I94W+qzQsfRV2a+AfHIi9k8z8l9ggpc8X+Ytst4yBo/hH+8Fk">
            </script>
            <script src="https://ajax.aspnetcdn.com/ajax/bootstrap/3.3.7/bootstrap.min.js"
                    asp-fallback-src="~/lib/bootstrap/dist/js/bootstrap.min.js"
                    asp-fallback-test="window.jQuery && window.jQuery.fn && window.jQuery.fn.modal"
                    crossorigin="anonymous"
                    integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa">
            </script>
            <script src="~/js/site.min.js" asp-append-version="true"></script>
        </environment>

        @RenderSection("Scripts", required: false)
    </div>
</body>



</html>
