@using Microsoft.AspNetCore.Http
@inject IHttpContextAccessor HttpContextAccessor
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Home - eSuch</title>
    <link rel="icon" href="~/images/favicon.ico">


    <!-- POLYMER IMPORTS -->
    <link rel="import" href="/lib/polymer/polymer-element.html" />
    <link rel="import" href="/lib/iron-ajax/iron-ajax.html" />


    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
    <link rel="stylesheet" href="~/css/main.css" />
    <link rel="stylesheet" href="~/lib/font-awesome-4.7.0/css/font-awesome.min.css" asp-append-version="true" />



    @*<environment exclude="Development">
            <link rel="stylesheet" href="https://ajax.aspnetcdn.com/ajax/bootstrap/3.3.7/css/bootstrap.min.css"
                  asp-fallback-href="~/lib/bootstrap/dist/css/bootstrap.min.css"
                  asp-fallback-test-class="sr-only" asp-fallback-test-property="position" asp-fallback-test-value="absolute" />
        </environment>*@

</head>
<body>
    <div class="container-fluid">
        <div class="row">
            <div class="nav-side-menu col-lg-2">
                <div class="brand"><a href="/"><img src="~/images/suchlogo.jpg" alt="Such Logotipo" /></a></div>
                <i class="fa fa-bars fa-2x toggle-btn" data-toggle="collapse" data-target="#menu-content"></i>

                <div class="menu-list">
                    <ul id="menu-content" class="menu-content collapse out">
                        <li data-toggle="Aprovações pendentes" class="active" id="approvalPendingShow">
                            <center style="color:red;"><a href="/Approvals" id="pendingApprovalsLink"> Aprovações Pendentes</a></center>
                        </li>
                        <li data-toggle="collapse" data-target="#Engenharia" class="collapsed active">
                            <a href="#"> Engenharia <span class="arrow"></span></a>

                            <ul class="sub-menu collapse" id="Engenharia">
                                <li>@Html.ActionLink("Oportunidades", "Oportunidades", "Engenharia", new { area = "" }, null)</li>
                                <li>@Html.ActionLink("Propostas", "Propostas", "Engenharia", new { area = "" }, null)</li>
                                <li>@Html.ActionLink("Contratos", "Contratos", "Engenharia", new { area = "" }, null)</li>
                                <li>@Html.ActionLink("Contratos Avença Fixa", "AvencaFixa", "Contratos", new { area = "" }, null)</li>
                                <li>@Html.ActionLink("Projetos", "Projetos", "Engenharia", new { area = "" }, null)</li>
                                <li>@Html.ActionLink("Faturação Projetos", "Faturacao", "Projetos", new { area = "" }, null)</li>
                                <li>@Html.ActionLink("Diário Projetos", "DiarioProjeto", "Engenharia", new { area = "" }, null)</li>
                                <li>@Html.ActionLink("Pré-Requisição", "PreRequisicoesDetalhes", "Engenharia", new { area = "" }, null)</li>
                                <li data-toggle="collapse" data-target="#FolhasDeHorasEngenharia" class="collapsed active">
                                    <a href="#"> Folha de Horas <span class="arrow"></span></a>
                                    <ul class="sub-menu collapse" id="FolhasDeHorasEngenharia">
                                        <li>@Html.ActionLink("Nova / Criadas", "FolhaDeHoras", "Engenharia", new { area = "" }, null)</li>
                                        <li>@Html.ActionLink("Por Validar", "FolhaDeHoras_Validacao", "Engenharia", new { area = "" }, null)</li>
                                        <li>@Html.ActionLink("Por Integrar Aj. Custo RH", "FolhaDeHoras_IntegracaoAjudaCusto", "Engenharia", new { area = "" }, null)</li>
                                        <li>@Html.ActionLink("Por Integrar KMs RH", "FolhaDeHoras_IntegracaoKMS", "Engenharia", new { area = "" }, null)</li>
                                        <li>@Html.ActionLink("Histórico", "FolhaDeHoras_Historico", "Engenharia", new { area = "" }, null)</li>
                                    </ul>
                                </li>
                                <li>@Html.ActionLink("Contactos", "Index", "Contactos", new { area = "" }, null)</li>
                                <li>@Html.ActionLink("Administração", "Administracao", "Engenharia", new { area = "" }, null)</li>
                            </ul>
                        </li>

                        <li data-toggle="collapse" data-target="#Ambiente" class="collapsed active">
                            <a href="#"> Ambiente <span class="arrow"></span></a>

                            <ul class="sub-menu collapse" id="Ambiente">
                                <li>@Html.ActionLink("Oportunidades", "Oportunidades", "Ambiente", new { area = "" }, null)</li>
                                <li>@Html.ActionLink("Propostas", "Propostas", "Ambiente", new { area = "" }, null)</li>
                                <li>@Html.ActionLink("Contratos", "Contratos", "Ambiente", new { area = "" }, null)</li>
                                <li>@Html.ActionLink("Contratos Avença Fixa", "AvencaFixa", "Contratos", new { area = "" }, null)</li>
                                <li>@Html.ActionLink("Projetos", "Projetos", "Ambiente", new { area = "" }, null)</li>
                                <li>@Html.ActionLink("Faturação Projetos", "Faturacao", "Projetos", new { area = "" }, null)</li>
                                <li>@Html.ActionLink("Diário Projetos", "DiarioProjeto", "Ambiente", new { area = "" }, null)</li>
                                <li>@Html.ActionLink("Pré-Requisição", "PreRequisicoesDetalhes", "Ambiente", new { area = "" }, null)</li>


                                <li data-toggle="collapse" data-target="#FolhasDeHorasAmbiente" class="collapsed active">
                                    <a href="#"> Folha de Horas <span class="arrow"></span></a>
                                    <ul class="sub-menu collapse" id="FolhasDeHorasAmbiente">
                                        <li>@Html.ActionLink("Nova / Criadas", "FolhaDeHoras", "Ambiente", new { area = "" }, null)</li>
                                        <li>@Html.ActionLink("Por Validar", "FolhaDeHoras_Validacao", "Ambiente", new { area = "" }, null)</li>
                                        <li>@Html.ActionLink("Por Integrar Aj. Custo RH", "FolhaDeHoras_IntegracaoAjudaCusto", "Ambiente", new { area = "" }, null)</li>
                                        <li>@Html.ActionLink("Por Integrar KMs RH", "FolhaDeHoras_IntegracaoKMS", "Ambiente", new { area = "" }, null)</li>
                                        <li>@Html.ActionLink("Histórico", "FolhaDeHoras_Historico", "Ambiente", new { area = "" }, null)</li>
                                    </ul>
                                </li>
                                <li>@Html.ActionLink("Contactos", "Index", "Contactos", new { area = "" }, null)</li>
                                <li>@Html.ActionLink("Administração", "Administracao", "Ambiente", new { area = "" }, null)</li>
                            </ul>
                        </li>

                        <li data-toggle="collapse" data-target="#Nutricao" class="collapsed active">
                            <a href="#"> Nutricao <span class="arrow"></span></a>

                            <ul class="sub-menu collapse" id="Nutricao">
                                <li>@Html.ActionLink("Oportunidades", "Oportunidades", "Nutricao", new { area = "" }, null)</li>
                                <li>@Html.ActionLink("Propostas", "Propostas", "Nutricao", new { area = "" }, null)</li>
                                <li>@Html.ActionLink("Contratos", "Contratos", "Nutricao", new { area = "" }, null)</li>
                                <li>@Html.ActionLink("Projetos", "Projetos", "Nutricao", new { area = "" }, null)</li>
                                <li>@Html.ActionLink("Faturação Projetos", "Faturacao", "Projetos", new { area = "" }, null)</li>
                                <li>@Html.ActionLink("Diário Projetos", "DiarioProjeto", "Nutricao", new { area = "" }, null)</li>
                                <li>@Html.ActionLink("Pré-Requisição", "PreRequisicoesDetalhes", "Nutricao", new { area = "" }, null)</li>
                                <li>@Html.ActionLink("Mod. Req. Simplificadas", "ModelosReqSimplificada", "Nutricao", new { area = "" }, null)</li>
                                <li>@Html.ActionLink("Req. Simplificadas", "RequisicoesSimplificadas", "Nutricao", new { area = "" }, null)</li>
                                <li>@Html.ActionLink("Req. Simpli. para Registar", "RequisicoesSimplificadas", "Nutricao", new { area = "", option = 1 }, null)</li>
                                <li>@Html.ActionLink("Hist. Req.  Simplificadas", "RequisicoesSimplificadas", "Nutricao", new { area = "", option = 2 }, null)</li>
                                <li>@Html.ActionLink("Faturação", "Faturacao", "Projetos", new { area = "" }, null)</li>
                                <li>@Html.ActionLink("Movimento de Produtos", "MovimentoProdutos", "Nutricao", new { area = "" }, null)</li>
                                <li>@Html.ActionLink("Unidade Armazem", "UnidadeArmazenamento", "Nutricao", new { area = "" }, null)</li>
                                <li>@Html.ActionLink("Unidades Produtivas", "UnidadesProdutivas", "Nutricao", new { area = "" }, null)</li>
                                <li>@Html.ActionLink("Cafetarias / Refeitórios", "CafetariasRefeitorios", "Nutricao", new { area = "" }, null)</li>
                                <li>@Html.ActionLink("Localizações", "Localizacoes", "Nutricao", new { area = "" }, null)</li>
                                <li data-toggle="collapse" data-target="#FolhasDeHorasNutricao" class="collapsed active">
                                    <a href="#"> Folha de Horas <span class="arrow"></span></a>
                                    <ul class="sub-menu collapse" id="FolhasDeHorasNutricao">
                                        <li>@Html.ActionLink("Nova / Criadas", "FolhaDeHoras", "Nutricao", new { area = "" }, null)</li>
                                        <li>@Html.ActionLink("Por Validar", "FolhaDeHoras_Validacao", "Nutricao", new { area = "" }, null)</li>
                                        <li>@Html.ActionLink("Por Integrar Aj. Custo RH", "FolhaDeHoras_IntegracaoAjudaCusto", "Nutricao", new { area = "" }, null)</li>
                                        <li>@Html.ActionLink("Por Integrar KMs RH", "FolhaDeHoras_IntegracaoKMS", "Nutricao", new { area = "" }, null)</li>
                                        <li>@Html.ActionLink("Histórico", "FolhaDeHoras_Historico", "Nutricao", new { area = "" }, null)</li>
                                    </ul>
                                </li>
                                <li>@Html.ActionLink("Fichas Tecnicas de Pratos", "FichasTecnicasPratos/Detalhes", "Nutricao", new { area = "" }, null)</li>
                                <li>@Html.ActionLink("Administração", "Administracao", "Nutricao", new { area = "" }, null)</li>
                            </ul>
                        </li>

                        <li data-toggle="collapse" data-target="#Vendas" class="collapsed active">
                            <a href="#"> Vendas <span class="arrow"></span></a>

                            <ul class="sub-menu collapse" id="Vendas">
                                <li>@Html.ActionLink("Oportunidades", "Oportunidades", "Vendas", new { area = "" }, null)</li>
                                <li>@Html.ActionLink("Propostas", "Propostas", "Vendas", new { area = "" }, null)</li>
                                <li>@Html.ActionLink("Contratos", "Contratos", "Vendas", new { area = "" }, null)</li>
                                <li>@Html.ActionLink("Contratos Avença Fixa", "AvencaFixa", "Contratos", new { area = "" }, null)</li>
                                <li>@Html.ActionLink("Projetos", "Projetos", "Vendas", new { area = "" }, null)</li>
                                <li>@Html.ActionLink("Faturação Projetos", "Faturacao", "Projetos", new { area = "" }, null)</li>
                                <li>@Html.ActionLink("Diário Projetos", "DiarioProjeto", "Vendas", new { area = "" }, null)</li>
                                <li>@Html.ActionLink("Pré-Requisição", "PreRequisicoesDetalhes", "Vendas", new { area = "" }, null)</li>

                                <li>@Html.ActionLink("Faturação", "Faturacao", "Projetos", new { area = "" }, null)</li>
                                <li>@Html.ActionLink("Avença Fixa", "AvencaFixa", "Contratos", new { area = "" }, null)</li>
                                @*<li>@Html.ActionLink("Requisições", "Requisicoes", "Vendas", new { area = "" }, null)</li>*@
                                @*<li>@Html.ActionLink("Histórico Requisições", "HistoricoResquisicoes", "Vendas", new { area = "" }, null)</li>*@
                                <li>@Html.ActionLink("Contactos", "Index", "Contactos", new { area = "" }, null)</li>
                                <li>@Html.ActionLink("Administração", "Administracao", "Vendas", new { area = "" }, null)</li>
                            </ul>
                        </li>
                        <li data-toggle="collapse" data-target="#Apoio" class="collapsed active">
                            <a href="#"> Apoio <span class="arrow"></span></a>

                            <ul class="sub-menu collapse" id="Apoio">
                                <li>@Html.ActionLink("Oportunidades", "Oportunidades", "Apoio", new { area = "" }, null)</li>
                                <li>@Html.ActionLink("Propostas", "Propostas", "Apoio", new { area = "" }, null)</li>
                                <li>@Html.ActionLink("Contratos", "Contratos", "Apoio", new { area = "" }, null)</li>
                                <li>@Html.ActionLink("Contratos Avença Fixa", "AvencaFixa", "Contratos", new { area = "" }, null)</li>
                                <li>@Html.ActionLink("Projetos", "Projetos", "Apoio", new { area = "" }, null)</li>
                                <li>@Html.ActionLink("Faturação Projetos", "Faturacao", "Projetos", new { area = "" }, null)</li>
                                <li>@Html.ActionLink("Diário Projetos", "DiarioProjeto", "Apoio", new { area = "" }, null)</li>
                                <li>@Html.ActionLink("Pré-Requisição", "PreRequisicoesDetalhes", "Apoio", new { area = "" }, null)</li>
                                @*<li>@Html.ActionLink("Requisições", "Resquisicoes", "Apoio", new { area = "" }, null)</li>*@
                                @*<li>@Html.ActionLink("Histórico Requisições", "HistoricoResquisicoes", "Apoio", new { area = "" }, null)</li>*@
                                <li>@Html.ActionLink("Autorização Faturação", "AutorizacaoFaturacao", "Projetos", new { area = "" }, null)</li>

                                <li data-toggle="collapse" data-target="#FolhasDeHorasApoio" class="collapsed active">
                                    <a href="#"> Folha de Horas <span class="arrow"></span></a>
                                    <ul class="sub-menu collapse" id="FolhasDeHorasApoio">
                                        <li>@Html.ActionLink("Nova / Criadas", "FolhaDeHoras", "Apoio", new { area = "" }, null)</li>
                                        <li>@Html.ActionLink("Por Validar", "FolhaDeHoras_Validacao", "Apoio", new { area = "" }, null)</li>
                                        <li>@Html.ActionLink("Por Integrar Aj. Custo RH", "FolhaDeHoras_IntegracaoAjudaCusto", "Apoio", new { area = "" }, null)</li>
                                        <li>@Html.ActionLink("Por Integrar KMs RH", "FolhaDeHoras_IntegracaoKMS", "Apoio", new { area = "" }, null)</li>
                                        <li>@Html.ActionLink("Histórico", "FolhaDeHoras_Historico", "Apoio", new { area = "" }, null)</li>
                                    </ul>
                                </li>
                                <li>@Html.ActionLink("Viaturas", "Viaturas", "Apoio", new { area = "" }, null)</li>
                                <li>@Html.ActionLink("Administração", "Administracao", "Apoio", new { area = "" }, null)</li>
                            </ul>
                        </li>
                        <li data-toggle="collapse" data-target="#PO" class="collapsed active">
                            <a href="#"> P&O <span class="arrow"></span></a>

                            <ul class="sub-menu collapse" id="PO">
                                <li>@Html.ActionLink("Oportunidades", "Oportunidades", "PO", new { area = "" }, null)</li>
                                <li>@Html.ActionLink("Propostas", "Propostas", "PO", new { area = "" }, null)</li>
                                <li>@Html.ActionLink("Contratos", "Contratos", "PO", new { area = "" }, null)</li>
                                <li>@Html.ActionLink("Projetos", "Projetos", "PO", new { area = "" }, null)</li>
                                <li>@Html.ActionLink("Diário Projetos", "DiarioProjeto", "PO", new { area = "" }, null)</li>
                                <li>@Html.ActionLink("Pré-Requisição", "PreRequisicoesDetalhes", "PO", new { area = "" }, null)</li>

                                <li>@Html.ActionLink("Faturação", "Faturacao", "Projetos", new { area = "" }, null)</li>
                                <li data-toggle="collapse" data-target="#FolhasDeHorasPO" class="collapsed active">
                                    <a href="#"> Folha de Horas <span class="arrow"></span></a>
                                    <ul class="sub-menu collapse" id="FolhasDeHorasPO">
                                        <li>@Html.ActionLink("Nova / Criadas", "FolhaDeHoras", "PO", new { area = "" }, null)</li>
                                        <li>@Html.ActionLink("Por Validar", "FolhaDeHoras_Validacao", "PO", new { area = "" }, null)</li>
                                        <li>@Html.ActionLink("Por Integrar Aj. Custo RH", "FolhaDeHoras_IntegracaoAjudaCusto", "PO", new { area = "" }, null)</li>
                                        <li>@Html.ActionLink("Por Integrar KMs RH", "FolhaDeHoras_IntegracaoKMS", "PO", new { area = "" }, null)</li>
                                        <li>@Html.ActionLink("Histórico", "FolhaDeHoras_Historico", "PO", new { area = "" }, null)</li>
                                    </ul>
                                </li>
                                <li>@Html.ActionLink("Administração", "Administracao", "PO", new { area = "" }, null)</li>
                            </ul>
                        </li>
                        <li data-toggle="collapse" data-target="#NovasAreas" class="collapsed active">
                            <a href="#"> Novas Áreas <span class="arrow"></span></a>

                            <ul class="sub-menu collapse" id="NovasAreas">
                                <li>@Html.ActionLink("Oportunidades", "Oportunidades", "NovasAreas", new { area = "" }, null)</li>
                                <li>@Html.ActionLink("Propostas", "Propostas", "NovasAreas", new { area = "" }, null)</li>
                                <li>@Html.ActionLink("Contratos", "Contratos", "NovasAreas", new { area = "" }, null)</li>
                                <li>@Html.ActionLink("Projetos", "Projetos", "NovasAreas", new { area = "" }, null)</li>
                                <li>@Html.ActionLink("Diário Projetos", "DiarioProjeto", "NovasAreas", new { area = "" }, null)</li>
                                <li>@Html.ActionLink("Pré-Requisição", "PreRequisicoesDetalhes", "NovasAreas", new { area = "" }, null)</li>

                                <li>@Html.ActionLink("Faturação", "Faturacao", "Projetos", new { area = "" }, null)</li>
                                <li data-toggle="collapse" data-target="#FolhasDeHorasNovasAreas" class="collapsed active">
                                    <a href="#"> Folha de Horas <span class="arrow"></span></a>
                                    <ul class="sub-menu collapse" id="FolhasDeHorasNovasAreas">
                                        <li>@Html.ActionLink("Nova / Criadas", "FolhaDeHoras", "NovasAreas", new { area = "" }, null)</li>
                                        <li>@Html.ActionLink("Por Validar", "FolhaDeHoras_Validacao", "NovasAreas", new { area = "" }, null)</li>
                                        <li>@Html.ActionLink("Por Integrar Aj. Custo RH", "FolhaDeHoras_IntegracaoAjudaCusto", "NovasAreas", new { area = "" }, null)</li>
                                        <li>@Html.ActionLink("Por Integrar KMs RH", "FolhaDeHoras_IntegracaoKMS", "NovasAreas", new { area = "" }, null)</li>
                                        <li>@Html.ActionLink("Histórico", "FolhaDeHoras_Historico", "NovasAreas", new { area = "" }, null)</li>
                                    </ul>
                                </li>
                                <li>@Html.ActionLink("Administração", "Administracao", "NovasAreas", new { area = "" }, null)</li>
                            </ul>
                        </li>
                        <li data-toggle="collapse" data-target="#Internacionalizacoes" class="collapsed active">
                            <a href="#"> Internacional <span class="arrow"></span></a>

                            <ul class="sub-menu collapse" id="Internacionalizacoes">
                                <li>@Html.ActionLink("Oportunidades", "Oportunidades", "Internacionalizacoes", new { area = "" }, null)</li>
                                <li>@Html.ActionLink("Propostas", "Propostas", "Internacionalizacoes", new { area = "" }, null)</li>
                                <li>@Html.ActionLink("Contratos", "Contratos", "Internacionalizacoes", new { area = "" }, null)</li>
                                <li>@Html.ActionLink("Projetos", "Projetos", "Internacionalizacoes", new { area = "" }, null)</li>
                                <li>@Html.ActionLink("Diário Projetos", "DiarioProjeto", "Internacionalizacoes", new { area = "" }, null)</li>
                                <li>@Html.ActionLink("Pré-Requisição", "PreRequisicoesDetalhes", "Internacionalizacoes", new { area = "" }, null)</li>
                                <li>@Html.ActionLink("Faturação", "Faturacao", "Projetos", new { area = "" }, null)</li>
                                <li>@Html.ActionLink("Avença Fixa", "AvencaFixa", "Contratos", new { area = "" }, null)</li>
                                <li data-toggle="collapse" data-target="#FolhasDeHorasInternacionalizacoes" class="collapsed active">
                                    <a href="#"> Folha de Horas <span class="arrow"></span></a>
                                    <ul class="sub-menu collapse" id="FolhasDeHorasInternacionalizacoes">
                                        <li>@Html.ActionLink("Nova / Criadas", "FolhaDeHoras", "Internacionalizacoes", new { area = "" }, null)</li>
                                        <li>@Html.ActionLink("Por Validar", "FolhaDeHoras_Validacao", "Internacionalizacoes", new { area = "" }, null)</li>
                                        <li>@Html.ActionLink("Por Integrar Aj. Custo RH", "FolhaDeHoras_IntegracaoAjudaCusto", "Internacionalizacoes", new { area = "" }, null)</li>
                                        <li>@Html.ActionLink("Por Integrar KMs RH", "FolhaDeHoras_IntegracaoKMS", "Internacionalizacoes", new { area = "" }, null)</li>
                                        <li>@Html.ActionLink("Histórico", "FolhaDeHoras_Historico", "Internacionalizacoes", new { area = "" }, null)</li>
                                    </ul>
                                </li>
                                <li>@Html.ActionLink("Contactos", "Index", "Contactos", new { area = "" }, null)</li>
                                <li>@Html.ActionLink("Administração", "Administracao", "Internacionalizacoes", new { area = "" }, null)</li>
                            </ul>
                        </li>
                        <li data-toggle="collapse" data-target="#Juridico" class="collapsed active">
                            <a href="#"> Jurídico <span class="arrow"></span></a>
                        
                            <ul class="sub-menu collapse" id="Juridico">
                                @*
                                <li>@Html.ActionLink("Processos Disciplinares", "ProcessosDisciplinares", "Juridico")</li>
                                <li>@Html.ActionLink("Processos de Inquérito", "ProcessosInquerito", "Juridico")</li>*@
                                <li>@Html.ActionLink("Administração", "Administracao", "Juridico", new { area = "" }, null)</li>
                            </ul>
                        </li>
                        <li data-toggle="collapse" data-target="#Compras" class="collapsed active">
                            <a href="#"> Compras <span class="arrow"></span></a>

                            <ul class="sub-menu collapse" id="Compras">
                                @*
        <li>@Html.ActionLink("Receção de Mercadorias", "RececaoMercadorias", "Compras")</li>
        <li>@Html.ActionLink("Receção de Faturas", "RececaoFaturas", "Compras")</li>
        <li>@Html.ActionLink("Tabelas Auxiliares", "TabelasAuxiliares", "Compras")</li>*@
                                @* zpgm.< Procedimentos CCP menu *@
                                <li data-toggle="collapse" data-target="#Compras" class="collapsed active">
                                    <a href="#"> Procedimentos CCP <span class="arrow"></span></a>
                                    <ul>
                                        <li>@Html.ActionLink("Pedido Aquisição", "PedidoAquisicao", "ProcedimentosCcps", new { area = "" }, null)</li>
                                        <li>@Html.ActionLink("Pedido Simplificado", "PedidoSimplificado", "ProcedimentosCcps", new { area = "" }, null)</li>
                                        <li>@Html.ActionLink("Quadro de Bordo", "QuadroBordo", "ProcedimentosCcps", new { area = "" }, null)</li>

                                    </ul>
                                </li>
                                @* zpgm.> *@
                                <li>@Html.ActionLink("Pré-Requisição", "PreRequisicoesDetalhes", "Compras", new { area = "" }, null)</li>
                                <li>@Html.ActionLink("Modelos Requisição", "ModelosRequisicao", "Compras", new { area = "" }, null)</li>
                                <li>@Html.ActionLink("Requisições a Validar", "GestaoRequisicoes/RequisicoesAprovadas", "Compras", new { area = "" }, null)</li>
                                <li data-toggle="collapse" data-target="#Compras" class="collapsed active">
                                    <a href="#"> Gestão de Requisições <span class="arrow"></span></a>
                                    <ul>
                                        <li>@Html.ActionLink("Requisições", "GestaoRequisicoes/Detalhes", "Compras", new { area = "" }, null)</li>
                                        <li>@Html.ActionLink("Pontos de Situação", "GestaoRequisicoes/PontosSituacao", "Compras", new { area = "" }, null)</li>
                                    </ul>
                                </li>
                                <li>@Html.ActionLink("Receção de Faturas", "RececaoFaturas", "Compras", new { area = "" }, null)</li>
                                <li>@Html.ActionLink("Administração", "Administracao", "Compras", new { area = "" }, null)</li>
                            </ul>
                        </li>
                        <li data-toggle="collapse" data-target="#Administracao" class="collapsed active">
                            <a href="#"> Administração <span class="arrow"></span></a>

                            <ul class="sub-menu collapse" id="Administracao">
                                <li>@Html.ActionLink("Configurações", "Configuracoes", "Administracao", new { area = "" }, null)</li>
                                <li>@Html.ActionLink("Config. Numerações", "ConfiguracaoNumeracoes", "Administracao", new { area = "" }, null)</li>
                                <li>@Html.ActionLink("Perfis Modelo", "PerfisModelo", "Administracao", new { area = "" }, null)</li>
                                <li>@Html.ActionLink("Config. Utilizadores", "ConfiguracaoUtilizadores", "Administracao", new { area = "" }, null)</li>
                                <li>@Html.ActionLink("Config. Ajudas de Custo", "ConfiguracaoAjudaCusto", "Administracao", new { area = "", id = "Administracao" }, null)</li>
                                <li>@Html.ActionLink("Config. FH Autorização Empregado", "ConfiguracaoAutorizacaoFHRH", "Administracao", new { area = "", id = "Administracao" })</li>
                                <li>@Html.ActionLink("Config. FH Distância", "ConfiguracaoDistanciaFH", "Administracao", new { area = "", id = "Administracao" }, null)</li>
                                <li>@Html.ActionLink("Config. FH Empregado Recursos", "ConfiguracaoRHRecursosFH", "Administracao", new { area = "", id = "Administracao" }, null)</li>
                                <li>@Html.ActionLink("Config. FH Origem Destino", "ConfiguracaoOrigemDestinoFH", "Administracao", new { area = "", id = "Administracao" }, null)</li>
                                <li>@Html.ActionLink("Config. FH Preço Venda Recursos", "ConfiguracaoPrecoVendaRecursoFH", "Administracao", new { area = "", id = "Administracao" }, null)</li>
                                <li>@Html.ActionLink("Config. FH Recursos", "ConfiguracaoRecursosFolhaHoras", "Administracao", new { area = "", id = "Administracao" }, null)</li>
                                <li>@Html.ActionLink("Config. FH Tipo Trabalho", "ConfiguracaoTipoTrabalhoFH", "Administracao", new { area = "", id = "Administracao" }, null)</li>
                                <li>@Html.ActionLink("Config. Aprovações", "ConfiguracaoAprovacoes", "Administracao", new { area = "", id = "Administracao" }, null)</li>
                                <li>@Html.ActionLink("Grupo Aprovações", "GruposAprovacoes", "Administracao", new { area = "", id = "Administracao" }, null)</li>
                                <li>@Html.ActionLink("Acordo de Preços", "AcordoPrecos_List", "Administracao", new { area = "" }, null)</li>
                            </ul>
                        </li>
                    </ul>
                </div>

            </div>

            <div class="body-content  col-lg-10 col-md-12 col-sm-12 col-xs-12">

                @RenderBody()
                <hr />

                @*<footer>
                        <p>&copy; @DateTime.Now.Year - Such</p>
                    </footer>*@
            </div>
        </div>

        <script src="~/lib/jquery/dist/jquery.js"></script>
        <script src="~/lib/bootstrap/dist/js/bootstrap.js"></script>
        <script src="~/js/site.js" asp-append-version="true"></script>
        <script src="/lib/webcomponentsjs/webcomponents-loader.js"></script>
        <script src="/lib/sweetalert.min.js"></script>
        <script src="/lib/bootbox.min.js"></script>

        <script>
            var TotalPendingApprovals = '@HttpContextAccessor.HttpContext.Session.GetString("totalPendingApprovals")';
            if (TotalPendingApprovals != "0" && TotalPendingApprovals != undefined) {
                $('#pendingApprovalsLink').text('Aprovações Pendentes (' + TotalPendingApprovals + ')');
            } else {
                $('#approvalPendingShow').hide();
            }

            $(".menu-content > li").click(function () {
                $(".menu-content").find(".sub-menu").not($(this).next('.sub-menu')).removeClass("in");
            });
            
        </script>
        <script src="https://ajax.aspnetcdn.com/ajax/jquery/jquery-2.2.0.min.js"
                asp-fallback-src="~/lib/jquery/dist/jquery.min.js"
                asp-fallback-test="window.jQuery"
                crossorigin="anonymous"
                integrity="sha384-K+ctZQ+LL8q6tP7I94W+qzQsfRV2a+AfHIi9k8z8l9ggpc8X+Ytst4yBo/hH+8Fk">
        </script>
        <script src="https://ajax.aspnetcdn.com/ajax/bootstrap/3.3.7/bootstrap.min.js"
                asp-fallback-src="~/lib/bootstrap/dist/js/bootstrap.min.js"
                asp-fallback-test="window.jQuery && window.jQuery.fn && window.jQuery.fn.modal"
                crossorigin="anonymous"
                integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa">
        </script>
        <script src="~/js/site.min.js" asp-append-version="true"></script>





        @RenderSection("Scripts", required: false)
    </div>
</body>



</html>
