
@{
    ViewData["Title"] = "Engenharia - Such";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1 class="title">Engenharia</h1>

<link rel="import" href="/elements/submenu/subMenuItemView.html">

<ul class="list-unstyled">
    <x-submenu link="@Url.Action("Oportunidades", "Engenharia")" image="contracts1.png" title="Oportunidades"></x-submenu>
    <x-submenu link="@Url.Action("Contratos", "Engenharia")" image="contracts1.png" title="Contratos"></x-submenu>
    <x-submenu link="@Url.Action("AvencaFixa", "Contratos")" image="contracts1.png" title="Faturação Contratos Avença Fixa"></x-submenu>
    @*<x-submenu link="@Url.Action("Requisicoes", "Engenharia")" image="requirement2.png" title="Requisições"></x-submenu>*@
    <x-submenu link="@Url.Action("Administracao", "Engenharia")" image="auxiliary1.png" title="Administração"></x-submenu>
</ul>

