
@{
    ViewData["Title"] = "Engenharia - Such";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1 class="title">Engenharia</h1>

<link rel="import" href="/elements/submenu/subMenuItemView.html">

<ul class="list-unstyled">
    <x-submenu link="@Url.Action("Oportunidades", "Engenharia")" image="opportunity.png" title="Oportunidades"></x-submenu>
    <x-submenu link="@Url.Action("Propostas", "Engenharia")" image="proposal.png" title="Propostas"></x-submenu>
    <x-submenu link="@Url.Action("Contratos", "Engenharia")" image="contract.png" title="Contratos"></x-submenu>
    <x-submenu link="@Url.Action("AvencaFixa", "Contratos")" image="avencafixa.png" title="Contratos Avença Fixa"></x-submenu>
    <x-submenu link="@Url.Action("Projetos", "Engenharia")" image="projects1.png" title="Projetos"></x-submenu>
    <x-submenu link="@Url.Action("Faturacao", "Projetos")" image="project_billing.png" title="Faturação Projetos"></x-submenu>
    <x-submenu link="@Url.Action("DiarioProjeto", "Engenharia")" image="diarioprojetos.png" title="Diário Projetos"></x-submenu>
    <x-submenu link="@Url.Action("PreRequisicoesLista", "Engenharia")" image="pre_requirement.png" title="Pré-Requisições"></x-submenu>
    <x-submenu link="@Url.Action("Resquisicoes", "Engenharia")" image="requirement.png" title="Requisições"></x-submenu>
    <x-submenu link="@Url.Action("HistoricoResquisicoes", "Engenharia")" image="history_requirement.png" title="Histórico Requisições"></x-submenu>
    <x-submenu link="@Url.Action("FolhaDeHoras_Index", "Engenharia")" image="folhadehoras.png" title="Folhas De Horas"></x-submenu>
    <x-submenu link="@Url.Action("Index", "Contactos")" image="contacts.png" title="Contactos"></x-submenu>
    <x-submenu link="@Url.Action("Administracao", "Engenharia")" image="auxiliary1.png" title="Administração"></x-submenu>
</ul>

