
@{
    ViewData["Title"] = "Administração - Such";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1 class="title">Administração</h1>

<div class="list-group marginSpace">
    <a class="list-group-item" href="@Url.Action("Configuracoes", "Administracao")"><i class="fa fa-cogs" aria-hidden="true"></i>&nbsp;Configurações</a>
    <a class="list-group-item" href="@Url.Action("ConfiguracaoNumeracoes", "Administracao")"><i class="fa fa-sort-numeric-asc" aria-hidden="true"></i>&nbsp;Configuração Numerações</a>
    <a class="list-group-item" href="@Url.Action("PerfisModelo", "Administracao")"><i class="fa fa-file-o" aria-hidden="true"></i>&nbsp;Perfis Modelo</a>
    <a class="list-group-item" href="@Url.Action("ConfiguracaoUtilizadores", "Administracao")"><i class="fa fa-users" aria-hidden="true"></i>&nbsp;Configurações utilizadores</a>
    <a class="list-group-item" href="@Url.Action("ConfiguracaoAjudaCusto", "Administracao", new { id = "Administracao" })"><i class="fa fa-credit-card" aria-hidden="true"></i>&nbsp;Configuração Ajudas de Custo</a>
    <a class="list-group-item" href="@Url.Action("ConfiguracaoRecursosFolhaHoras", "Administracao", new { id = "Administracao" })"><i class="fa fa-archive" aria-hidden="true"></i>&nbsp;Configuração Recursos Folha de Horas</a>
    <a class="list-group-item" href="@Url.Action("ConfiguracaoTipoTrabalhoFH", "Administracao", new { id = "Administracao" })"><i class="fa fa-archive" aria-hidden="true"></i>&nbsp;Configuração Tipo Trabalho Folha de Horas</a>
    <a class="list-group-item" href="@Url.Action("ConfiguracaoPrecoVendaRecursoFH", "Administracao", new { id = "Administracao" })"><i class="fa fa-archive" aria-hidden="true"></i>&nbsp;Configuração Preço Venda Recursos Folha de Horas</a>
    <a class="list-group-item" href="@Url.Action("ConfiguracaoRHRecursosFH", "Administracao", new { id = "Administracao" })"><i class="fa fa-archive" aria-hidden="true"></i>&nbsp;Configuração RH Recursos Folha de Horas</a>
</div>


