
@{
    ViewData["Title"] = "Pedido de Desenvolvimento";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<link rel="import" href="/lib/paper-tabs-master/paper-tab.html" />
<link rel="import" href="/lib/paper-tabs-master/paper-tabs.html" />
<link rel="import" href="/lib/iron-pages-master/iron-pages.html" />
<link rel="import" href="/lib/iron-menu-behavior/iron-menubar-behavior.html" />
<link rel="import" href="/lib/iron-form/iron-form.html" />
<link rel="import" href="/lib/paper-button/paper-button.html" />
<link rel="import" href="/lib/paper-toast-master/paper-toast.html" />

<link rel="import" href="/lib/datetime-picker-master/datetime-picker.html">
<link rel="import" href="/lib/vaadin-date-picker/vaadin-date-picker.html">
<link rel="import" href="/lib/vaadin-valo-theme/vaadin-date-picker.html">


<link rel="import" href="/lib/vaadin-text-field/vaadin-text-field.html">
<link rel="import" href="/lib/vaadin-combo-box/vaadin-combo-box.html" />
<link rel="import" href="/lib/such-textarea/such-textarea.html">

<link rel="import" href="/lib/vaadin-grid/vaadin-grid.html">
<link rel="import" href="/lib/vaadin-grid/vaadin-grid-filter.html">
<link rel="import" href="/lib/vaadin-grid/vaadin-grid-sorter.html">

<link rel="import" href="/lib/vaadin-checkbox/vaadin-checkbox.html">
<link rel="import" href="/lib/vaadin-valo-theme/vaadin-checkbox.html" />

<link rel="import" href="/lib/paper-dialog/paper-dialog.html" />
<link rel="import" href="/lib/paper-dialog-behavior/paper-dialog-behavior.html" />

<x-group-cont-product></x-group-cont-product>

<dom-module id="x-group-cont-product">
    <template>
        <link rel="stylesheet" href="/lib/bootstrap/dist/css/bootstrap.css" />
        <link rel="stylesheet" href="/lib/font-awesome-4.7.0/css/font-awesome.min.css" />
        <link rel="stylesheet" href="/css/main.css" />

        <style>
            vaadin-combo-box {
                margin-top: 0px !important;
                width: 100% !important;
            }

            vaadin-date-picker {
                margin-top: 0px !important;
                width: 100% !important;
            }

            vaadin-text-field {
                margin-top: 0px !important;
                width: 100%;
            }

            paper-button {
                margin-top: 10px;
            }

            .break_clear {
                margin-top: 15px;
                margin-right: 0px !important;
                margin-left: 0px !important;
            }

            .break_frm {
                margin-top: 15px;
            }

            .label_custom {
                color: var(--valo-contrast-60pct) !important;
                font-weight: 500 !important;
                font-size: var(--valo-font-size-s) !important;
                margin-left: calc(var(--valo-text-field-border-radius, var(--valo-border-radius)) / 4) !important;
                margin-bottom: var(--valo-space-xs) !important;
                transition: color 0.4s !important;
                line-height: 1 !important;
                font-family: var(--valo-font-family) !important;
            }

            datetime-picker {
                border-radius: var(--valo-text-field-border-radius, var(--valo-border-radius));
                background-color: var(--valo-contrast-5pct);
                color: var(--valo-contrast-60pct) !important;
                width: 100%;
            }

            .marginSpace {
                margin: 0px !important;
            }

            textarea {
                background-color: #f5f5f5;
                border: none;
                border-radius: 3px 4px;
                align-self: baseline;
                font-weight: 500;
            }

                textarea:hover {
                    background-color: #eeeeee;
                }

                textarea:focus {
                    background-color: white;
                    border: none;
                    outline: 1px solid #eeeeee;
                    border-radius: 3px 4px;
                }

            datetime-picker {
                --datetime-selected-background: #71BCC1 !important;
                --datetime-background: #1f3133;
                --datetime-color: #eeeeee;
            }

            paper-collapse-item {
                --paper-item: {
                    padding: 0 0;
                };
                --paper-collapse-item-header: {
                    padding: 0 15px;
                    color: #333;
                    background-color: #f5f5f5;
                    border-bottom: solid #ddd 1px;
                    border-top-left-radius: 3px;
                    border-top-right-radius: 3px;

                };
            }

            .panel-body {
                padding-top: 0px !important;
            }
        </style>

        <!-- DROPDOWNS POPULATE -->
        <iron-ajax url="/PopulateDropdowns/Get_DEV_Estados" last-response="{{ListEstados}}" auto method="post" handle-as="json" content-type="application/json"></iron-ajax>

        <iron-ajax url="/PedidosDEV/GetPedidoDesenvolvimento"
                   last-response="{{data}}"
                   method="post"
                   handle-as="json"
                   id="ajax_GetPedidoDesenvolvimento"
                   on-response="_getDEVResponse"
                   content-type="application/json">
        </iron-ajax>

        <iron-ajax url="/PedidosDEV/CreatePedidoDesenvolvimento"
                   last-response="{{createDEV}}"
                   method="post"
                   handle-as="json"
                   on-response="_createDEVResponse"
                   id="ajax_CreatePedidoDesenvolvimento"
                   content-type="application/json">
        </iron-ajax>

        <iron-ajax url="/PedidosDEV/UpdatePedidoDesenvolvimento"
                   last-response="{{updateDEV}}"
                   method="post"
                   handle-as="json"
                   on-response="_updateDEVResponse"
                   id="ajax_UpdatePedidoDesenvolvimento"
                   content-type="application/json">
        </iron-ajax>

        <iron-ajax url="/PedidosDEV/DeletePedidoDesenvolvimento"
                   last-response="{{deletedDEV}}"
                   method="post"
                   handle-as="json"
                   on-response="_deleteDEVResponse"
                   id="ajax_DeletePedidoDesenvolvimento"
                   content-type="application/json">
        </iron-ajax>

        <div class="subMenu">
            <paper-button id="btnGoBack" class="tablinks" on-tap="_goBack"><i class="fa fa-arrow-left" aria-hidden="true"></i> Voltar</paper-button>

            @if (ViewBag.NoPedidoDEV == "0")
            {
                <paper-button id="btnCreate" class="tablinks" on-tap="_createPedidoDEV" disabled="{{ _permissionsCreate }}"><i class="fa fa-check" aria-hidden="true"></i> Criar Novo Pedido</paper-button>
            }
            else
            {
                <paper-button id="btnUpdate" class="tablinks" on-tap="_updatePedidoDEV" disabled="{{ _permissionsUpdate }}"><i class="fa fa-save" aria-hidden="true"></i> Gravar Pedido</paper-button>
            }
        </div>

        <div class="panel-body">
            <div class="row break_clear">
                <div class="col-sm-2">
                    <vaadin-text-field id="pedidosDEVID" value="{{data.id}}" label="ID" disabled></vaadin-text-field>
                </div>

                <div class="col-sm-6">
                    <vaadin-text-field id="pedidosDEVProcesso" value="{{data.processo}}" label="Processo" maxlength="2000" disabled="{{ _permissionsUpdate }}"></vaadin-text-field>
                </div>

                <div class="col-sm-2">
                    <vaadin-combo-box items="[[ListEstados]]" id="pedidosDEVEstado" item-value-path="id" item-label-path="value" value="{{data.estado}}" label="Estado" disabled="{{ _permissionsUpdate }}">
                        <template>
                            <table>
                                <tr>
                                    <td width="100%"> <b>[[item.value]]</b></td>
                                </tr>
                            </table>
                        </template>
                    </vaadin-combo-box>
                </div>

                <div class="col-sm-2">
                    <vaadin-date-picker id="pedidosDEVDataEstado" value="{{data.dataEstadoText}}" label="Data do Estado" disabled></vaadin-date-picker>
                </div>
            </div>

            <div class="row break_clear">
                <div class="col-sm-12">
                    <such-textarea id="pedidosDEVDescricao" value="{{data.descricao}}" label="Descrição" rows="5" maxlength="2000" disabled="{{ _permissionsUpdate }}"></such-textarea>
                </div>
            </div>

            <div class="row break_clear">
                <div class="col-sm-12">
                    <such-textarea id="pedidosDEVAcao" value="{{data.acao}}" label="Ação" rows="5" maxlength="2000" disabled="{{ _permissionsUpdate }}"></such-textarea>
                </div>
            </div>

            <div class="row break_clear">
                <div class="col-sm-4">
                    <vaadin-text-field id="pedidosDEVURL" value="{{data.url}}" label="Link da Página" maxlength="2000" disabled="{{ _permissionsUpdate }}"></vaadin-text-field>
                </div>

                <div class="col-sm-4">
                    <vaadin-text-field id="pedidosDEVPedidoPor" value="{{data.pedidoPor}}" label="Pedido Por" maxlength="2000" disabled="{{ _permissionsUpdate }}"></vaadin-text-field>
                </div>

                <div class="col-sm-2">
                    <vaadin-date-picker id="pedidosDEVDataPedido" value="{{data.dataPedidoText}}" label="Data do Pedido" disabled="{{ _permissionsUpdate }}"></vaadin-date-picker>
                </div>

                <div class="col-sm-2">
                    <vaadin-date-picker id="pedidosDEVDataConclusao" value="{{data.dataConclusaoText}}" label="Data da Conclusão" disabled="{{ _permissionsUpdate }}"></vaadin-date-picker>
                </div>
            </div>

            <div class="row break_clear">
                <div class="col-sm-8">
                    <vaadin-text-field id="pedidosDEVIntervenientes" value="{{data.intervenientes}}" label="Intervenientes" maxlength="2000" disabled="{{ _permissionsUpdate }}"></vaadin-text-field>
                </div>

                <div class="col-sm-2">
                    <vaadin-text-field id="pedidosDEVNoHorasPrevistas" value="{{data.noHorasPrevistas}}" label="Nº de Horas Previstas" type="number" class="alignRight" disabled="{{ _permissionsUpdate }}"></vaadin-text-field>
                </div>

                <div class="col-sm-2">
                    <vaadin-text-field id="pedidosDEVNoHorasRealizadas" value="{{data.noHorasRealizadas}}" label="Nº de Horas Realizadas" type="number" class="alignRight" disabled="{{ _permissionsUpdate }}"></vaadin-text-field>
                </div>
            </div>

            <div class="row break_clear">
                <div class="col-sm-3">
                    <vaadin-text-field id="pedidosDEVCriadoPor" value="{{data.criadoPor}}" label="Criado Por" disabled></vaadin-text-field>
                </div>

                <div class="col-sm-3">
                    <vaadin-date-picker id="pedidosDEVDataCriacaoText" value="{{data.dataCriacaoText}}" label="Data de Criação" disabled></vaadin-date-picker>
                </div>

                <div class="col-sm-3">
                    <vaadin-text-field id="pedidosDEVAlteradoPor" value="{{data.alteradoPor}}" label="Alterado Por" disabled></vaadin-text-field>
                </div>

                <div class="col-sm-3">
                    <vaadin-date-picker id="pedidosDEVDataAlteracaoText" value="{{data.dataAlteracaoText}}" label="Data de Alteração" disabled></vaadin-date-picker>
                </div>
            </div>
        </div>

        <paper-toast id="ToastMessageSuccess" duration="4000" horizontalAlign="right" class="toastSuccess">&nbsp;<i class="fa fa-check fa-lg" aria-hidden="true"></i></paper-toast>
        <paper-toast id="ToastMessageError" duration="4000" horizontalAlign="right" class="toastError">&nbsp;<i class="fa fa-exclamation-triangle" aria-hidden="true"></i></paper-toast>
    </template>

    <script>
        var ReadValue = true, CreateValue = true, UpdateValue = true, DeleteValue = true;
        /**/
        if ('@Html.Raw(Json.Serialize(ViewBag.ReadPermissions))' == "false") {
            /**/
            ReadValue = false;
        }
        /**/
        if ('@Html.Raw(Json.Serialize(ViewBag.CreatePermissions))' == "false") {
            /**/
            CreateValue = false;
        }
        /**/
        if ('@Html.Raw(Json.Serialize(ViewBag.UpdatePermissions))' == "false") {
            /**/
            UpdateValue = false;
        }
        /**/
        if ('@Html.Raw(Json.Serialize(ViewBag.DeletePermissions))' == "false") {
            /**/
            DeleteValue = false;
        }

        document.addEventListener('WebComponentsReady',
            function () {
                Polymer({
                    is: 'x-group-cont-product',
                    properties: {
                        _permissionsRead: {
                            type: Boolean,
                            value: ReadValue
                        },
                        _permissionsCreate: {
                            type: Boolean,
                            value: CreateValue
                        },
                        _permissionsUpdate: {
                            type: Boolean,
                            value: UpdateValue
                        },
                        _permissionsDelete: {
                            type: Boolean,
                            value: DeleteValue
                        },
                    },

                    ready: function () {
                        this.$.ajax_GetPedidoDesenvolvimento.body = JSON.stringify({ "ID": "@ViewBag.NoPedidoDEV" });
                        this.$.ajax_GetPedidoDesenvolvimento.generateRequest();
                    },
                    _getDEVResponse: function (e) {
                        this._setFieldsEditability();
                    },

                    //Mostra Mensagens
                    _showMessage: function (message) {
                        this.$.ToastMessageSuccess.text = message;
                        this.$.ToastMessageSuccess.open();
                    },

                    //Mostra Mensagens de Erro
                    _showErrorMessage: function (message) {
                        this.$.ToastMessageError.text = message;
                        this.$.ToastMessageError.open();
                    },

                    _goBack: function (e) {
                        window.history.back();
                    },

                    _createPedidoDEV: function () {
                        this.$.ajax_CreatePedidoDesenvolvimento.body = JSON.stringify(this.data);
                        this.$.ajax_CreatePedidoDesenvolvimento.generateRequest();
                    },
                    _createDEVResponse: function (e) {
                        if (this.createDEV.eReasonCode == 1) {
                            this._showMessage(this.createDEV.eMessage);

                            window.location.href = "/Administracao/PedidosDEV/" + this.createDEV.id;
                        }
                        else {
                            this._showErrorMessage(this.createDEV.eMessage);
                        }
                    },

                    _updatePedidoDEV: function () {
                        if (this.data.estado != 2 && this.data.estado != 6) { //2 = Recusado  6 = Concluído
                            this.$.ajax_UpdatePedidoDesenvolvimento.body = JSON.stringify(this.data);
                            this.$.ajax_UpdatePedidoDesenvolvimento.generateRequest();
                        }
                        else {
                            var _self = this;
                            var ajax_request = _self.$.ajax_UpdatePedidoDesenvolvimento;

                            bootbox.confirm({
                                message: "O Pedido de Desenvolvimento irá ficar bloqueado, tem a certeza que deseja continuar?",
                                buttons: {
                                    confirm: {
                                        label: 'Sim',
                                        className: 'btn-success'
                                    },
                                    cancel: {
                                        label: 'Não',
                                        className: 'btn-danger'
                                    }
                                },
                                callback: function (updateDEV) {
                                    if (updateDEV) {
                                        ajax_request.body = JSON.stringify(_self.data);
                                        ajax_request.generateRequest();
                                    }
                                }
                            });
                        }
                    },
                    _updateDEVResponse: function (e) {
                        if (this.updateDEV.eReasonCode == 1) {
                            this._showMessage(this.updateDEV.eMessage);

                            window.location.href = "/Administracao/PedidosDEV/" + this.data.id;
                        }
                        else {
                            this._showErrorMessage(this.updateDEV.eMessage);
                        }
                    },

                    _setFieldsEditability() {
                        var _self = this;

                        if (_self.data.id == 0 && _self.data.estado == 0) { //0 = Pedido
                            _self.$.pedidosDEVEstado.disabled = true;
                        }

                        if (_self.data.estado == 2 || _self.data.estado == 6) { //2 = Recusado  6 = Concluído
                            (_self.$.btnUpdate).hidden = true;

                            _self.$.pedidosDEVProcesso.disabled = true;
                            _self.$.pedidosDEVEstado.disabled = true;
                            _self.$.pedidosDEVDescricao.disabled = true;
                            _self.$.pedidosDEVURL.disabled = true;
                            _self.$.pedidosDEVPedidoPor.disabled = true;
                            _self.$.pedidosDEVDataPedido.disabled = true;
                            _self.$.pedidosDEVDataConclusao.disabled = true;
                            _self.$.pedidosDEVIntervenientes.disabled = true;
                            _self.$.pedidosDEVNoHorasPrevistas.disabled = true;
                            _self.$.pedidosDEVNoHorasRealizadas.disabled = true;
                        }
                    },


                });
            });
    </script>
</dom-module>


