
@{
    ViewData["Title"] = "Administracao";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1 class="title">Administração</h1>
<link rel="import" href="/elements/submenu/subMenuItemView.html">
<div class="list-group marginSpace">
    <a class="list-group-item" href="@Url.Action("TiposProjetoDetalhes", "Administracao", new {id = "Nutricao" })"><i class="fa fa-pie-chart" aria-hidden="true"></i>&nbsp;Tipos Projeto</a>
    <a class="list-group-item" href="@Url.Action("TiposGrupoContabProjeto", "Administracao", new {id = "Nutricao" })"><i class="fa fa-credit-card" aria-hidden="true"></i>&nbsp;Tipos Grupo Contab. Projeto</a>
    <a class="list-group-item" href="@Url.Action("TiposGrupoContabOMProjeto", "Administracao", new {id = "Nutricao" })"><i class="fa fa-credit-card-alt" aria-hidden="true"></i>&nbsp;Tipos Grupo Contab OM Projeto</a>
    <a class="list-group-item" href="@Url.Action("ObjetosDeServico", "Administracao", new {id = "Nutricao" })"><i class="fa fa-object-group" aria-hidden="true"></i>&nbsp;Objetos De Serviço</a>
    <a class="list-group-item" href="@Url.Action("TiposRefeicao", "Administracao", new {id = "Nutricao" })"><i class="fa fa-cutlery" aria-hidden="true"></i>&nbsp;Tipos Refeição</a>
    <a class="list-group-item" href="@Url.Action("Servicos", "Administracao", new {id = "Nutricao" })"><i class="fa fa-list-alt" aria-hidden="true"></i>&nbsp;Serviços</a>
    <a class="list-group-item" href="@Url.Action("ServicosCliente", "Administracao", new {id = "Nutricao" })"><i class="fa fa-handshake-o" aria-hidden="true"></i>&nbsp;Serviços Cliente</a>
    <a class="list-group-item" href="@Url.Action("DestinosFinaisResiduos", "Administracao", new {id = "Nutricao" })"><i class="fa fa-archive" aria-hidden="true"></i>&nbsp;Destinos Finais Residuos</a>
    <a class="list-group-item" href="@Url.Action("ClassificacaoFichasTecnicas", "Nutricao", new {id = "Nutricao", option = "Grupos" })"><i class="fa fa-list" aria-hidden="true"></i>&nbsp;Grupos Classif. Fichas Técnicas</a>
    <a class="list-group-item" href="@Url.Action("ClassificacaoFichasTecnicas", "Nutricao", new {id = "" })"><i class="fa fa-pencil-square" aria-hidden="true"></i>&nbsp;Classif. Fichas Técnicas</a>
    <a class="list-group-item" href="@Url.Action("AccoesConfecao", "Nutricao", new {id = "Nutricao" })"><i class="fa fa-tasks" aria-hidden="true"></i>&nbsp;Acções Confeção</a>
    <a class="list-group-item" href="@Url.Action("ProcedimentoConfecao", "Nutricao", new {id = "Nutricao" })"><i class="fa fa-share-alt" aria-hidden="true"></i>&nbsp;Procedimento Confeção</a>

</div>

