
@{
    ViewData["Title"] = "Nutrição - Such";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1 class="title">Nutrição</h1>

<link rel="import" href="/elements/submenu/subMenuItemView.html">

<ul class="list-unstyled">
    <x-submenu link="@Url.Action("Oportunidades", "Nutricao")" image="opportunity.png" title="Oportunidades"></x-submenu>
    <x-submenu link="@Url.Action("Propostas", "Nutricao")" image="proposal.png" title="Propostas"></x-submenu>
    <x-submenu link="@Url.Action("Contratos", "Nutricao")" image="contract.png" title="Contratos"></x-submenu>
    <x-submenu link="@Url.Action("AvencaFixa", "Contratos")" image="avencafixa.png" title="Faturação Contratos Avença Fixa"></x-submenu>
    <x-submenu link="@Url.Action("Projetos", "Nutricao")" image="projects1.png" title="Projetos"></x-submenu>
    <x-submenu link="@Url.Action("DiarioProjeto", "Nutricao")" image="diarioprojetos.png" title="Diário Projetos"></x-submenu>
    @*<x-submenu link="@Url.Action("Contratos", "Nutricao")" image="contracts1.png" title="Contratos"></x-submenu>
        <x-submenu link="@Url.Action("Requisicoes", "Nutricao")" image="requirement2.png" title="Requisições"></x-submenu>
        <x-submenu link="@Url.Action("FichasTecnicasPratos", "Nutricao")" image="sheet3.png" title="Fichas Técnicas de Pratos"></x-submenu>*@
    <x-submenu link="@Url.Action("FolhaDeHoras_Index", "Nutricao")" image="folhadehoras.png" title="Folhas De Horas"></x-submenu>
    <x-submenu link="@Url.Action("Administracao", "Nutricao")" image="auxiliary1.png" title="Administração"></x-submenu>
    <x-submenu link="@Url.Action("FichasTecnicasPratos/Detalhes", "Nutricao")" image="nutricion.png" title="Fichas Técnicas de Pratos"></x-submenu>
</ul>

