
@{
    ViewData["Title"] = "Nutrição - Such";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1 class="title">Nutrição</h1>

<link rel="import" href="/elements/submenu/subMenuItemView.html">

<ul class="list-unstyled">
    <x-submenu link="@Url.Action("Projetos", "Nutricao")" image="projects1.png" title="Projetos"></x-submenu>
    <x-submenu link="@Url.Action("DiarioProjeto", "Projetos")" image="projects1.png" title="Diário Projetos"></x-submenu>
    @*<x-submenu link="@Url.Action("Contratos", "Nutricao")" image="contracts1.png" title="Contratos"></x-submenu>
    <x-submenu link="@Url.Action("Requisicoes", "Nutricao")" image="requirement2.png" title="Requisições"></x-submenu>
    <x-submenu link="@Url.Action("FichasTecnicasPratos", "Nutricao")" image="sheet3.png" title="Fichas Técnicas de Pratos"></x-submenu>*@
    <x-submenu link="@Url.Action("Administracao", "Nutricao")" image="auxiliary1.png" title="Administração"></x-submenu>
</ul>

